<th:block th:fragment="default(route)" xmlns:th="http://www.w3.org/1999/xhtml">
    <!doctype html>
    <html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
        <head>
            <!-- ==================== META ======================== -->
            <th:block th:insert="~{fragments/common :: meta}"></th:block>
            <!-- ==================== STYLE ======================== -->
            <th:block th:insert="~{fragments/common :: styles_admin}"></th:block>
            <!-- ==================== TITLE ======================== -->
            <th:block th:insert="~{fragments/common :: title(${route})}"></th:block>
            
        </head>
        <body class="dark-mode-variables">
            <!-- создаем внешнюю обертку -->
            <div class="wrapper">
                <div class="container_admin">
                    <!-- Слайдер бар - Начало -->
                    <header th:replace="~{admin/fragments/side_bar :: side_bar}"></header>
                    
                    
                    <!-- ==================== MAIN START ======================== -->

                    <!-- ==================== FRAGMENT: title ======================== -->
                    <th:block th:switch="${route}">
                        <th:block th:case="fast_analytics" th:insert="~{admin/pages/fast_analytics :: content(${route})}"></th:block>
                        <th:block th:case="personal" th:insert="~{admin/pages/personal :: content(${route})}"></th:block>
                        <th:block th:case="user_info" th:insert="~{admin/pages/user_info :: content(${route})}"></th:block>
                        <th:block th:case="analyse" th:insert="~{admin/pages/analyse :: content(${route})}"></th:block>
                        <th:block th:case="score" th:insert="~{admin/pages/score :: content(${route})}"></th:block>
                    </th:block>

                    <!-- ===================== MAIN END ======================== -->

                    <th:block th:insert="~{admin/fragments/right-section :: right-section}"></th:block>

                </div><!-- container_admin --> 
            </div><!-- wrapper --> 
            
            <!-- ==================== FOOTHER ======================== -->  
            <!-- <header th:replace="~{fragments/footer :: footer}"></header> -->
            <!-- ==================== JS ======================== -->  
            <th:block th:insert="~{fragments/common :: js_admin}"></th:block>
        </body>
    </html>
</th:block>