version: '3.8'

services:
  mysql:
    image: mysql:latest
    container_name: my-mysql
    volumes:
      - mysql_data:/var/lib/mysql
      - ./data/mysql_backup:/backup
      - ./data/bots:/var/lib/mysql-files/
    restart: always
    ports:
      - '3306:3306'
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    networks:
      - internal_net

  nginx:
    image: nginx:latest
    ports:
      - '80:80'
      - '443:443'
    restart: always
    volumes:
      - ./data/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./data/nginx/o-ogo.crt:/etc/ssl/o-ogo.crt
      - ./data/nginx/ca.crt:/etc/ssl/ca.crt
      - ./data/nginx/o-ogo.key:/etc/ssl/o-ogo.key
      - ./data/nginx/www:/var/www
      - ./data/nginx/logs/nginx:/var/log/nginx
      - ./data/proxy_cache:/var/lib/nginx/proxy_cache
    depends_on:
      - mysql
    networks:
      - internal_net

  app:
    image: claid38/otziv-app
    restart: always
    depends_on:
      - mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      TELEGRAM_BOT_TOKEN: ${TELEGRAM_BOT_TOKEN}
      TELEGRAM_BOT_USERNAME: ${TELEGRAM_BOT_USERNAME}
      MAIL_PASSWORD: ${MAIL_PASSWORD}
      MAIL_USERNAME: ${MAIL_USERNAME}
      DATABASE_URL: ${DATABASE_URL}
      HTTP_PROXY: http://vpn-proxy:8888
      HTTPS_PROXY: http://vpn-proxy:8888
    env_file:
      - .env
    volumes:
      - ./data/app-logs:/app/logs
    networks:
      - internal_net

  phpmyadmin:
    image: phpmyadmin:latest
    ports:
      - "6571:80"
    volumes:
      - ./data/phpmyadmin/config.inc.php:/etc/phpmyadmin/config.inc.php
    restart: always
    environment:
      - UPLOAD_LIMIT=512M
      - PMA_HOST=mysql
      - PMA_USER=${MYSQL_USER}
      - PMA_PASSWORD=${MYSQL_PASSWORD}
    networks:
      - internal_net

  vpn-proxy:
    image: qmcgaw/gluetun:latest
    container_name: vpn-proxy
    cap_add:
      - NET_ADMIN
    environment:
      - VPN_SERVICE_PROVIDER=custom
      - VPN_TYPE=wireguard
      - WIREGUARD_PRIVATE_KEY=+Gw0CzywSmBnqAqJ/AFxUvcdmJoLMTkYnXNVc2G4C3Q=
      - WIREGUARD_ADDRESSES=10.64.128.252/32
      - WIREGUARD_PUBLIC_KEY=veLqpZazR9j/Ol2G8TfrO32yEhc1i543MCN8rpy1FBA=
      - WIREGUARD_ENDPOINT_IP=185.204.1.203
      - WIREGUARD_ENDPOINT_PORT=51820
      - WIREGUARD_ALLOWED_IPS=0.0.0.0/0,::0/0
      - FIREWALL=off
      - HTTPPROXY=on
      - HTTPPROXY_LOG=on
      - DNS=10.64.0.1
#    ports:
#      - "8888:8888"
    restart: always
    networks:
      - internal_net


  log-viewer:
    image: amir20/dozzle
    container_name: log-viewer
    ports:
      - "8081:8080"
    volumes:
      - ./data/app-logs:/logs
      - /var/run/docker.sock:/var/run/docker.sock  # ✅ главное изменение
    environment:
      - DOZZLE_LEVEL=info
    networks:
      - internal_net

#  http://o-ogo:ru:1002/qr

  whatsapp_vika:
    image: claid38/otziv-whatsapp
    container_name: whatsapp_vika
    volumes:
      - ./whatsapp_auth_data/whatsapp_vika:/root/.config/whatsapp-web.js
    ports:
      - "1001:3000"
    restart: always
    environment:
      - CLIENT_ID=whatsapp_vika
      - SERVER_URL=https://o-ogo.ru
      - AUTH_PATH=/root/.config/whatsapp-web.js
    networks:
      - internal_net


  whatsapp_lika:
    image: claid38/otziv-whatsapp
    container_name: whatsapp_lika
    volumes:
      - ./whatsapp_auth_data/whatsapp_lika:/root/.config/whatsapp-web.js
    ports:
      - "1002:3000"
    restart: always
    depends_on:
      - whatsapp_vika
    environment:
      - CLIENT_ID=whatsapp_lika
      - SERVER_URL=https://o-ogo.ru
      - AUTH_PATH=/root/.config/whatsapp-web.js
    networks:
      - internal_net

#  client1:
#    image: claid38/otziv-whatsapp
#    container_name: client1
#    volumes:
#      - ./whatsapp_auth_data/client1:/root/.config/whatsapp-web.js
#    ports:
#      - "3001:3000"
#    restart: always
#    depends_on:
#      - whatsapp_vika
#      - whatsapp_lika
#    environment:
#      - CLIENT_ID=client1
#      - SERVER_URL=http://nginx:80
#      - AUTH_PATH=/root/.config/whatsapp-web.js
#    networks:
#      - internal_net
#
#  client2:
#    image: claid38/otziv-whatsapp
#    container_name: client2
#    volumes:
#      - ./whatsapp_auth_data/client2:/root/.config/whatsapp-web.js
#    ports:
#      - "3002:3000"
#    restart: always
#    depends_on:
#      - whatsapp_vika
#      - client1
#    environment:
#      - CLIENT_ID=client2
#      - SERVER_URL=http://nginx:80
#      - AUTH_PATH=/root/.config/whatsapp-web.js
#    networks:
#      - internal_net
#
#  client3:
#    image: claid38/otziv-whatsapp
#    container_name: client3
#    volumes:
#      - ./whatsapp_auth_data/client3:/root/.config/whatsapp-web.js
#    ports:
#      - "3003:3000"
#    restart: always
#    depends_on:
#      - whatsapp_vika
#      - client2
#    environment:
#      - CLIENT_ID=client3
#      - SERVER_URL=http://nginx:80
#      - AUTH_PATH=/root/.config/whatsapp-web.js
#    networks:
#      - internal_net










#  whatsapp_vika:
#    image: claid38/otziv-whatsapp
#    container_name: whatsapp_vika
#    volumes:
#      - whatsapp_auth_data:/root/.config/whatsapp-web.js
#    ports:
#      - "1001:3000"
#    restart: always
#    environment:
#      - CLIENT_ID=whatsapp_vika
#      - SERVER_URL=http://nginx:80
#      - AUTH_PATH=/root/.config/whatsapp-web.js
#    networks:
#      - internal_net


#  whatsapp_lika:
#    image: claid38/otziv-whatsapp
#    container_name: whatsapp_lika
#    volumes:
#      - whatsapp_auth_data:/root/.config/whatsapp-web.js
#    ports:
#      - "1002:3000"
#    restart: always
#    depends_on:
#      - whatsapp_vika
#    environment:
#      - CLIENT_ID=whatsapp_lika
#      - SERVER_URL=http://nginx:80
#      - AUTH_PATH=/root/.config/whatsapp-web.js
#    networks:
#      - internal_net
#
#  client1:
#    image: claid38/otziv-whatsapp
#    container_name: client1
#    volumes:
#      - whatsapp_auth_data:/root/.config/whatsapp-web.js
#    ports:
#      - "3001:3000"
#    restart: always
#    depends_on:
#      - whatsapp_vika
#    environment:
#      - CLIENT_ID=client1
#      - SERVER_URL=http://nginx:80
#      - AUTH_PATH=/root/.config/whatsapp-web.js
#    networks:
#      - internal_net
#
#  client2:
#    image: claid38/otziv-whatsapp
#    container_name: client2
#    volumes:
#      - whatsapp_auth_data:/root/.config/whatsapp-web.js
#    ports:
#      - "3002:3000"
#    restart: always
#    depends_on:
#      - whatsapp_vika
#    environment:
#      - CLIENT_ID=client2
#      - SERVER_URL=http://nginx:80
#      - AUTH_PATH=/root/.config/whatsapp-web.js
#    networks:
#      - internal_net
#
#  client3:
#    image: claid38/otziv-whatsapp
#    container_name: client3
#    volumes:
#      - whatsapp_auth_data:/root/.config/whatsapp-web.js
#    ports:
#      - "3003:3000"
#    restart: always
#    depends_on:
#      - whatsapp_vika
#    environment:
#      - CLIENT_ID=client3
#      - SERVER_URL=http://nginx:80
#      - AUTH_PATH=/root/.config/whatsapp-web.js
#    networks:
#      - internal_net

volumes:
  mysql_data:
  whatsapp_auth_data:

networks:
  internal_net:

