<!doctype html>
    <html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <!-- ==================== META ======================== -->
        <th:block th:insert="~{fragments/common :: meta}"></th:block>
        <!-- ==================== STYLE ======================== -->
        <th:block th:insert="~{fragments/common :: styles}"></th:block>

        <title th:text = "${TitleName}">Компании</title>
    </head>
    <body>
        <div class="wrapper">
            <!-- ===================== CHOOSE START ========================== -->
            <header th:replace="~{fragments/header :: header}"></header>

            
                    <!-- КНОПКИ ВЫБОРА РАЗДЕЛА СТАТУСОВ - НАЧАЛО -->
                    <section class="company__lead__card">
                        <!-- <div class="menu-container">
                            <button class="menu-toggle" onclick="toggleMenu()">Меню</button>
                            <div class="menu-content" id="menu"> -->
                                
                        <th:block th:insert="~{fragments/navigation :: navigation}"></th:block>
                        <th:block th:insert="~{fragments/company :: company}"></th:block>
                    </section> <!-- section -->

                

                <!-- ====================== CHOOSE END =========================== -->
                <header th:replace="~{fragments/footer :: footer}"></header>
                <th:block th:insert="~{fragments/common :: js}"></th:block>
        </div><!-- wrapper -->
        <!-- <script>
            function toggleMenu() {
                let menu = document.getElementById("menu");
                let toggleButton = document.querySelector(".menu-toggle");
        
                if (menu.style.display === "none" || menu.style.display === "") {
                    menu.style.display = "block";
                    toggleButton.classList.add("active"); // Поворачиваем стрелку
                } else {
                    menu.style.display = "none";
                    toggleButton.classList.remove("active"); // Возвращаем стрелку обратно
                }
            }
        </script> -->
    </body>
</html>