
<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- ==================== META ======================== -->
    <th:block th:insert="~{fragments/common :: meta}"></th:block>
    <!-- ==================== STYLE ======================== -->
    <th:block th:insert="~{fragments/common :: styles_index_boot}"></th:block>

    <title>Редактирование аккаунтов O! Company!</title>
</head>
<body>

<!-- создаем внешнюю обертку -->
<div class="wrapper">
    <header th:replace="~{fragments/header :: header}"></header>

    <!-- ==================== MAIN START ======================== -->

    <!-------------------------------------- ФОРМА ВВОДА ДАННЫХ ------------------------------------------------------>
    <section class="edit__lead">
        <div class="container">
            <h2 class="section-title">РЕДАКТИРОВАНИЕ ЛИДА</h2>
            <div class="edit__box">
                <form th:object="${editBotDto}" method="post">
                    <div class="mb-3" >
                        <label for="inputLogin" class="form-label">Логин</label>
                        <input type="text" name="login" th:field="*{login}" th:value="${editBotDto.getLogin()}" class="form-control" id="inputLogin" aria-describedby="loginHelp">
                        <small class="form-text text-danger" th:each="err : ${#fields.errors('login')}" th:text="${err}">Validation error</small>
                    </div>
                    <div class="mb-3" >
                        <label for="inputPassword" class="form-label">Пароль</label>
                        <input type="text" name="password" th:field="*{password}" th:value="${editBotDto.getPassword()}" class="form-control" id="inputPassword" aria-describedby="emailHelp">
                        <small class="form-text text-danger" th:each="err : ${#fields.errors('password')}" th:text="${err}">Validation error</small>
                    </div>
                    <div class="mb-3">
                        <label for="inputFIO" class="form-label">ФИО</label>
                        <input type="text" th:field="*{fio}"  th:value="${editBotDto.getFio()}" name="commentsLead" class="form-control" id="inputFIO" aria-describedby="emailHelp">
                        <!--            <div id="emailHelp" class="form-text">Ваш мейл не будет показываться никому кроме вас</div>-->
                        <small class="form-text text-danger" th:each="err : ${#fields.errors('fio')}" th:text="${err}">Validation error</small>
                    </div>
                    <div class="mb-3">
                        <label for="inputWorker" class="form-label">Владелец</label> <br>
                        <!-- <input type="text" th:field="*{fio}"  th:value="${worker.user.fio}" name="commentsLead" class="form-control d none"> -->
                        <select id="inputWorker" name="worker" th:field="*{worker.id}" class="form-control form-select form-select-lg">
                            <option th:each="worker : ${workers}" th:value="${worker.id}" th:text="${worker.user.fio}" th:selected="${worker.id == editBotDto.worker.id}"></option>
                            <option th:unless="${workers == null && !workers.contains(editBotDto.worker)}" th:value="${editBotDto.worker.id}" th:text="${editBotDto.worker.user.fio}" th:selected="${editBotDto.worker != null}"></option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="inputStatus" class="form-label">Статус</label> <br>
                        <select id="inputStatus" name="status"  class="form-control form-select form-select-lg">
                            <option th:each="status : ${statuses}" th:value="${status}" th:text="${status}" th:selected="${status == editBotDto.status}"></option>
                            <option th:unless="${statuses.contains(editBotDto.status)}" th:value="${editBotDto.status}" th:text="${editBotDto.status}" th:selected="${editBotDto.status != null}"></option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="inputCounter" class="form-label">Публикаций</label>
                        <input type="number" th:field="*{counter}"  th:value="${editBotDto.getCounter()}" name="commentsLead" class="form-control" id="inputCounter" aria-describedby="emailHelp">
                        <!--            <div id="emailHelp" class="form-text">Ваш мейл не будет показываться никому кроме вас</div>-->
                        <small class="form-text text-danger" th:each="err : ${#fields.errors('counter')}" th:text="${err}">Validation error</small>
                    </div>
                    <div class="mb-3">
                        <label for="inputActive" class="form-label">Активность</label>
                        <input type="checkbox" th:checked="${editBotDto.isActive()}" th:field="*{active}" class="form-control form-paymentCheck" id="inputActive" aria-describedby="emailHelp">
                        <small class="form-text text-danger" th:each="err : ${#fields.errors('active')}" th:text="${err}">Validation error</small>
                    </div>
                    <input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <button th:onclick="goBack(event)" class="btn btn-secondary">Назад</button>S
                </form>
            </div>
        </div> <!-- container -->
    </section>
    <!-------------------------------------- ФОРМА ВВОДА ДАННЫХ ------------------------------------------------------>

    <!-- ===================== MAIN END ======================== -->

    <header th:replace="~{fragments/footer :: footer}"></header>
</div> <!-- wrapper -->
<th:block th:insert="~{fragments/common :: js}"></th:block>
</body>
</html>

