
    <!doctype html>
    <html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <!-- ==================== META ======================== -->
        <th:block th:insert="~{fragments/common :: meta}"></th:block>
        <!-- ==================== STYLE ======================== -->
        <th:block th:insert="~{fragments/common :: styles}"></th:block>
        <!-- ==================== TITLE ======================== -->
        <th:block th:insert="~{fragments/common :: title(${route})}"></th:block>
        <title>Список ботов</title>
    </head>
    <body>

    <!-- создаем внешнюю обертку -->
    <div class="wrapper">
        <header th:replace="~{fragments/header :: header}"></header>

        <!-- ==================== MAIN START ======================== -->

        <a th:href="@{/bots/bot_add}" >ДОБАВИТЬ НОВОГО БОТА</a>

        <!-------------------------------------- ФОРМА ВЫВОДА ВСЕХ БОТОВ ------------------------------------------------------>
        <div class="container mt-5">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Логин</th>
                    <th scope="col">Пароль</th>
                    <th scope="col">ФИО</th>
                    <th scope="col">Публикаций</th>
                    <th scope="col">Владелец</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Активность</th>
                    <th scope="col">Изменить</th>
                    <th scope="col">Удалить</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="bot : ${all_bots}">
                    <th scope="row" th:text="${bot.id}">ID</th>
                    <th scope="row" th:text="${bot.login}">Логин</th>
                    <th scope="row" th:text="${bot.password}">Пароль</th>
                    <th scope="row" th:text="${bot.fio}">ФИО</th>
                    <th scope="row" th:text="${bot.counter}">Публикаций</th>
                    <th scope="row" th:text="${bot.worker}">Владелец</th>
                    <th scope="row" th:text="${bot.status}">Статус</th>
                    <th scope="row" th:text="${bot.active}">Активность</th>
                    <td>
                        <form th:method="get" th:action="'/bots/edit/' + ${bot.id}">
                            <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                            <button type="submit" class="btn btn-outline-primary">Изменить</button>
                        </form>
                    </td>
                    <td>
                        <form th:method="delete" th:action="'/bots/delete/' + ${bot.id}" >
                            <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                            <button type="submit" class="btn btn-outline-danger">Удалить</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


        <!-------------------------------------- ФОРМА ВЫВОДА ВСЕХ БОТОВ ------------------------------------------------------>
        <!-- ==================== FRAGMENT: title ======================== -->
<!--        <th:block th:switch="${route}">>-->
<!--            <th:block th:case="lead" th:insert="~{lead/pages/leads_list :: content}"></th:block>-->
<!--            &lt;!&ndash;        <th:block th:case="leads_list">Список 2 лидов</th:block>&ndash;&gt;-->
<!--            <th:block th:case="create" th:insert="~{lead/pages/new_lead :: content(${route})}"></th:block>-->

<!--        </th:block>-->

        <!-- ===================== MAIN END ======================== -->

        <header th:replace="~{fragments/footer2 :: footer}"></header>
    </div> <!-- wrapper -->
    <th:block th:insert="~{fragments/common :: js}"></th:block>
    </body>
    </html>