<!doctype html>
    <html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <!-- ==================== META ======================== -->
        <th:block th:insert="~{fragments/common :: meta}"></th:block>
        <!-- ==================== STYLE ======================== -->
        <th:block th:insert="~{fragments/common :: styles}"></th:block>

        <title>Детали заказа O! Company!</title>
    </head>
    <body>
        <div class="wrapper">
            <!-- ===================== CHOOSE START ========================== -->
            <header th:replace="~{fragments/header :: header}"></header>


            <!-- КНОПКИ ВЫБОРА РАЗДЕЛА СТАТУСОВ - НАЧАЛО -->
            <section class="company__lead__card">
                <div class="container">
                        <h2 class="company__section-title2" th:utext="'Детали заказа ' + ${reviews[0].orderDetails.product.title}"></h2>
                            <div class="company__tabs__lead">

                                <header th:replace="~{fragments/reviews_to_order :: reviews_to_order}"></header> <!-- вставка карточек отзывов-->
                                    
                                    <div class="btn__cell">
                                        <form th:method="get" th:action="'/review/editReviews/' + ${orderId}"  class="company__card__content__button3">
                                            <div class="company__card__content__button__btn">
                                                <input type="hidden" name="_csrf" value="${_csrf.token}">
                                                <p class="company__label" >Сохранить изменения, но пока, что не публиковать</p>
                                                <button id="btn_editAll" type="submit" class="review__btn__review-editAll" th:text="'ИЗМЕНИТЬ ВСЕ ОТЗЫВЫ'">Изменить все отзывы</button>
                                            </div>
                                        </form>
                                        <form th:method="post" th:action="'/review/addReviews/' + ${companyId} + '/' + ${orderId}"  class="company__card__content__button3">
                                            <div class="company__card__content__button__btn">
                                                <input type="hidden" name="_csrf" value="${_csrf.token}">
                                                <p class="company__label" >Сохранить изменения, но пока, что не публиковать</p>
                                                <button id="btn_add_review" type="submit" class="review__btn__review-add" th:text="'ДОБАВИТЬ НОВЫЙ ОТЗЫВ'">Изменить все отзывы</button>
                                            </div>
                                        </form>
                                        <form th:method="post" th:action="'/ordersCompany/status_for_checking/' + ${companyId} + '/' + ${orderId}"  class="company__card__content__button3">
                                            <div class="company__card__content__button__btn">
                                                <input type="hidden" name="_csrf" value="${_csrf.token}">
                                                <p class="company__label" >Сохранить изменения, но пока, что не публиковать</p>
                                                <button id="btn_go_to_check" type="submit" class="review__btn__review-check" th:text="'ОТПРАВИТЬ НА ПРОВЕРКУ'">Изменить все отзывы</button>
                                            </div>
                                        </form>
                                    </div>
                            
                </div><!-- container -->
            </section> <!-- section -->

            <!-- ====================== CHOOSE END =========================== -->
            <header th:replace="~{fragments/footer :: footer}"></header>
            <th:block th:insert="~{fragments/common :: js}"></th:block>
        </div><!-- wrapper -->
</body>
</html>


