<th:block th:fragment="default(route)" xmlns:th="http://www.w3.org/1999/xhtml">
    <!doctype html>
    <html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <!-- ==================== META ======================== -->
        <th:block th:insert="~{fragments/common :: meta}"></th:block>
        <!-- ==================== STYLE ======================== -->
        <th:block th:insert="~{fragments/common :: styles2}"></th:block>
        <!-- ==================== TITLE ======================== -->
        <th:block th:insert="~{fragments/common :: title(${route})}"></th:block>
    </head>
    <body>

    <!-- создаем внешнюю обертку -->
    <div class="wrapper">
        <header th:replace="~{fragments/header :: header}"></header>

        <!-- ==================== MAIN START ======================== -->

        <!---------------------------------------- ФОРМА ВВОДА ДАННЫХ -------------------------------------------------------->
        <div class="container">
            <div class="row py-2 pt-1 mt-1">
                <div class="col-12 pt-5">
                    <form method="post" th:object="${reviewDTO}">
                        <div class="mb-3" th:if="${saveSuccess}">
                            <div class="alert alert-success">
                                Данные успешно изменены и сохранены.
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="text">Текст</label>
                            <input type="text" id="text" th:field="*{text}" class="form-control">
                            <small class="form-text text-danger" th:each="err : ${#fields.errors('text')}" th:text="${err}">Validation error</small>
                        </div>

                        <div class="form-group">
                            <label for="answer">Ответ на отзыв</label>
                            <input type="text" id="answer" th:field="*{answer}" class="form-control">
                            <small class="form-text text-danger" th:each="err : ${#fields.errors('answer')}" th:text="${err}">Validation error</small>
                        </div>
                        <div class="form-group">
                            <label for="answer">Комментарий</label>
                            <input type="text" id="comment" th:field="*{comment}" class="form-control">
                            <small class="form-text text-danger" th:each="err : ${#fields.errors('comment')}" th:text="${err}">Validation error</small>
                        </div>
                        
                        <div class="form-group">
                            <label for="created">Дата создания</label>
                            <input type="text" id="created" th:field="*{created}" class="form-control">
                            <small class="form-text text-danger" th:each="err : ${#fields.errors('created')}" th:text="${err}">Validation error</small>
                        </div>

                        <div class="form-group">
                            <label for="changed">Дата изменений</label>
                            <input type="text" id="changed" th:field="*{changed}" class="form-control">
                            <small class="form-text text-danger" th:each="err : ${#fields.errors('changed')}" th:text="${err}">Validation error</small>
                        </div>

                        <div class="form-group">
                            <label for="publishedDate">Дата публикации</label>
                            <input type="text" id="publishedDate" th:field="*{publishedDate}" class="form-control">
                            <small class="form-text text-danger" th:each="err : ${#fields.errors('publishedDate')}" th:text="${err}">Validation error</small>
                        </div>

                        <div class="mb-3">
                            <label for="publish" class="form-label">Активность</label>
                            <input type="checkbox" th:checked="${reviewDTO.isPublish()}" th:field="*{publish}" class="form-control form-check" id="publish" aria-describedby="emailHelp">
                            <small class="form-text text-danger" th:each="err : ${#fields.errors('publish')}" th:text="${err}">Validation error</small>
                        </div>

                        <div class="form-group d-none">
                            <label for="orderDetails">Детали заказа</label>
                            <input type="text" id="orderDetails" th:field="*{orderDetails.id}" class="form-control">
                            <small class="form-text text-danger" th:each="err : ${#fields.errors('orderDetails')}" th:text="${err}">Validation error</small>
                        </div>
                        
                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                        <button  type="submit" class="btn btn-primary mt-3">Сохранить</button>
                            
                            <a th:href="@{'/ordersDetails/'+ ${companyId} + '/' + ${orderId}}" class="btn btn-secondary mt-3">Назад</a>
                    </form>
                </div>
            </div>
        </div>
        <!---------------------------------------- ФОРМА ВВОДА ДАННЫХ -------------------------------------------------------->

    <!-- КНОПКИ ВЫБОРА РАЗДЕЛА СТАТУСОВ - НАЧАЛО -->
    <section class="company__lead__card">
        <div class="container">
            <h2 class="company__section-title">Детали заказа</h2>
            <div class="company__tabs__lead">



                <!-- СПИСОК КАРТОЧЕК 1 НОВЫЕ-->
                <div  class="orderdetails__tabs__content-item orderdetails__tabs__content-item--active" id="content-10">


                    <div th:each="review : ${reviews}" class="company__card__lead">
                        <div class="company__card__content__lead">

                            <!-- элементы карточки - начало -->
                            <div class="company__card__content__product">
                                <a class="company__card__title__lead" th:text="${review.filial.title}">Название компании</a>
                            </div>
                            <div class="company__card__content__comments">
                                    <div class="company__card__text__lead2" th:text="${review.text}">Текст отзыва</div>
                            </div> 
                            <div class="company__card__content__comments">
                                <div class="company__card__text__lead2" th:text="${review.answer}">Ответ на отзыв</div>
                            </div> 
                            <div class="company__card__content__product">
                                <a class="company__card__title__review" th:text="${review.bot.fio}">ФИО бота</a>
                            </div>
                            <div class="company__card__content_button">
                                <form class="company__card__text__lead" target="_blank" th:action="@{'https://vk.com/'}">
                                    <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                    <button type="submit" class="company__card__text__lead-button ">вк</button>
                                </form>
                                <div class="company__card__text__lead"> <!-- Bot Login -->
                                    <textarea class="company__card__remember-text" th:utext="${review.bot.login}" th:id="'botLogin_' + ${review.id}"></textarea>
                                    <button type="submit" class="company__card__text__lead-button" th:onclick="'myFunctionBotLogin(' + ${review.id} + ')'" >логин</button>
                                </div>
                                <div class="company__card__text__lead"> <!-- Bot Password -->
                                    <textarea class="company__card__remember-text" th:utext="${review.bot.password}" th:id="'botPassword_' + ${review.id}"></textarea>
                                    <button type="submit" class="company__card__text__lead-button" th:onclick="'myFunctionBotPassword(' + ${review.id} + ')'" >пароль</button>
                                </div>
                                <form class="company__card__text__lead" target="_blank" th:action="@{${review.filial.url}}">
                                    <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                    <button type="submit"  class="company__card__text__lead-button ">ссылка</button>
                                </form>
                            </div> <!-- card__content_button -->
                            <div class="company__card__content_button">
                                <div class="company__card__text__lead"> <!-- Review Text -->
                                    <textarea class="company__card__remember-text" th:utext="${review.text}" th:id="'ReviewText_' + ${review.id}"></textarea>
                                    <button type="submit" class="company__card__text__lead-button" th:onclick="'myFunctionReviewText(' + ${review.id} + ')'" >отзыв</button>
                                </div>
                                <div class="company__card__text__lead"> <!-- Review Text -->
                                    <textarea class="company__card__remember-text" th:utext="${review.answer}" th:id="'ReviewAnswer_' + ${review.id}"></textarea>
                                    <button type="submit" class="company__card__text__lead-button" th:onclick="'myFunctionReviewAnswer(' + ${review.id} + ')'" >ответ</button>
                                </div>
                                <form class="company__card__text__lead" th:method="post" th:action="@{'/ordersDetails/'+ ${companyID} + '/' + ${orderID} + '/change_bot/' + ${review.id}}">
                                    <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                    <button type="submit" class="company__card__text__lead-button ">смена</button> 
                                </form>
                                <form class="company__card__text__lead" th:method="post" th:action="@{'/ordersDetails/'+ ${companyID} + '/' + ${orderID} + '/deactivate_bot/' + ${review.id} + '/' + ${review.bot.id}}">
                                    <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                    <button type="submit"  class="company__card__text__lead-button ">блок</button>
                                </form>
                            </div> <!-- card__content_button -->

                       
                            <div >
                                
                                <form  th:method="post" th:action="@{'/ordersDetails/'+ ${companyID} + '/' + ${review.id}}">
                                    <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                    <div class="company__card__content__phone">
                                        <button type="submit" class="company__card__text__lead-button" th:text="ОПУБЛИКОВАНО">в архив</button>
                                    </div>
                              </form>
                          </div>

                          
                        <form class="company__card__content__author" th:method="get" th:action="'/review/editReview/' + ${review.id}">
                            <div class="company__card__link__lead" th:text="${review.id != null ? review.id : 'пусто'}">Имя Менеджера</div>
                            <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                            <button type="submit" class="company__card__link__lead__more company__card__link__lead">Изменить</button>
                        </form>
                    </div> <!-- card -->
                </div> <!-- tabs__content-item -->
                <!-- СПИСОК КАРТОЧЕК 1 -->




            </div> <!-- tabs -->
            <!--            <a href="#" class="showmore__link">Смотреть Еще</a>-->
        </div> <!-- container -->
    </section> <!-- section -->

        <!-- ===================== MAIN END ======================== -->

        <header th:replace="~{fragments/footer2 :: footer}"></header>
    </div> <!-- wrapper -->
    <th:block th:insert="~{fragments/common :: js}"></th:block>
    <th:block th:insert="~{fragments/common :: js_category}"></th:block>
    </body>
    </html>