<th:block th:fragment="default(route)" xmlns:th="http://www.w3.org/1999/xhtml">
    <!doctype html>
    <html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <!-- ==================== META ======================== -->
        <th:block th:insert="~{fragments/common :: meta}"></th:block>
        <!-- ==================== STYLE ======================== -->
        <th:block th:insert="~{fragments/common :: styles_index_boot2}"></th:block>
   
        <title>Редактор отзыва O! Company!</title>
    </head>
    <body>

    <!-- создаем внешнюю обертку -->
    <div class="wrapper">
        <header th:replace="~{fragments/header :: header}"></header>

        <!-- ==================== MAIN START ======================== -->

        <!---------------------------------------- ФОРМА ВВОДА ДАННЫХ -------------------------------------------------------->
        <div class="container">
            <div class="row py-2 pt-1 mt-1">
                <div class="col-12 pt-5">
                    <form method="post" th:object="${reviewDTO}">
                        <div class="mb-3" th:if="${saveSuccess}">
                            <div class="alert alert-success">
                                Данные успешно изменены и сохранены.
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="text">Текст</label>
                            <textarea type="text" id="text" th:field="*{text}" class="form-control"> </textarea>
                            <small class="form-text text-danger" th:each="err : ${#fields.errors('text')}" th:text="${err}">Validation error</small>
                        </div>

                        <div class="form-group">
                            <label for="answer">Ответ на отзыв</label>
                            <textarea type="text" id="answer" th:field="*{answer}" class="form-control"> </textarea>
                            <small class="form-text text-danger" th:each="err : ${#fields.errors('answer')}" th:text="${err}">Validation error</small>
                        </div>
                        <div class="form-group">
                            <label for="answer">Комментарий</label>
                            <input type="text" id="comment" th:field="*{comment}" class="form-control">
                            <small class="form-text text-danger" th:each="err : ${#fields.errors('comment')}" th:text="${err}">Validation error</small>
                        </div>

                        <div class="form-group">
                            <label for="url">url для фото</label>
                            <textarea type="text" id="url" th:field="*{url}" class="form-control"> </textarea>
                            <small class="form-text text-danger" th:each="err : ${#fields.errors('url')}" th:text="${err}">Validation error</small>
                        </div>
                        
                        <div sec:authorize="hasAnyRole('MANAGER', 'ADMIN', 'OWNER')"  class="form-group">
                            <label for="created">Дата создания</label>
                            <input type="text" id="created" th:field="*{created}" class="form-control">
                            <small class="form-text text-danger" th:each="err : ${#fields.errors('created')}" th:text="${err}">Validation error</small>
                        </div>

                        <div sec:authorize="hasAnyRole('MANAGER', 'ADMIN', 'OWNER')"  class="form-group">
                            <label for="changed">Дата изменений</label>
                            <input type="text" id="changed" th:field="*{changed}" class="form-control">
                            <small class="form-text text-danger" th:each="err : ${#fields.errors('changed')}" th:text="${err}">Validation error</small>
                        </div>

                        <div class="form-group">
                            <label for="publishedDate">Дата публикации</label>
                            <input type="text" id="publishedDate" th:field="*{publishedDate}" class="form-control">
                            <small class="form-text text-danger" th:each="err : ${#fields.errors('publishedDate')}" th:text="${err}">Validation error</small>
                        </div>

                        <div sec:authorize="hasAnyRole('ADMIN', 'OWNER')"  class="mb-3">
                            <label for="publish" class="form-label">Активность</label>
                            <input type="checkbox" th:checked="${reviewDTO.isPublish()}" th:field="*{publish}" class="form-control form-paymentCheck" id="publish" aria-describedby="emailHelp">
                            <small class="form-text text-danger" th:each="err : ${#fields.errors('publish')}" th:text="${err}">Validation error</small>
                        </div>

                        <div class="form-group d-none">
                            <label for="orderDetails">Детали заказа</label>
                            <input type="text" id="orderDetails" th:field="*{orderDetails.id}" class="form-control">
                            <small class="form-text text-danger" th:each="err : ${#fields.errors('orderDetails')}" th:text="${err}">Validation error</small>
                        </div>

                        <div class="form-group d-none">
                            <label for="orderDetailsId">orderDetailsId</label>
                            <input type="text" id="orderDetailsId" th:field="*{orderDetailsId}" class="form-control">
                            <small class="form-text text-danger" th:each="err : ${#fields.errors('orderDetailsId')}" th:text="${err}">Validation error</small>
                        </div>

                        <div class="form-group">
                            <label for="botName">Имя Бота</label>
                            <input type="text" id="botFIO" th:field="*{botName}" class="form-control">
                            <small class="form-text text-danger" th:each="err : ${#fields.errors('botName')}" th:text="${err}">Validation error</small>
                        </div>

                        <div class="mb-3">
                            <label for="product" class="form-label">Продукт</label>
                            <select id="operator" th:field="*{product.id}" class="form-select">
                                <option value="">-- Выберите продукта --</option>
                                <option th:each="prod : ${products}"
                                        th:value="${prod.id}"
                                        th:text="${prod.title}"
                                        th:selected="${reviewDTO.product != null and prod.id == reviewDTO.product.id}">
                                </option>
                            </select>
                        </div>
                        
                        <input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}">
                        <button  type="submit" class="btn btn-warning mt-3">Сохранить</button>
                            
                            <!-- <a th:href="@{'/ordersDetails/'+ ${companyId} + '/' + ${orderId}}" class="btn btn-secondary mt-3">Назад</a> -->
                            <button th:onclick="goBack(event)" class="btn btn-secondary mt-3">Назад</button>
                            <!-- <a th:href="@{'/review/deleteReviews/'+ ${companyId} + '/' + ${orderId} + '/' + ${reviewDTO.id}}" method="post" class="btn btn-secondary mt-3 ml-5">Удалить</a> -->
                    </form>
                    <form class="mt-5" th:action="@{'/review/deleteReviews/'+ ${companyId} + '/' + ${orderId} + '/' + ${reviewDTO.id}}" method="post">
                        <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                        <button type="submit" class="btn btn-danger mt-5">Удалить</button>
                    </form>
                </div>
            </div>
        </div>
        <!---------------------------------------- ФОРМА ВВОДА ДАННЫХ -------------------------------------------------------->

    <!-- КНОПКИ ВЫБОРА РАЗДЕЛА СТАТУСОВ - НАЧАЛО -->
    

        <!-- ===================== MAIN END ======================== -->

        <header th:replace="~{fragments/footer :: footer}"></header>
    </div> <!-- wrapper -->
    <th:block th:insert="~{fragments/common :: js}"></th:block>
    </body>
    </html>