<th:block th:fragment="default(route)" xmlns:th="http://www.w3.org/1999/xhtml">
    <!doctype html>
    <html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
        <head>
            <!-- ==================== META ======================== -->
            <th:block th:insert="~{fragments/common :: meta}"></th:block>
            <!-- ==================== STYLE ======================== -->
            <th:block th:insert="~{fragments/common :: styles_lead}"></th:block>
            <!-- ==================== TITLE ======================== -->
            <th:block th:insert="~{fragments/common :: title(${route})}"></th:block>
            <meta name="_csrf" th:content="${_csrf.token}"/>
            <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

        </head>
        <body>

                <!-- создаем внешнюю обертку -->
                <div class="wrapper">
                    <header th:replace="~{fragments/header :: header}"></header>

                    <!-- ==================== MAIN START ======================== -->

                    <!-- ==================== FRAGMENT: title ======================== -->
                    <th:block th:switch="${route}">
                        <th:block th:case="lead" th:insert="~{lead/pages/leads_list :: content}"></th:block>
                        <th:block th:case="operators" th:insert="~{lead/pages/operator_leads_list :: content}"></th:block>
                        <th:block th:case="create" th:insert="~{lead/pages/new_lead :: content(${route})}"></th:block>
                    </th:block>
                    <!-- ==================== FRAGMENT: title ======================== -->

                    <!-- ===================== MAIN END ======================== -->

                    <header th:replace="~{fragments/footer :: footer}"></header>
                    <th:block th:insert="~{fragments/common :: js}"></th:block>
                </div> <!-- wrapper --> 
        </body>
        <script>
            function toggleMenu() {
                let menu = document.getElementById("menu");
                let toggleButton = document.querySelector(".menu-toggle");
        
                if (menu.style.display === "none" || menu.style.display === "") {
                    menu.style.display = "block";
                    toggleButton.classList.add("active"); // Поворачиваем стрелку
                } else {
                    menu.style.display = "none";
                    toggleButton.classList.remove("active"); // Возвращаем стрелку обратно
                }
            }
        </script>

    </html>
</th:block>