@media screen and (max-width: 1200px) {
	html {	
	font-size: 90%;
	}
	.butt {
    	width: 140px;
		font-size: 1.5rem;
    }
	.phone-number2 {
		font-size: 1.4rem;
	}
}

@media screen and (max-width: 1015px) {
	html {	
	font-size: 85%;
	}
}

@media screen and (max-width: 992px) {
	html {	
	font-size: 100%
	}
	.nav__list {
		display: none;
	}
	.nav__list--open,
	.nav__btn {
		display: block;
	}
	.nav__link {
		padding: 0.7rem;
		display: inline-block;
	}

	.text{
		padding: 5px;
	}

	.butt {
    	width: 110px;
		font-size: 1.2rem;
    }
		.header__logo,
		.header__contact {
			float: none;
			text-align: center;
		}
		.header__contact {
			margin-top: 1rem;
		}




	
}

@media screen and (max-width: 768px) {
	/* html {	
	font-size: 85%
	} */

	.nav__list {
		display: none;
	}
	.nav__list--open,
	.nav__btn {
		display: block;
	}
	.nav__link {
		padding: 0.7rem;
		display: inline-block;
	}

	.dws{
		left: 20%;
	}
}
@media screen and (max-width: 615px) {
	.section-title{
		font-size: 34px;
	}

}

@media screen and (max-width: 600px) {
	html {	
	font-size: 100%
	}
	.header__logo,
	.header__contact {
		float: none;
		text-align: center;
	}
	.header__contact {
		margin-top: 1rem;
	}
	.slider__item {
		padding-top: 24rem;
	}
	
	.grid__item {
		float: none;
		margin-bottom: 1rem;
	}
	.advantage {
		display: block;
	}
	.advantage__item {
		margin-bottom: 4rem;
	}
	.grid__item,
	.advantage__item {
		width: 96%;
		margin-right: 0; 
	}
	.page__image{
	
		max-width: 100%;
		display: block;

	}
	.dws{
		
		width: 80%;
	}

	.advantage__item {
		width: 100%;
		margin-right: 0%;
		font-size: large;
	}
	.text{
		padding: 5px;
	}

	.butt {
    	width: 110px;
		font-size: 1.2rem;
    }

	
	
}
@media screen and (max-width: 370px) {
	/* .butt {
		width: 300px;
		height: 60px;
	} */
	
}
@media screen and (max-width: 340px) {
	.grid__item,
	.advantage__item {
		width: 94%;
		margin-right: 0; 
	}
	/* .dws{
		
		width: 80%;
	} */
		
}