<!doctype html>
    <html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <!-- ==================== META ======================== -->
        <th:block th:insert="~{fragments/common :: meta}"></th:block>
        <!-- ==================== STYLE ======================== -->
        <th:block th:insert="~{fragments/common :: styles}"></th:block>

        <title>Опубликованные заказы O! Company!</title>
    </head>
    <body>
        <div class="wrapper">
            <!-- ===================== CHOOSE START ========================== -->
            <header th:replace="~{fragments/header :: header}"></header>


            <!-- КНОПКИ ВЫБОРА РАЗДЕЛА СТАТУСОВ - НАЧАЛО -->
            <section class="company__lead__card">
                <div class="container">
                    <h2 class="company__section-title" th:text="'Список заказов:  ' + ${TitleName}">Список заказов</h2>
                    <div class="company__tabs__lead">
                        <div class="menu-container">
                            <button class="menu-toggle" onclick="toggleMenu()">Меню</button>
                            <div class="menu-content" id="menu">
                                <!-- КНОПКИ ВЫБОРА РАЗДЕЛА СТАТУСОВ - НАЧАЛО -->
                                <div class="company__tabs__btn__worker">
                                    <a class="company__tabs__btn-item" data-button="content-10" th:href="@{'/worker/new_orders'}">Новые</a>
                                    <a class="company__tabs__btn-item" data-button="content-11" th:href="@{'/worker/correct'}">Коррекция</a>
                                    <a class="company__tabs__btn-item" data-button="content-15" th:href="@{'/worker/nagul'}">Выгул</a>
                                    <a class="company__tabs__btn-item  company__tabs__btn-item--active" data-button="content-12" th:href="@{'/worker/publish'}">Публикация</a>
                                    <!-- <a class="company__tabs__btn-item" data-button="content-11" th:href="@{'/worker/bot'}">Аккаунты</a> -->
                                    <a class="company__tabs__btn-item" data-button="content-13" th:href="@{'/worker/all_orders'}">Все</a>
                                </div>

                            <div class="company__tabs__content-lead">
                                <!-- КНОПКИ КОПИРОВАНИЯ ТЕКСТА - НАЧАЛО -->
                                <div class="company__card__remember">
                                    <div class="company__card__remember__box">
                                        <div class="company__card__remember__box-serch">
                        
                                            <form class="company__card_remember-search2" th:method="get">
                                                <!-- The text field -->
                                                <input class="company__card_remember-search__text" type="text" value="" name="keyword" id="keyword">
                                                <!-- The button used to copy the text -->
                                                <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                                <button type="submit" class="company__card_remember-search__btn">Найти</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                   
                

                    <div class="mb-3" th:if="${saveSuccess == true}">
                        <div class="alert alert-success">
                            Данные успешно изменены и сохранены.
                        </div>
                    </div>
        
                    <!-- Сообщение об ошибке -->
                    <div class="mb-3" th:if="${saveSuccess == false}">
                        <div class="alert alert-danger">
                            Ошибка: [[${errorMessage}]]
                        </div>
                    </div>
                    <!-- КНОПКИ ВЫБОРА РАЗДЕЛА СТАТУСОВ - КОНЕЦ -->
                    <div class="company__tabs__lead">
                        <div id="reviewsContainer">
                            <th:block th:insert="~{fragments/reviews_to_worker :: reviews_to_worker}" id="content-10"></th:block> <!-- вставка карточек отзывов-->
                        </div>
                        <!-- <th:block th:insert="~{fragments/reviews_to_worker :: reviews_to_worker}" id="content-10"></th:block> -->
                        <th:block th:insert="~{fragments/common :: reviewsPagination}"></th:block>
                    </div>
                </div>
            </section> <!-- section -->

                <!-- ====================== CHOOSE END =========================== -->
                <header th:replace="~{fragments/footer :: footer}"></header>
                <th:block th:insert="~{fragments/common :: js}"></th:block>
            </div><!-- wrapper -->
<!-- Смена бота -->
        <script> 
            // function changeBot(event, form) {
            //     event.preventDefault();
            //     let formData = new FormData(form);
            //     let orderId = formData.get("orderId");
            //     let reviewId = formData.get("reviewId");
            //     let pageName = formData.get("pageName");
            //     fetch(`/ordersDetails/${orderId}/change_bot/${reviewId}`, {
            //         method: "POST",
            //         body: formData
            //     })
            //     .then(response => response.text())  // Получаем HTML с сервера
            //     .then(updatedReviewsHtml => {
            //         document.getElementById("reviewsContainer").innerHTML = updatedReviewsHtml;
            //     })
            //     .catch(error => console.error("Ошибка при смене бота:", error));
            // }
        </script> <!-- Смена бота -->
    </body>
    </html>