<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- ==================== META ======================== -->
    <th:block th:insert="~{fragments/common :: meta}"></th:block>
    <!-- ==================== STYLE ======================== -->
    <th:block th:insert="~{fragments/common :: styles_index_boot}"></th:block>
    <title>Редактор пользователя O! Company!</title>
</head>
<body class="page">
<header th:replace="~{fragments/header :: header}"></header>


<!--Внесение новой компании-->

<div  class="container mt-5" >
    <form th:object="${editUserDto}" method="post" enctype="multipart/form-data">
        <div class="mb-3" >
            <label for="inputCompanyName" class="form-label">Логин</label>
            <input type="text" name="username" th:field="*{username}" th:value="${editUserDto.getUsername()}" class="form-control" id="inputCompanyName" aria-describedby="emailHelp">
            <small class="form-text text-danger" th:each="err : ${#fields.errors('username')}" th:text="${err}">Validation error</small>
        </div>
        <div class="mb-3" >
            <label for="inputFio" class="form-label">ФИО</label>
            <input type="text" name="fio" th:field="*{fio}" th:value="${editUserDto.getFio()}" class="form-control" id="inputFio" aria-describedby="emailHelp">
            <small class="form-text text-danger" th:each="err : ${#fields.errors('fio')}" th:text="${err}">Validation error</small>
        </div>
        <div class="mb-3">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" th:field="*{email}"  th:value="${editUserDto.getEmail()}" name="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
<!--            <div id="emailHelp" class="form-text">Ваш мейл не будет показываться никому кроме вас</div>-->
            <small class="form-text text-danger" th:each="err : ${#fields.errors('email')}" th:text="${err}">Validation error</small>
        </div>
        <div class="mb-3">
            <label for="inputPhone" class="form-label">Телефон</label>
            <input type="text" th:field="*{phoneNumber}" th:value="${editUserDto.getPhoneNumber()}" name="phoneNumber" class="form-control" id="inputPhone" placeholder="Введите номер телефона">
            <small class="form-text text-danger" th:each="err : ${#fields.errors('phoneNumber')}" th:text="${err}">Validation error</small>
        </div>
<!--        <div class="mb-3">-->
<!--            <label for="inputPassword" class="form-label">Пароль</label>-->
<!--            <input type="text" th:field="*{password}" th:value="${editUserDto.getPassword()}" name="password" class="form-control" id="inputPassword" placeholder="Введите номер телефона">-->
<!--            <small class="form-text text-danger" th:each="err : ${#fields.errors('password')}" th:text="${err}">Validation error</small>-->
<!--        </div>-->

        <div class="mb-3">
            <label for="inputRole" class="form-label">Роль</label> <br>
            <select id="inputRole" name="role"   class="form-control form-select form-select-lg">
                <!-- <option th:each="role : ${editUserDto.roles}"  th:value="${role}" th:text="${role.name}"></option> -->
                <!-- <option th:each="role : ${roles}"  th:value="${role.name}" th:text="${role.name}" th:selected="${role == editUserDto.getRoles()}"></option> -->
                <option th:each="role : ${roles}" th:value="${role.name}" th:text="${role.name}" th:selected="${role.name == editUserDto.getRoles().get(0).getName()}"></option>
                <!-- <option th:unless="${roles.contains(editUserDto.getRoles())}" th:value="${editUserDto.getRoles()}" th:text="${editUserDto.getRoles()}" th:selected="${editUserDto.getRoles() != null}"></option> -->
            </select>
        </div>
        <input type="hidden" id="manager_id" th:field="*{managers}"  class="form-control"
                                   placeholder="Укажите оператора">

        <!--    СПИСКИ ОПЕРАТОРОВ, МЕНЕДЖЕРОВ И РАБОТНИКОВ    -->
        <div class="mb-3" th:each="manager : ${editUserDto.getManagers()}">
            <label for="inputManagers" class="form-label">Менеджер</label> <br>
            <select id="inputManagers" name="managerId" th:field="*{manager.id}"  class="form-control form-select form-select-lg">
                <option th:unless="${!AllManagers.contains(manager)}" th:value="${manager.id}" th:text="${manager.user.fio}" th:selected="${manager.user.fio != null}"></option>
                <option th:each="managerAll : ${AllManagers}" th:value="${managerAll.id}" th:text="${managerAll.user.fio}"  th:selected="${managerAll.user.fio == manager.user.fio}"></option>  
            </select>
            <a th:href="@{/allUsers/delete/manager/{username}/{managerId}(username = ${editUserDto.username}, managerId=${manager.id})}">Удалить</a>
        </div>
        <div class="mb-3" th:each="operator : ${editUserDto.getOperators()}">
            <label for="inputOperators" class="form-label">Оператор</label> <br>
            <select id="inputOperators" name="operatorId" th:field="*{operators}"  class="form-control form-select form-select-lg">
                <option th:each="operatorAll : ${AllOperators}" th:value="${operatorAll.id}" th:text="${operatorAll.user.fio}"  th:selected="${operatorAll.user.fio == operator.user.fio}"></option>
                <option th:unless="${!AllOperators.contains(operator)}" th:value="${operator.id}" th:text="${operator.user.fio}" th:selected="${operator.user.fio != null}"></option>
            </select>
            <a th:href="@{/allUsers/delete/operator/{username}/{operatorId}(username = ${editUserDto.username}, operatorId=${operator.id})}">Удалить</a>
        </div>
        <div class="mb-3" th:each="worker : ${editUserDto.getWorkers()}">
            <label for="inputWorkers" class="form-label">Специалист</label> <br>
            <select id="inputWorkers" name="workerId" th:field="*{workers}"  class="form-control form-select form-select-lg">
                <option th:each="workerAll : ${AllWorkers}" th:value="${workerAll.id}" th:text="${workerAll.user.fio}"  th:selected="${workerAll.user.fio == worker.user.fio}"></option>
                <option th:unless="${!AllWorkers.contains(worker)}" th:value="${worker.id}" th:text="${worker.user.fio}" th:selected="${worker.user.fio != null}"></option>
            </select>
            <a th:href="@{/allUsers/delete/worker/{username}/{workerId}(username = ${editUserDto.username}, workerId=${worker.id})}">Удалить</a>
        </div>

        <div class="mb-3" th:each="marketolog : ${editUserDto.getMarketologs()}">
            <label for="inputMarketolog" class="form-label">Маркетолог</label> <br>
            <select id="inputMarketolog" name="marketologId" th:field="*{marketologs}"  class="form-control form-select form-select-lg">
                <option th:each="marketologAll : ${AllMarketologs}" th:value="${marketologAll.id}" th:text="${marketologAll.user.fio}"  th:selected="${marketologAll.user.fio == marketolog.user.fio}"></option>
                <option th:unless="${!AllMarketologs.contains(marketolog)}" th:value="${marketolog.id}" th:text="${marketolog.user.fio}" th:selected="${marketolog.user.fio != null}"></option>
            </select>
            <a th:href="@{/allUsers/delete/marketolog/{username}/{marketologId}(username = ${editUserDto.username}, marketologId=${marketolog.id})}">Удалить</a>
        </div>
        <!--    СПИСКИ ОПЕРАТОРОВ, МЕНЕДЖЕРОВ И РАБОТНИКОВ    -->

        <div class="mb-3">
            <label for="inputLink" class="form-label">Активность</label>
            <input type="checkbox" th:checked="${editUserDto.isActive()}" th:field="*{active}" class="form-control form-paymentCheck" id="inputLink" aria-describedby="emailHelp">
            <small class="form-text text-danger" th:each="err : ${#fields.errors('active')}" th:text="${err}">Validation error</small>
        </div>

<!--    ВВОД НОВЫХ ОПЕРАТОРОВ, МЕНЕДЖЕРОВ И РАБОТНИКОВ    -->
        <div class="mb-3" th:object="${operatorDTO}">
            <label for="inputAddOperators" class="form-label">Оператор</label> <br>
            <select id="inputAddOperators" name="operatorId" th:field="*{operatorId}"  class="form-control form-select form-select-lg">
                <option value="0">Добавить оператора</option>
                <option th:each="operatorAll2 : ${AllOperators}" th:value="${operatorAll2.id}" th:text="${operatorAll2.user.fio}"></option>
                <!--                <option th:unless="${!AllOperators.contains(operator)}" th:value="${operator.id}" th:text="${operator.user.fio}" th:selected="${operator.user.fio != null}"></option>&ndash;&gt;-->
            </select>
        </div>
        <div class="mb-3" th:object="${managerDTO}">
            <label for="inputAddManagers" class="form-label">Менеджер</label> <br>
            <select id="inputAddManagers" name="managerId" th:field="*{managerId}"  class="form-control form-select form-select-lg">
                <option value="0">Добавить менеджера</option>
                <option th:each="managerAll : ${AllManagers}" th:value="${managerAll.id}" th:text="${managerAll.user.fio}"></option>
                <!--                <option th:unless="${!AllOperators.contains(operator)}" th:value="${operator.id}" th:text="${operator.user.fio}" th:selected="${operator.user.fio != null}"></option>&ndash;&gt;-->
            </select>
        </div>
        <div class="mb-3" th:object="${workerDTO}">
            <label for="inputAddWorkers" class="form-label">Специалист</label> <br>
            <select id="inputAddWorkers" name="workerId" th:field="*{workerId}"  class="form-control form-select form-select-lg">
                <option value="0">Добавить специалиста</option>
                <option th:each="workerAll : ${AllWorkers}" th:value="${workerAll.id}" th:text="${workerAll.user.fio}"></option>
                <!--                <option th:unless="${!AllOperators.contains(operator)}" th:value="${operator.id}" th:text="${operator.user.fio}" th:selected="${operator.user.fio != null}"></option>&ndash;&gt;-->
            </select>
        </div>
        <div class="mb-3" th:object="${marketologDTO}">
            <label for="inputAddMarketologs" class="form-label">Маркетолог</label> <br>
            <select id="inputAddMarketologs" name="marketologId" th:field="*{marketologId}"  class="form-control form-select form-select-lg">
                <option value="0">Добавить маркетолога</option>
                <option th:each="marketologAll : ${AllMarketologs}" th:value="${marketologAll.id}" th:text="${marketologAll.user.fio}"></option>
                <!--                <option th:unless="${!AllOperators.contains(operator)}" th:value="${operator.id}" th:text="${operator.user.fio}" th:selected="${operator.user.fio != null}"></option>&ndash;&gt;-->
            </select>
        </div>

        <div class="mb-3">
            <label for="coefficient" class="form-label">Коэффициент (0.00)</label>
            <input type="number" step="0.01" min="0.05" max="0.30" required th:field="*{coefficient}" th:value="${editUserDto.coefficient}" name="coefficient" class="form-control" id="coefficient" placeholder="коэффициент 0.00">
            <small class="form-text text-danger" th:each="err : ${#fields.errors('coefficient')}" th:text="${err}">Validation error</small>
        </div>

        <div class="mb-3">
            <label for="imageFile" class="form-label">Изображение</label>
            <input type="file" name="imageFile" class="form-control-file" id="imageFile" accept="image/*" />
        </div>
        <div class="mb-3 text-center">
            <img th:if="${editUserDto.image != null}" th:src="@{/images/{id}(id=${editUserDto.image.id})}" class="avatar">
        </div>
        <!--    ВВОД НОВЫХ ОПЕРАТОРОВ, МЕНЕДЖЕРОВ И РАБОТНИКОВ    -->

        

        <button type="submit" class="btn btn-primary">Сохранить</button>
        <th:block th:insert="~{fragments/common :: backDen}"></th:block>
        <input type="hidden" name="_csrf" value="${_csrf.token}"/>
    </form>
</div>

<header th:replace="~{fragments/footer :: footer}"></header>
<th:block th:insert="~{fragments/common :: js}"></th:block>


</body>
</html>
