<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Редактирование пользователя</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/normalize.css}"/>
    <link rel="stylesheet" th:href="@{/css/responsive.css}"/>
    <script th:src="@{/webjars/jquery/3.6.4/jquery.min.js}" type="text/javascript"></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>
<body class="page">
<header th:replace="~{fragments/header :: header}"></header>


<!--Внесение новой компании-->

<div  class="container mt-5" >
    <form th:object="${editUserDto}" method="post">
        <div class="mb-3" >
            <label for="inputCompanyName" class="form-label">Логин</label>
            <input type="text" name="username" th:field="*{username}" th:value="${editUserDto.getUsername()}" class="form-control" id="inputCompanyName" aria-describedby="emailHelp">
            <small class="form-text text-danger" th:each="err : ${#fields.errors('username')}" th:text="${err}">Validation error</small>
        </div>
        <div class="mb-3" >
            <label for="inputFio" class="form-label">ФИО</label>
            <input type="text" name="fio" th:field="*{fio}" th:value="${editUserDto.getFio()}" class="form-control" id="inputFio" aria-describedby="emailHelp">
            <small class="form-text text-danger" th:each="err : ${#fields.errors('fio')}" th:text="${err}">Validation error</small>
        </div>
        <div class="mb-3">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" th:field="*{email}"  th:value="${editUserDto.getEmail()}" name="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
<!--            <div id="emailHelp" class="form-text">Ваш мейл не будет показываться никому кроме вас</div>-->
            <small class="form-text text-danger" th:each="err : ${#fields.errors('email')}" th:text="${err}">Validation error</small>
        </div>
        <div class="mb-3">
            <label for="inputPhone" class="form-label">Телефон</label>
            <input type="text" th:field="*{phoneNumber}" th:value="${editUserDto.getPhoneNumber()}" name="phoneNumber" class="form-control" id="inputPhone" placeholder="Введите номер телефона">
            <small class="form-text text-danger" th:each="err : ${#fields.errors('phoneNumber')}" th:text="${err}">Validation error</small>
        </div>
<!--        <div class="mb-3">-->
<!--            <label for="inputPassword" class="form-label">Пароль</label>-->
<!--            <input type="text" th:field="*{password}" th:value="${editUserDto.getPassword()}" name="password" class="form-control" id="inputPassword" placeholder="Введите номер телефона">-->
<!--            <small class="form-text text-danger" th:each="err : ${#fields.errors('password')}" th:text="${err}">Validation error</small>-->
<!--        </div>-->

        <div class="mb-3">
            <label for="inputRole" class="form-label">Роль</label> <br>
            <select id="inputRole" name="role"   class="form-control form-select form-select-lg">
                <!-- <option th:each="role : ${editUserDto.roles}"  th:value="${role}" th:text="${role.name}"></option> -->
                <!-- <option th:each="role : ${roles}"  th:value="${role.name}" th:text="${role.name}" th:selected="${role == editUserDto.getRoles()}"></option> -->
                <option th:each="role : ${roles}" th:value="${role.name}" th:text="${role.name}" th:selected="${role.name == editUserDto.getRoles().get(0).getName()}"></option>
                <!-- <option th:unless="${roles.contains(editUserDto.getRoles())}" th:value="${editUserDto.getRoles()}" th:text="${editUserDto.getRoles()}" th:selected="${editUserDto.getRoles() != null}"></option> -->
            </select>
        </div>
        <input type="hidden" id="manager_id" th:field="*{managers}"  class="form-control"
                                   placeholder="Укажите оператора">

        <!--    СПИСКИ ОПЕРАТОРОВ, МЕНЕДЖЕРОВ И РАБОТНИКОВ    -->
        <div class="mb-3" th:each="manager : ${editUserDto.getManagers()}">
            <label for="inputManagers" class="form-label">Менеджер</label> <br>
            <select id="inputManagers" name="managerId" th:field="*{manager.id}"  class="form-control form-select form-select-lg">
                <option th:unless="${!AllManagers.contains(manager)}" th:value="${manager.id}" th:text="${manager.user.fio}" th:selected="${manager.user.fio != null}"></option>
                <option th:each="managerAll : ${AllManagers}" th:value="${managerAll.id}" th:text="${managerAll.user.fio}"  th:selected="${managerAll.user.fio == manager.user.fio}"></option>  
            </select>
            <a th:href="@{/allUsers/delete/manager/{username}/{managerId}(username = ${editUserDto.username}, managerId=${manager.id})}">Удалить</a>
        </div>
        <div class="mb-3" th:each="operator : ${editUserDto.getOperators()}">
            <label for="inputOperators" class="form-label">Оператор</label> <br>
            <select id="inputOperators" name="operatorId" th:field="*{operators}"  class="form-control form-select form-select-lg">
                <option th:each="operatorAll : ${AllOperators}" th:value="${operatorAll.id}" th:text="${operatorAll.user.fio}"  th:selected="${operatorAll.user.fio == operator.user.fio}"></option>
                <option th:unless="${!AllOperators.contains(operator)}" th:value="${operator.id}" th:text="${operator.user.fio}" th:selected="${operator.user.fio != null}"></option>
            </select>
            <a th:href="@{/allUsers/delete/operator/{username}/{operatorId}(username = ${editUserDto.username}, operatorId=${operator.id})}">Удалить</a>
        </div>
        <div class="mb-3" th:each="worker : ${editUserDto.getWorkers()}">
            <label for="inputWorkers" class="form-label">Специалист</label> <br>
            <select id="inputWorkers" name="workerId" th:field="*{workers}"  class="form-control form-select form-select-lg">
                <option th:each="workerAll : ${AllWorkers}" th:value="${workerAll.id}" th:text="${workerAll.user.fio}"  th:selected="${workerAll.user.fio == worker.user.fio}"></option>
                <option th:unless="${!AllWorkers.contains(worker)}" th:value="${worker.id}" th:text="${worker.user.fio}" th:selected="${worker.user.fio != null}"></option>
            </select>
            <a th:href="@{/allUsers/delete/worker/{username}/{workerId}(username = ${editUserDto.username}, workerId=${worker.id})}">Удалить</a>
        </div>

        <div class="mb-3" th:each="marketolog : ${editUserDto.getMarketologs()}">
            <label for="inputMarketolog" class="form-label">Маркетолог</label> <br>
            <select id="inputMarketolog" name="marketologId" th:field="*{marketologs}"  class="form-control form-select form-select-lg">
                <option th:each="marketologAll : ${AllMarketologs}" th:value="${marketologAll.id}" th:text="${marketologAll.user.fio}"  th:selected="${marketologAll.user.fio == marketolog.user.fio}"></option>
                <option th:unless="${!AllMarketologs.contains(marketolog)}" th:value="${marketolog.id}" th:text="${marketolog.user.fio}" th:selected="${marketolog.user.fio != null}"></option>
            </select>
            <a th:href="@{/allUsers/delete/marketolog/{username}/{marketologId}(username = ${editUserDto.username}, marketologId=${marketolog.id})}">Удалить</a>
        </div>
        <!--    СПИСКИ ОПЕРАТОРОВ, МЕНЕДЖЕРОВ И РАБОТНИКОВ    -->

        <div class="mb-3">
            <label for="inputLink" class="form-label">Активность</label>
            <input type="checkbox" th:checked="${editUserDto.isActive()}" th:field="*{active}" class="form-control form-paymentCheck" id="inputLink" aria-describedby="emailHelp">
            <small class="form-text text-danger" th:each="err : ${#fields.errors('active')}" th:text="${err}">Validation error</small>
        </div>

<!--    ВВОД НОВЫХ ОПЕРАТОРОВ, МЕНЕДЖЕРОВ И РАБОТНИКОВ    -->
        <div class="mb-3" th:object="${operatorDTO}">
            <label for="inputAddOperators" class="form-label">Оператор</label> <br>
            <select id="inputAddOperators" name="operatorId" th:field="*{operatorId}"  class="form-control form-select form-select-lg">
                <option value="0">Добавить оператора</option>
                <option th:each="operatorAll2 : ${AllOperators}" th:value="${operatorAll2.id}" th:text="${operatorAll2.user.fio}"></option>
                <!--                <option th:unless="${!AllOperators.contains(operator)}" th:value="${operator.id}" th:text="${operator.user.fio}" th:selected="${operator.user.fio != null}"></option>&ndash;&gt;-->
            </select>
        </div>
        <div class="mb-3" th:object="${managerDTO}">
            <label for="inputAddManagers" class="form-label">Менеджер</label> <br>
            <select id="inputAddManagers" name="managerId" th:field="*{managerId}"  class="form-control form-select form-select-lg">
                <option value="0">Добавить менеджера</option>
                <option th:each="managerAll : ${AllManagers}" th:value="${managerAll.id}" th:text="${managerAll.user.fio}"></option>
                <!--                <option th:unless="${!AllOperators.contains(operator)}" th:value="${operator.id}" th:text="${operator.user.fio}" th:selected="${operator.user.fio != null}"></option>&ndash;&gt;-->
            </select>
        </div>
        <div class="mb-3" th:object="${workerDTO}">
            <label for="inputAddWorkers" class="form-label">Специалист</label> <br>
            <select id="inputAddWorkers" name="workerId" th:field="*{workerId}"  class="form-control form-select form-select-lg">
                <option value="0">Добавить специалиста</option>
                <option th:each="workerAll : ${AllWorkers}" th:value="${workerAll.id}" th:text="${workerAll.user.fio}"></option>
                <!--                <option th:unless="${!AllOperators.contains(operator)}" th:value="${operator.id}" th:text="${operator.user.fio}" th:selected="${operator.user.fio != null}"></option>&ndash;&gt;-->
            </select>
        </div>
        <div class="mb-3" th:object="${marketologDTO}">
            <label for="inputAddMarketologs" class="form-label">Маркетолог</label> <br>
            <select id="inputAddMarketologs" name="marketologId" th:field="*{marketologId}"  class="form-control form-select form-select-lg">
                <option value="0">Добавить маркетолога</option>
                <option th:each="marketologAll : ${AllMarketologs}" th:value="${marketologAll.id}" th:text="${marketologAll.user.fio}"></option>
                <!--                <option th:unless="${!AllOperators.contains(operator)}" th:value="${operator.id}" th:text="${operator.user.fio}" th:selected="${operator.user.fio != null}"></option>&ndash;&gt;-->
            </select>
        </div>

        <div class="mb-3">
            <label for="coefficient" class="form-label">Коэффициент (0.00)</label>
            <input type="number" step="0.01" min="0.05" max="0.30" required th:field="*{coefficient}" th:value="${editUserDto.coefficient}" name="coefficient" class="form-control" id="coefficient" placeholder="коэффициент 0.00">
            <small class="form-text text-danger" th:each="err : ${#fields.errors('coefficient')}" th:text="${err}">Validation error</small>
        </div>
        <!--    ВВОД НОВЫХ ОПЕРАТОРОВ, МЕНЕДЖЕРОВ И РАБОТНИКОВ    -->

        <button type="submit" class="btn btn-primary">Сохранить</button>
        <input type="hidden" name="_csrf" value="${_csrf.token}"/>
    </form>
</div>

<!--Внесение новой компании-->
<!--(categoryId=${category.id})-->
<!--<div  class="container mt-5" >-->
<!--    <form th:action="'/allUsers/' + ${user.id} + '/edit/' + ${operatorAll2.id}" th:object="${operatorDTO}" method="post"> -->
<!--        <div class="mb-3">-->
<!--            <label for="inputAddOperators" class="form-label">Оператор</label> <br>-->
<!--            <select id="inputAddOperators" name="operatorId"  class="form-control form-select form-select-lg">-->
<!--                <option th:each="operatorAll2 : ${AllOperators}" th:value="${operatorAll2.id}" th:text="${operatorAll2.user.fio}"></option>-->
<!--                &lt;!&ndash;                <option th:unless="${!AllOperators.contains(operator)}" th:value="${operator.id}" th:text="${operator.user.fio}" th:selected="${operator.user.fio != null}"></option>&ndash;&gt;&ndash;&gt;-->
<!--            </select>-->
<!--        </div>-->

<!--        <button type="submit" class="btn btn-primary">Сохранить</button>-->
<!--        <input type="hidden" name="_csrf" value="${_csrf.token}"/>-->
<!--    </form>-->
<!--</div>-->
<header th:replace="~{fragments/footer :: footer}"></header>


</body>
</html>





<!--        <div class="mb-3">-->
<!--            <label for="inputRoles" class="form-label">Роль</label>-->
<!--            <select id="inputRoles" name="roles" th:field="*{roles}" class="form-select" aria-label="Select Role">-->
<!--                <option value="">Выберите роль</option>-->
<!--                <option th:each="role : ${roles}" th:value="${role}" th:text="${role.name}"></option>-->
<!--            </select>-->
<!--            <small class="form-text text-danger" th:each="err : ${#fields.errors('roles')}" th:text="${err}">Validation error</small>-->
<!--        </div>-->

<!--        <div class="mb-3">-->
<!--            <label for="inputRoles" class="form-label">Роль</label>-->
<!--            <select id="inputRoles" name="roles" th:field="*{roles}" class="form-select" aria-label="Select Role">-->
<!--                <option value="">Выберите роль</option>-->
<!--                <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>-->
<!--                <option value="newRole">Добавить новую роль</option>-->
<!--            </select>-->
<!--            <input type="text" id="inputNewRole" name="newRole" class="form-control mt-2" placeholder="Введите новую роль" th:if="${#fields.hasErrors('roles') and #fields.hasFieldErrors('roles')}">-->
<!--            <small class="form-text text-danger" th:each="err : ${#fields.errors('roles')}" th:text="${err}">Validation error</small>-->
<!--        </div>-->

<!--        <div class="mb-3">-->
<!--            <label for="inputRoles" class="form-label">Роль</label>-->
<!--            <select id="inputRoles" name="roles" th:field="*{roles}" class="form-select" aria-label="Select Role">-->
<!--                <option value="">Выберите роль</option>-->
<!--                <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>-->
<!--            </select>-->
<!--            <small class="form-text text-danger" th:each="err : ${#fields.errors('roles')}" th:text="${err}">Validation error</small>-->
<!--        </div>-->

<!--        <div class="mb-3">-->
<!--            <label for="inputRoles" class="form-label">Роль</label>-->
<!--            <select id="inputRoles" name="roles" th:field="*{roles}" class="form-select" aria-label="Select Role">-->
<!--                <option value="">Выберите роль</option>-->
<!--                <option th:each="role : ${roles}" th:value="${role.name}" th:text="${role.name}"></option>-->
<!--            </select>-->
<!--            <small class="form-text text-danger" th:each="err : ${#fields.errors('roles')}" th:text="${err}">Validation error</small>-->
<!--        </div>-->



<!--        <div class="mb-3">-->
<!--            <label for="inputLink" class="form-label">Активность</label>-->
<!--            <input type="checkbox" th:value="${editUserDto.isActive()}" name="active" class="form-control form-paymentCheck-input" id="inputLink" aria-describedby="emailHelp">-->
<!--            <small class="form-text text-danger" th:each="err : ${#fields.errors('active')}" th:text="${err}">Validation error</small>-->
<!--        </div>-->

<!--        <div th:object="${editUserDto.getRoles()}" class="mb-3 mt-3">-->
<!--            <select id="cat_id" required name="cat_id" th:field="*{roles}" class="form-select form-select-lg mb-3 mt-3" aria-label="Default select example">-->
<!--                &lt;!&ndash;          <option  selected>Выберите категорию</option>&ndash;&gt;-->
<!--                <option th:value="*{name}" name="roles">Роль</option>-->

<!--                <option  th:each="categorys : ${category}"  th:text="${categorys.getCategoryTitle()}"-->
<!--                         th:value="${categorys.getId()}"-->
<!--                >Салон красоты</option>-->
<!--                <small class="form-text text-danger" th:each="err : ${#fields.errors('categorys')}" th:text="${err}">Validation error</small>-->

<!--            </select>-->
<!--        </div>-->
<!--        <div>-->
<!--            <div class="form-paymentCheck form-switch">-->
<!--                <input class="form-paymentCheck-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>-->
<!--                <label class="form-paymentCheck-label" for="flexSwitchCheckChecked">Компания активна</label>-->
<!--            </div>-->
<!--        </div>-->