<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- ==================== META ======================== -->
    <th:block th:insert="~{fragments/common :: meta}"></th:block>
    <!-- ==================== STYLE ======================== -->
    <th:block th:insert="~{fragments/common :: styles_index_boot}"></th:block>
    <title>Регистрация в O! Company!</title>
</head>

<body>
<!---------------------------------------- ФОРМА ВВОДА ДАННЫХ -------------------------------------------------------->
<header th:replace="~{fragments/header :: header}"></header>

<div class="container">
    <div class="row py-2 pt-1 mt-1">
        <div class="col-12 pt-5">
            <form th:action="@{/register}" method="post" th:object="${newUser}" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="username">Укажите логин</label>
                    <input type="text" id="username" th:field="*{username}" class="form-control"
                           placeholder="Введите логин">
                    <!--Проходимся по ошибкам через ич, если они появились после валидации и показываем-->
                    <small class="form-text text-danger" th:each="err : ${#fields.errors('username')}" th:text="${err}">Validation
                        error</small>
                </div>
                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input type="password" id="password" th:field="*{password}" class="form-control"
                           placeholder="Введите пароль">
                    <small class="form-text text-danger" th:each="err : ${#fields.errors('password')}" th:text="${err}">Validation
                        error</small>
                </div>
                <div class="form-group">
                    <label for="repeatPassword">Повторите пароль</label>
                    <input type="password" id="repeatPassword" th:field="*{matchingPassword}" class="form-control"
                           placeholder="Повторите пароль">
                    <small class="form-text text-danger" th:each="err : ${#fields.errors('matchingPassword')}"
                           th:text="${err}">Validation error</small>
                </div>
                <div class="form-group">
                    <label for="fio">Укажите Фамилию Имя Отчество</label>
                    <input type="text" id="fio" th:field="*{fio}" class="form-control"
                           placeholder="пример Иванов Иван Иванович">
                    <!--Проходимся по ошибкам через ич, если они появились после валидации и показываем-->
                    <small class="form-text text-danger" th:each="err : ${#fields.errors('fio')}" th:text="${err}">Validation
                        error</small>
                </div>
                <div class="form-group">
                    <label for="repeatPassword">Email</label>
                    <input type="email" id="email" th:field="*{email}" class="form-control"
                           placeholder="Введите мейл">
                    <small class="form-text text-danger" th:each="err : ${#fields.errors('email')}"
                           th:text="${err}">Validation error</small>
                </div>
                <div class="form-group">
                    <label for="repeatPassword">Номер телефона</label>
                    <input type="number" id="phoneNumber" th:field="*{phoneNumber}" class="form-control"
                           placeholder="Введите номер телефона">
                    <small class="form-text text-danger" th:each="err : ${#fields.errors('phoneNumber')}"
                           th:text="${err}">Validation error</small>
                </div>
                <div class="form-group">
                    <label for="image">Аватар</label>
                    <div class="custom-file">
                        <input required type="file" name="file" id="image">
                        <small class="form-text text-danger" th:each="err : ${#fields.errors('image')}"
                               th:text="${err}">Validation error</small>
                    </div>
                </div>
                <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                <button  type="submit" class="btn btn-primary mt-3">Зарегистрироваться</button>
            </form>
        </div>
    </div>
</div>
<!---------------------------------------- ФОРМА ВВОДА ДАННЫХ -------------------------------------------------------->
<header th:replace="~{fragments/footer :: footer}"></header>
<th:block th:insert="~{fragments/common :: js}"></th:block>


</body>

</html>



<!-- Required meta tags -->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->

<!--    &lt;!&ndash; Bootstrap CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"-->
<!--          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
<!--    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>-->
<!--    <title>Список покупок</title>-->


<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--    <a class="navbar-brand" href="/">Список покупок</a>-->

<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"-->
<!--            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->

<!--    <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--        <ul class="navbar-nav mr-auto">-->
<!--        </ul>-->

<!--        <div class="form-inline my-2 my-lg-0">-->
<!--            <a class="btn btn-outline-success my-2 mr-2 my-sm-0" th:href="@{/login}">Логин</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"-->
<!--        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"-->
<!--        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"-->
<!--        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"-->
<!--        crossorigin="anonymous"></script>-->