<section th:fragment="company" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

    <!-- <h2 class="company__section-title" th:text="${TitleName}"></h2>
    <div class="company__tabs__lead"> -->
        <!-- КНОПКИ ВЫБОРА РАЗДЕЛА СТАТУСОВ - НАЧАЛО -->
        <!-- <div class="company__tabs__btn__lead">
            <a class="company__tabs__btn-item company__tabs__btn-item--active" data-button="content-10" th:href="@{'/companies/new_company'}">Новые</a>
            <a class="company__tabs__btn-item" data-button="content-13" th:href="@{'/companies/on_work'}">В работе</a>
            <a class="company__tabs__btn-item" data-button="content-14" th:href="@{'/companies/new_order'}">Новый заказ</a>
            <a class="company__tabs__btn-item" data-button="content-12" th:href="@{'/companies/to_send'}">К рассылке</a>
            <a class="company__tabs__btn-item" data-button="content-12" th:href="@{'/companies/waiting'}">Ожидание</a>
            <a class="company__tabs__btn-item" data-button="content-14" th:href="@{'/companies/on_stop'}">На стопе</a>
            <a class="company__tabs__btn-item" data-button="content-16" th:href="@{'/companies/ban_company'}">Бан</a>
            <a class="company__tabs__btn-item" data-button="content-15" th:href="@{'/companies/allCompany'}">Все</a>
            <a class="company__tabs__btn-item" th:href="@{'/orders/new_orders'}" data-button="content-16">Заказы</a>
        </div> -->
        <!-- КНОПКИ ВЫБОРА РАЗДЕЛА СТАТУСОВ - КОНЕЦ --> 

        <div class="company__tabs__content-lead">
            <!-- КНОПКИ КОПИРОВАНИЯ ТЕКСТА - НАЧАЛО -->
            <div class="company__card__remember">
                <div class="company__card__remember__box">
                           <div class="company__card_remember-content">
                               <textarea class="company__card__remember-text" th:utext="${promoTexts[0]}" id="myInput1"></textarea>
                               <button class="company__card_remember-content__btn" onclick="myFunction1()">предложение</button>
                            </div>
                            <div class="company__card_remember-content">
                                <textarea class="company__card__remember-text"th:utext="${promoTexts[1]}" id="myInput2"></textarea>
                                <button class="company__card_remember-content__btn" onclick="myFunction2()">рассылка</button>
                            </div>
<!--                            <div class="company__card_remember-content">-->
<!--                                <textarea class="card__remember-text" th:utext="${promoTexts[2]}" id="myInput3"></textarea>-->
<!--                                <button class="card_remember-content__btn" onclick="myFunction3()">данные</button>-->
<!--                            </div>-->
<!--                            <div class="company__card_remember-content">-->
<!--                                <textarea class="company__card__remember-text" th:utext="${promoTexts[3]}" id="myInput4"></textarea>-->
<!--                                <button class="company__card_remember-content__btn" onclick="myFunction4()">оплата</button>-->
<!--                            </div>-->
<!--                        </div>-->
                    <div class="company__card__remember__box-serch">

                        <form class="company__card_remember-search" th:method="get">
                            <!-- The text field -->
                            <input class="company__card_remember-search__text" type="text" value="" name="keyword" id="keyword">
                            <!-- The button used to copy the text -->
                            <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                            <button type="submit" class="company__card_remember-search__btn">Найти</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- КНОПКИ КОПИРОВАНИЯ ТЕКСТА - КОНЕЦ -->



            <!-- СПИСОК КАРТОЧЕК 1 НОВЫЕ-->
                <div class="company__tabs__content-item company__tabs__content-item--active" id="content-10">
                    <div th:each="company : ${allCompany}" class="company__card__lead">
                        <div class="company__card__content__lead">
                            <!-- элементы карточки - начало -->
                            <div class="company__card__content__phone">
                                <a class="company__card__title__lead" th:text="${company.title}" target="_blank"  th:href="@{${company.filials[0].url}}">Текущий статус Лида</a>
                            </div>
                            <div class="company__card__content__phone">
                                <!-- <div class="card__title__lead" th:text="${lead.telephoneLead}">Номер Лида</div> -->
                                <form class="company__card__title__lead" th:method="get" target="_blank" th:action="${company.urlChat}">
                                    <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                    <button type="submit" class="company__card__text__lead-button " th:text="${company.telephone}">в архив</button>
                                </form>
                            </div>
                            <div class="card__content__city">
                                <p class="company__card__text__city__lead" th:text="${company.status.title}">Статус заказа</p>
                                <a class="company__card__text__city__lead" th:text="Заказ"  th:href="@{'/ordersCompany/'+ ${company.id}}">Дата создания Лида</a>
                                <!-- <a class="company__card__text__city__lead" th:text="Подробности"  th:href="@{'/ordersCompany/ordersDetails/'+ ${company.id}}">Дата создания Лида</a> -->
                            </div>
                            
                            <div class="company__card__content__comments__tocompany">
                                <div class="company__card__text__lead2" th:text="${company.commentsCompany}">Комментарий для лида</div>
                            </div>
                            <div class="company__card__content_button"> <!-- card__content_button -->
                                <form class="company__card__text__lead" th:method="post" th:action="'/companies/status_for_waiting/' + ${company.id}">
                                    <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                    <button type="submit" class="company__card__text__lead-button ">предложил</button>
                                </form>
                                <form class="company__card__text__lead" th:method="post" th:action="'/companies/status_for_waiting_send/' + ${company.id}">
                                    <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                    <button type="submit" class="company__card__text__lead-button ">разослал</button>
                                </form>
                                <form class="company__card__text__lead" th:method="post" th:action="'/companies/status_for_stop/' + ${company.id}">
                                    <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                    <button type="submit" class="company__card__text__lead-button ">на стоп</button>
                                </form>
                                <form class="company__card__text__lead" th:method="post" th:action="'/companies/status_for_ban/' + ${company.id}">
                                    <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                    <button type="submit"  class="company__card__text__lead-button ">бан</button>
                                </form>
                                <!-- элементы карточки - конец -->
                            </div> <!-- card__content_button -->
                            <div >
                                <form  th:method="get" th:action="@{'/ordersCompany/ordersDetails/'+ ${company.id}}">
                                    <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                    <div class="company__card__content__phone">
                                        <button type="submit" class="company__card__text__lead-button" th:text="ПОДРОБНЕЕ">Подробнее</button>
                                    </div>
                            </form>
                        </div>
                        </div> <!-- card__content__lead -->
                        <form class="company__card__content__author" th:method="get" th:action="'editCompany/' + ${company.id}">
                            <div class="company__card__link__lead" th:text="${company.manager.user.fio != null ? company.manager.user.fio : 'пусто'}">Имя Менеджера</div>
                            <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                            <button type="submit" class="company__card__link__lead__more company__card__link__lead">Изменить</button>
                        </form>
                    </div> <!-- card -->    
                
            </div> <!-- tabs__content-item -->
            <!-- СПИСОК КАРТОЧЕК 1 -->
        </div> <!-- tabs__content -->
    </div> <!-- tabs -->

    <!-- <th:block th:insert="~{fragments/common :: js}"></th:block> -->
    <th:block th:insert="~{fragments/common :: js_company}"></th:block>

</section>