<div th:fragment="footer">
<div class="page__row">
    <div class="page__cell">
        <section class="section">
            <h2 class="headline"><a href="tel:+79016668881" class="phone-number">8 (901) 666-888-1</a></h2>

            <p class="text"><b>Кликайте по номеру и звоните в любое время с 11-00 до 22-00</b>

                <br><br> И помните, не тратьтесь на аренду кафе и весело отпразднуйте день рождения в наших помещениях на 20 чел. Пока дети играют, мы предложим вам фильмы, чай и настольные игры.<br><br>
        </section>
    </div>
</div>


        <div class="page__row- page__row-footer">
            <footer class="footer">
                <div class="footer__copyright">
                    IQuest &copy 2015 <br>
                    <a class="footer__link" href="https:naigru.ru">naigru.ru</a>
                </div>
            </footer>
        </div>