<section th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="footer2">
        <div class="container">    
            <div class="page__row">
                <div class="page__cell">
                    <section class="section">
                        <h2 class="headline"><a href="tel:+79086431055" class="phone-number">8 (908) 643-10-55</a></h2>

                        <p class="text">ДЕЛАЕМ ВАС ЛУЧШЕ<b></b>

                            <br><br>Агенство по повышению репутации компаний в интернете. Для связи с нами напишите нам в WhatsApp по номеру выше. <br><br>
                    </section>
                </div>
            </div>

            <div class="page__row- page__row-footer">
                <footer class="footer">
                    <div class="footer__copyright">
                         Иван Хант 2020 <br>
                        <!-- <a class="footer__link" href="https://o-ogo.ru">o-ogo.ru</a> -->
                    </div>
                </footer>
            </div>

        </div>            
    </div>
</section>