<section th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">


    <div class="page__row">
        <div class="page__cell2">
            <header class="header">

                <div class="header__contact">
                    <div class="header__phone-number2">
                        <a href="#" class="phone-number2">КОМПАНИЯ "О!"</a>
                    </div>
                </div>

                <nav class="nav">
                    <div class="nav__btn">
                        <button data-target="#nav-main" type="button" class="btn-nav" id="btn-nav" aria-label="Меню">
                            <span class="btn-nav__line"></span>
                            <span class="btn-nav__line"></span>
                            <span class="btn-nav__line"></span>
                        </button>
                    </div>
                    <ul class="nav__list" id="nav-main">
                        <li class="mev__item">
                            <a sec:authorize="isAuthenticated()" th:href="@{/}" class="nav__link link" aria-label="Перейти на главную страницу">
                                Главная
                            </a>
                        </li>
                        <li class="mev__item">
                            <a sec:authorize="isAuthenticated()" th:href="@{/categories}" class="nav__link  link" aria-label="Перейти на страницу лазертаг">
                                Категории
                            </a>
                        </li>
                        <li class="mev__item">
                            <a sec:authorize="isAuthenticated()" th:href="@{/lead}" class="nav__link link" aria-label="Перейти на страницу день рождения под ключ">
                                Лиды
                            </a>
                        </li>
                        <li class="mev__item">
                            <a sec:authorize="isAuthenticated()" th:href="@{/lead/new_lead}" class="nav__link link" aria-label="Перейти на страницу день рождения под ключ">
                                Оператор
                            </a>
                        </li>
                        <li class="mev__item">
                            <a sec:authorize="isAuthenticated()" th:href="@{/marketolog/operator_list}" class="nav__link link" aria-label="Перейти на страницу день рождения под ключ">
                                Маркетолог
                            </a>
                        </li>
                        <li class="mev__item">
                            <a sec:authorize="isAuthenticated()" th:href="@{/companies/new_company}" class="nav__link link" aria-label="Перейти на страницу день рождения под ключ">
                                Менеджер
                            </a>
                        </li>
                        <li class="mev__item">
                            <a sec:authorize="isAuthenticated()" th:href="@{/worker/new_orders}" class="nav__link link" aria-label="Перейти на страницу день рождения под ключ">
                                Специалист
                            </a>
                        </li>
                        <li class="mev__item">
                            <a sec:authorize="isAuthenticated()" th:href="@{/bots}" class="nav__link  link" aria-label="Перейти на страницу лазертаг">
                                Боты
                            </a>
                        </li>
                        
                        <li class="mev__item">
                            <a sec:authorize="isAuthenticated()" th:href="@{/products/products}" class="nav__link  link" aria-label="Перейти на страницу продуктов">
                                Продукт
                            </a>
                        </li>
                        
                        <li class="mev__item">
                            <a sec:authorize="isAuthenticated()" th:href="@{/payment_check}" class="nav__link  link" aria-label="Перейти на страницу лазертаг">
                                Чеки
                            </a>
                        </li>
                        <li class="mev__item">
                            <a sec:authorize="isAuthenticated()" th:href="@{/zp}" class="nav__link  link" aria-label="Перейти на страницу квестов">
                                ЗП
                            </a>
                        </li>
                        <li class="mev__item">
                            <a sec:authorize="isAuthenticated()" th:href="@{/admin}" class="nav__link  link" aria-label="Перейти на страницу квестов">
                                Админ
                            </a>
                        </li>
                        <li class="mev__item">
                            <a sec:authorize="isAuthenticated()" th:href="@{/allUsers}"  class="nav__link  link" aria-label="Перейти на страницу нерф">
                                Пользователи
                            </a>
                        </li>
                        <div sec:authorize="!isAuthenticated()" class="header__contact">
                            <div class="header__phone-number">
                                <div class="dws">
                                    <div class="info__item">
                                        <a href="/login" class="butt" aria-label="Перейти на страницу правил">Логин</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div sec:authorize="isAuthenticated()" class="header__contact">
                            <div class="header__phone-number">
                                <div class="dws">
                                    <div class="info__item">
                                        <a th:href="@{/custom-logout}" class="butt" aria-label="Перейти на страницу правил">Выйти</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ul> 
                </nav>
            </header>
        </div>
    </div>

  </section>

