<div th:fragment="header">
<div class="page__row">
    <div class="page__cell">
        <header class="header">
            <div class="header__logo">
                <a href="#" class="logo" aria-label="Перейти на главную страницу">
                    <img class="logo__picture" src="images/logo.png" width="350" height="50" alt="">
                </a>
            </div>

            <div class="header__contact">
                <div class="header__phone-number">
                    <a href="tel:+79016668881" class="phone-number">8 (901) 666-888-1</a>
                </div>
                <div class="header__email-adress">
                    <a href="mailto:iquest38@mail.ru" class="email-address">iquest38@mail.ru</a>
                </div>
        </header>
        <div class="zagolovok">
            <h1> ЦЕНТР ДЕТСКИХ РАЗВЛЕЧЕНИЙ </h1>
        </div>
    </div>
</div>
<div class="page__row">
    <div class="page__cell">
        <nav class="nav">
            <div class="nav__btn">
                <button data-target="#nav-main" type="button" class="btn-nav" aria-label="Меню">
                    <span class="btn-nav__line"></span>
                    <span class="btn-nav__line"></span>
                    <span class="btn-nav__line"></span>
                </button>
            </div>
            <ul class="nav__list" id="nav-main">
                <li class="mev__item">
                    <a href="index.html" class="nav__link link" aria-label="Перейти на главную страницу">
                        Главная
                    </a>
                </li>
                <li class="mev__item">
                    <a href="dr-pod-kluch.html" class="nav__link link" aria-label="Перейти на страницу день рождения под ключ">
                        День рождения под ключ
                    </a>
                </li>
                <li class="mev__item">
                    <a href="gorod.html" class="nav__link  link" aria-label="Перейти на страницу квестов">
                        Квесты
                    </a>
                </li>
                <li class="mev__item">
                    <a href="lasertag.html" class="nav__link  link" aria-label="Перейти на страницу лазертаг">
                        Лазертаг
                    </a>
                </li>
                <li class="mev__item">
                    <a href="nerf.html" class="nav__link  link" aria-label="Перейти на страницу нерф">
                        Нерф
                    </a>
                </li>
                <li class="mev__item">
                    <a href="among.html" class="nav__link  link" aria-label="Перейти на страницу амонг ас">
                        Амонг Ас
                    </a>
                </li>
                <li class="mev__item">
                    <a href="karting.html" class="nav__link  link" aria-label="Перейти на страницу картинг">
                        Картинг
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>