<section th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

    <div class="container">
        <div class="page__cell2">
            <header class="header">

                <div class="header__contact">
                    <div class="header__phone-number2">
                        <a href="/" class="phone-number2">КОМПАНИЯ "О!"</a>
                    </div>
                </div>

                <nav class="nav">
                    <div class="nav__btn">
                        <button data-target="#nav-main" type="button" class="btn-nav" id="btn-nav" aria-label="Меню">
                            <span class="btn-nav__line"></span>
                            <span class="btn-nav__line"></span>
                            <span class="btn-nav__line"></span>
                        </button>
                    </div>
                    <ul class="nav__list" id="nav-main">
                        <li class="mev__item">
                            <a sec:authorize="isAuthenticated()" th:href="@{/}" class="nav__link link" aria-label="Перейти на главную страницу">
                                Главная
                            </a>
                        </li>
                        <li sec:authorize="hasAnyRole('ADMIN', 'OWNER', 'OPERATOR')" class="mev__item">
                            <a sec:authorize="isAuthenticated()" th:href="@{/operators}" class="nav__link link" aria-label="Перейти на страницу Оператора">
                                Оператор
                            </a>
                        </li>
                        <li  sec:authorize="hasAnyRole('ADMIN', 'OWNER', 'MARKETOLOG')" class="mev__item">
                            <a sec:authorize="isAuthenticated()" th:href="@{/lead/new_lead}" class="nav__link link" aria-label="Перейти на страницу Маркетолога">
                                Маркетолог
                            </a>
                        </li>
                        <li sec:authorize="hasAnyRole('ADMIN', 'OWNER', 'MANAGER')" class="mev__item">
                            <a sec:authorize="isAuthenticated()" th:href="@{/companies/company(status='Все')}" class="nav__link link" aria-label="Перейти на страницу Менеджера">
                                Менеджер
                            </a>
                        </li>
                        <li sec:authorize="hasAnyRole('ADMIN', 'OWNER', 'WORKER')" class="mev__item">
                            <a sec:authorize="isAuthenticated()" th:href="@{/worker/new_orders}" class="nav__link link" aria-label="Перейти на страницу Специалиста">
                                Специалист
                            </a>
                        </li>
                        <li class="mev__item">
                            <a sec:authorize="hasAnyRole('OPERATOR', 'MANAGER', 'WORKER', 'MARKETOLOG')" th:href="@{/admin}" class="nav__link  link" aria-label="Перейти в Личный Кабинет">
                                Личный кабинет
                            </a>
                            <a sec:authorize="hasAnyRole('ADMIN', 'OWNER')" th:href="@{/admin/analyse}" class="nav__link  link" aria-label="Перейти на страницу Анализа">
                                Личный кабинет
                            </a>
                        </li>
                        <div sec:authorize="!isAuthenticated()" class="header__contact">
                            <div class="header__phone-number">
                                <div class="dws">
                                    <div class="info__item">
                                        <a href="/login" class="butt" aria-label="Перейти на страницу правил">Логин</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div sec:authorize="isAuthenticated()" class="header__contact">
                            <div class="header__phone-number">
                                <div class="dws">
                                    <div class="info__item">
                                        <form  method="post" th:action="@{/custom-logout}">
                                        <input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}">
                                        <button type="submit" class="butt"  aria-label="Перейти на страницу правил">Выйти</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ul> 
                </nav>
            </header>
        </div>
    </div>
</section>

