<section th:fragment="header_menu" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../static/css/header.css">
        <title>Document</title>
    </head>
    <body>
        
    </body>
    </html>


    <nav>
        <ul class="top__menu">
            <li>
                <a href="#">Меню 1 лвл</a>
                    <ul class="sub__menu">
                        <li>
                            <a href="#">Меню 2 лвл</a>
                        </li>
                        <li>
                            <a href="#">Меню 2 лвл</a>
                            <ul class="sub__menu">
                                <li>
                                    <a href="#">Меню 3 лвл</a>
                                </li>
                                <li>
                                    <a href="#">Меню 3 лвл</a>
                                </li>
                                <li>
                                    <a href="#">Меню 3 лвл</a>
                                </li>
                                <li>
                                    <a href="#">Меню 3 лвл</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Меню 2 лвл</a>
                        </li>
                        <li>
                            <a href="#">Меню 2 лвл</a>
                        </li>
                    </ul>
            </li>
            <li>
                <a href="#">Меню 1 лвл</a>
            </li>
            <li>
                <a href="#">Меню 1 лвл</a>

                <ul class="sub__menu">
                    <li>
                        <a href="#">Меню 2 лвл</a>
                    </li>
                    <li>
                        <a href="#">Меню 2 лвл</a>
                        <ul class="sub__menu">
                            <li>
                                <a href="#">Меню 3 лвл</a>
                            </li>
                            <li>
                                <a href="#">Меню 3 лвл</a>
                            </li>
                            <li>
                                <a href="#">Меню 3 лвл</a>
                            </li>
                            <li>
                                <a href="#">Меню 3 лвл</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Меню 2 лвл</a>
                    </li>
                    <li>
                        <a href="#">Меню 2 лвл</a>
                    </li>
                </ul>
                
            </li>
            <li>
                <a href="#">Меню 1 лвл</a>
            </li>
        </ul>
        
    </nav>
    <p class="text">asdasdsadasdasdsadаваываываываыв</p>

</section>

