<section th:fragment="order_list_from_company" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <h2 class="company__section-title" th:text="'Список заказов:  ' + ${TitleName}">Список заказов</h2>
            <div class="company__tabs__lead">
                <!-- КНОПКИ ВЫБОРА РАЗДЕЛА СТАТУСОВ - НАЧАЛО -->
                <div class="company__tabs__btn__lead">
                    <a class="company__tabs__btn-item" th:href="@{'/companies/allCompany'}" data-button="content-11">К компаниям</a>
                    <a class="company__tabs__btn-item company__tabs__btn-item--active" data-button="content-10" th:href="@{'/orders/new_orders'}">Новые</a>
                    <a class="company__tabs__btn-item company__tabs__btn-item--active" data-button="content-11" th:href="@{'/orders/to_check'}">В проверку</a>
                    <a class="company__tabs__btn-item" data-button="content-12" th:href="@{'/orders/on_check'}">На проверке</a>
                    <a class="company__tabs__btn-item" data-button="content-13" th:href="@{'/orders/correct'}">Коррекция</a>
                    <a class="company__tabs__btn-item" data-button="content-14" th:href="@{'/orders/to_published'}">Публикация</a>
                    <a class="company__tabs__btn-item company__tabs__btn-item--active" data-button="content-15" th:href="@{'/orders/published'}">Опубликовано</a>
                    <a class="company__tabs__btn-item company__tabs__btn-item--active" data-button="content-16" th:href="@{'/orders/payment_check'}">Выставлен счет</a>
                    <a class="company__tabs__btn-item" data-button="content-17" th:href="@{'/orders/remember'}">Напоминание</a>
                    <a class="company__tabs__btn-item" data-button="content-17" th:href="@{'/orders/no_pay'}">Не опл.</a>
                    <a class="company__tabs__btn-item" data-button="content-18" th:href="@{'/orders/pay'}">Оплачено </a>
                    <a class="company__tabs__btn-item company__tabs__btn-item--active" data-button="content-19" th:href="@{'/orders/all_orders'}">Все </a>
                </div>
                <!-- КНОПКИ ВЫБОРА РАЗДЕЛА СТАТУСОВ - КОНЕЦ -->

                <div class="company__tabs__content-lead">
                    <!-- КНОПКИ КОПИРОВАНИЯ ТЕКСТА - НАЧАЛО -->
                    <div class="company__card__remember">
<!--                        <div class="company__card__remember__box">-->
                            <!-- <div class="company__card_remember-content">
                                    <textarea class="company__card__remember-text" th:utext="${promoTexts[0]}" id="myInput1"></textarea>
                                    <button class="company__card_remember-content__btn" onclick="myFunction1()">предложение</button>
                            </div> -->
<!--                            <div class="company__card_remember-content">-->
<!--                                &lt;!&ndash; The text field &ndash;&gt;-->
<!--                                <textarea class="company__card__remember-text"th:utext="${promoTexts[1]}" id="myInput2"></textarea>-->

<!--                                &lt;!&ndash; The button used to copy the text &ndash;&gt;-->
<!--                                <button class="company__card_remember-content__btn" onclick="myFunction2()">напоминание</button>-->
<!--                            </div>-->
<!--                            <div class="company__card_remember-content">-->
<!--                                &lt;!&ndash; The text field &ndash;&gt;-->
<!--                                <textarea class="card__remember-text" th:utext="${promoTexts[2]}" id="myInput3"></textarea>-->

<!--                                &lt;!&ndash; The button used to copy the text &ndash;&gt;-->
<!--                                <button class="card_remember-content__btn" onclick="myFunction3()">данные</button>-->
<!--                            </div>-->
<!--                            <div class="company__card_remember-content">-->
<!--                                &lt;!&ndash; The text field &ndash;&gt;-->
<!--                                <textarea class="company__card__remember-text" th:utext="${promoTexts[3]}" id="myInput4"></textarea>-->

<!--                                &lt;!&ndash; The button used to copy the text &ndash;&gt;-->
<!--                                <button class="company__card_remember-content__btn" onclick="myFunction4()">оплата</button>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="company__card__remember__box-serch">

                            <form class="company__card_remember-search" th:method="get">
                                <!-- The text field -->
                                <input class="company__card_remember-search__text" type="text" value="" name="keyword" id="keyword">
                                <!-- The button used to copy the text -->
                                <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                <button type="submit" class="company__card_remember-search__btn">Найти</button>
                            </form>

                        </div>
                    </div>
                
                    <!-- КНОПКИ КОПИРОВАНИЯ ТЕКСТА - КОНЕЦ -->





            <!-- СПИСОК КАРТОЧЕК 1 НОВЫЕ-->
            <div  class="company__tabs__content-item company__tabs__content-item--active" id="content-10">


                <div th:each="order : ${orders}" class="company__card__lead">
                    <div class="company__card__content__lead">

                        <!-- элементы карточки - начало -->
                        <div class="company__card__content__phone"> <!-- Название компании + ссылка на филиал-->
                            <a class="company__card__title__lead" th:text="${order.company.title}" target="_blank"  th:href="@{${order.filial.url}}">Текущий статус Лида</a>
                        </div>

                        <div class="company__card__content__city"> <!-- Статус и Сумма заказа -->
                            <p class="company__card__text__city__lead" th:text="${order.status.title}">Статус заказа</p>
                            <p class="company__card__text__city__lead" th:text="${order.sum} + ' руб.'">Сумма заказа</p> 
                        </div>

                        <div class="company__card__content__phone"> <!-- Телефон + ссылка в WhatsApp -->
                            <form class="company__card__title__lead" th:method="get" target="_blank" th:action="'https://wa.me/' + ${order.company.telephone}">
                                <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                <button type="submit" class="company__card__text__lead-button " th:text="${order.company.telephone}">в архив</button>
                            </form>
                        </div>

                        <!-- КНОПКИ 1 -->
                        <div class="company__card__content_button"> <!-- card__content_button -->
                            <div class="company__card__text__lead">
                                <textarea style="display: none;" class="company__card__remember-text" th:utext="${promoTexts[0]} + ' Ссылка на проверку отзывов: ' + 'http://localhost:8080/review/editReviews/' + ${order.id} " id="myInput1"></textarea>
                                <button class="company__card__text__lead-button" onclick="myFunction1()">текст+url</button>
                        </div>
                            <form class="company__card__text__lead" th:method="get" th:action="'/review/editReviews/' + ${order.id}">
                                <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                <button type="submit" class="company__card__text__lead-button ">url</button>
                            </form>
                            <div class="company__card__text__lead">
                                <textarea style="display: none;" class="company__card__remember-text" th:utext="${promoTexts[1]} + ' К олате: ' + ${order.sum} + ' руб.'" id="myInput2"></textarea>
                                <button class="company__card__text__lead-button" onclick="myFunction2()">счет</button>
                        </div>
                            <form class="company__card__text__lead" target="_blank" th:action="@{${order.filial.url}}">
                                <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                <button type="submit"  class="company__card__text__lead-button ">ссылка</button> 
                            </form>
                        </div> <!-- card__content_button -->

                        <!-- PROGRESS BAR -->
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="${order.amount}" th:style="'width: ' + (${order.counter} / ${order.amount} * 100) + '%'" id="progress-bar">
                                <span th:text="${order.counter}"></span>
                            </div>
                        </div>

                        <!-- КНОПКИ 2 -->
                        <div class="company__card__content_button"> <!-- card__content_button -->
                            
                            <form class="company__card__text__lead" th:method="post" th:action="'/ordersCompany/status_on_checking/' + ${order.company.id} + '/' + ${order.id}">
                                <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                <button type="submit" class="company__card__text__lead-button ">на проверку</button>
                            </form>
                            <form class="company__card__text__lead" th:method="post" th:action="'/ordersCompany/status_for_correct/' + ${order.company.id} + '/' + ${order.id}">
                                <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                <button type="submit" class="company__card__text__lead-button ">коррекция</button>
                            </form>
                            <form class="company__card__text__lead" th:method="post" th:action="'/ordersCompany/status_for_publish/' + ${order.company.id} + '/' + ${order.id}">
                                <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                <button type="submit"  class="company__card__text__lead-button ">одобрено</button>
                            </form>
                            <form class="company__card__text__lead" th:method="post" th:action="'/ordersCompany/status_for_publish_ok/' + ${order.company.id} + '/' + ${order.id}">
                                <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                <button type="submit" class="company__card__text__lead-button ">опублик.</button>
                            </form>
                        </div> <!-- card__content_button -->
                        <!-- КНОПКИ 3 -->
                        <div class="company__card__content_button"> <!-- card__content_button -->
                            <form class="company__card__text__lead" th:method="post" th:action="'/ordersCompany/status_to_pay/' + ${order.company.id} + '/' + ${order.id}">
                                <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                <button type="submit" class="company__card__text__lead-button ">счет</button>
                            </form>
                            <form class="company__card__text__lead" th:method="post" th:action="'/ordersCompany/remember/' + ${order.company.id} + '/' + ${order.id}">
                                <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                <button type="submit" class="company__card__text__lead-button ">напомнить</button>
                            </form>
                            <form class="company__card__text__lead" th:method="post" th:action="'/ordersCompany/status_no_pay/' + ${order.company.id} + '/' + ${order.id}">
                                <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                <button type="submit" class="company__card__text__lead-button ">не опл.</button>
                            </form>
                            <form class="company__card__text__lead" th:method="post" th:action="'/ordersCompany/status_pay/' + ${order.company.id} + '/' + ${order.id}">
                                <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                <button type="submit"  class="company__card__text__lead-button ">оплатили</button>
                            </form>
                        </div> <!-- card__content_button -->

                        <!-- НИЖНИИ КНОПКИ -->
                        <div >
                            <form  th:method="get" th:action="@{'/ordersDetails/'+ ${order.company.id} + '/' + ${order.id}}">
                                <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                <div class="company__card__content__phone">
                                    <button type="submit" class="company__card__text__lead-button" th:text="ПОДРОБНЕЕ">Подробнее</button>
                                </div>
                        </form>
                    </div>      
                    <form class="company__card__content__author" th:method="get" th:action="@{'/ordersCompany/ordersDetails/'+ ${order.company.id} + '/' + ${order.id}}">
                            <div class="company__card__link__order">
                                <span th:utext="'Без изменений: '"></span>
                                <span class="digits" th:text="${order.dayToChangeStatusAgo != null ? order.dayToChangeStatusAgo : 'пусто'}"></span>
                                <span th:utext="' дней'"></span>
                            </div>
                            <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                            <button type="submit" class="company__card__link__lead__more company__card__link__lead">Изменить</button>
                        </form>
                    </div> <!-- card -->
                </div> <!-- tabs__content-item -->
            </div>
            <!-- СПИСОК КАРТОЧЕК 1 КОНЕЦ -->

        </div> <!-- tabs__content -->
    </div> <!-- tabs -->

                    <th:block th:insert="~{fragments/common :: js_company}"></th:block>

</section>

