<section th:fragment="orders_to_company" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    
    <!-- <div class="company__tabs__lead"> -->
        <!-- КНОПКИ ВЫБОРА РАЗДЕЛА СТАТУСОВ - НАЧАЛО -->
        <!-- <div class="company__tabs__btn__lead">
            <a class="company__tabs__btn-item" th:href="@{'/companies/allCompany'}" data-button="content-10">К компаниям</a>
            <a class="company__tabs__btn-item company__tabs__btn-item--active" data-button="content-11" th:href="@{'/orders/new_orders'}">Новые</a>
            <a class="company__tabs__btn-item company__tabs__btn-item--active" data-button="content-12" th:href="@{'/orders/to_check'}">В проверку</a>
            <a class="company__tabs__btn-item" data-button="content-13" th:href="@{'/orders/on_check'}">На проверке</a>
            <a class="company__tabs__btn-item" data-button="content-14" th:href="@{'/orders/correct'}">Коррекция</a>
            <a class="company__tabs__btn-item" data-button="content-15" th:href="@{'/orders/to_published'}">Публикация</a>
            <a class="company__tabs__btn-item company__tabs__btn-item--active" data-button="content-16" th:href="@{'/orders/published'}">Опубликовано</a>
            <a class="company__tabs__btn-item company__tabs__btn-item--active" data-button="content-17" th:href="@{'/orders/payment_check'}">Выставлен счет</a>
            <a class="company__tabs__btn-item" data-button="content-18" th:href="@{'/orders/remember'}">Напоминание</a>
            <a class="company__tabs__btn-item" data-button="content-19" th:href="@{'/orders/no_pay'}">Не опл.</a>
            <a class="company__tabs__btn-item" data-button="content-20" th:href="@{'/orders/pay'}">Оплачено </a>
            <a class="company__tabs__btn-item company__tabs__btn-item--active" data-button="content-21" th:href="@{'/orders/all_orders'}">Все </a>
        </div> -->
        <!-- КНОПКИ ВЫБОРА РАЗДЕЛА СТАТУСОВ - КОНЕЦ -->

        <div class="company__tabs__content-lead">
            <!-- КНОПКИ КОПИРОВАНИЯ ТЕКСТА - НАЧАЛО -->
            <div class="company__card__remember">
                <div class="company__card__remember__box">
                    <div class="company__card_remember-content2">
                        <textarea class="company__card__remember-text" th:utext="${promoTexts[5]}" id="myInput1"></textarea>
                        <button class="company__card_remember-content__btn" onclick="myFunction1()">напоминание счет</button>
                    </div>
                    <div class="company__card_remember-content2">
                        <textarea class="company__card__remember-text"th:utext="${promoTexts[6]}" id="myInput2"></textarea>
                        <button class="company__card_remember-content__btn" onclick="myFunction2()">угроза</button>
                    </div>
                </div>
                    <div class="company__card__remember__box-serch">
                        <form class="company__card_remember-search" th:method="get">
                            <!-- The text field -->
                            <input class="company__card_remember-search__text" type="text" value="" name="keyword" id="keyword">
                            <button type="submit" class="company__card_remember-search__btn">Найти</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
            <!-- КНОПКИ КОПИРОВАНИЯ ТЕКСТА - КОНЕЦ -->





    <!-- СПИСОК КАРТОЧЕК 1 НОВЫЕ-->
    <div  class="company__tabs__content-item company__tabs__content-item--active" id="content-10">


        <div th:each="order : ${orders}" class="company__card__lead">
            <div class="company__card__content__lead">

                <!-- элементы карточки - начало -->
                <div class="company__card__content__phone"> <!-- Название компании + ссылка на филиал-->
                    <a class="company__card__title__lead" th:text="${order.companyTitle} +' -  ' + ${order.filialTitle}" target="_blank"  th:href="@{${order.filialUrl}}">Текущий статус Лида</a>
                </div>

                <div class="company__card__content__city"> <!-- Статус и Сумма заказа -->
                    <p class="company__card__text__city__lead" th:text="${order.status}">Статус заказа</p>
                    <p class="company__card__text__city__lead" th:text="${order.sum} + ' руб.'">Сумма заказа</p> 
                </div>

                <div class="company__card__content__phone"> <!-- Телефон + ссылка в WhatsApp -->
                    <form class="company__card__title__lead" th:method="get" target="_blank" th:action="${order.companyUrlChat}">
                        <button type="submit" class="company__telephone__button" th:text="${order.companyTelephone}">в архив</button>
                    </form>
                </div>

                <!-- КНОПКИ 1 -->
                <div class="company__card__content_button"> <!-- card__content_button -->
                    <div class="company__card__text__lead">
                        <textarea class="company__card__remember-text" th:utext="${promoTexts[4]} + ' Ссылка на проверку отзывов: ' + 'https://o-ogo.ru/review/editReviews/'" id="checkAndUrl"></textarea>
                        <button class="company__card__text__lead-button" th:attr="data-orderid=${order.orderDetailsId}, data-company=${order.companyTitle}, data-filial=${order.filialTitle}" onclick="checkAndUrl(this)">текст</button>
                    </div>
                    <form class="company__card__text__lead" th:method="get" th:action="'/review/editReviews/' + ${order.orderDetailsId}">
                        <button type="submit" class="company__card__text__lead-button ">url</button>
                    </form>
                    <div class="company__card__text__lead">
                        <textarea  class="company__card__remember-text" th:utext="${order.managerPayText} + ' К оплате: '" id="onPayment"></textarea>
                        <button class="company__card__text__lead-button" th:attr="data-sum=${order.sum}, data-company=${order.companyTitle}, data-filial=${order.filialTitle}" onclick="onPayment(this)">счет</button>
                    </div>
                    <form class="company__card__text__lead" target="_blank" th:action="@{${order.filialUrl}}">
                        <input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}">
                        <button type="submit"  class="company__card__text__lead-button ">ссылка</button> 
                    </form>
                </div> <!-- card__content_button -->

                <!-- PROGRESS BAR -->
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="${order.amount}" th:style="${order.amount != null and order.amount != 0} ? 'width: ' + (${order.counter} / ${order.amount} * 100) + '%' : 'width: 0%'"
                         id="progress-bar">
                        <span th:text="${order.counter}"></span>
                    </div>
                </div>

                <!-- КНОПКИ 2 -->
                <div class="company__card__content_button"> <!-- card__content_button -->
                    
                    <form class="company__card__text__lead" th:method="post" th:action="'/ordersCompany/status_on_checking2/' + ${order.companyId} + '/' + ${order.id}">
                        <input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}">
                        <input type="hidden" data-th-name="pageNumber" th:value="${pageNumber}">
                        <button type="submit" class="company__card__text__lead-button ">на проверку</button>
                    </form>
                    <form class="company__card__text__lead" th:method="post" th:action="'/ordersCompany/status_for_correct2/' + ${order.companyId} + '/' + ${order.id}">
                        <input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}">
                        <input type="hidden" data-th-name="pageNumber" th:value="${pageNumber}">
                        <button type="submit" class="company__card__text__lead-button ">коррекция</button>
                    </form>
                    <form class="company__card__text__lead" th:method="post" th:action="'/ordersCompany/status_for_publish2/' + ${order.companyId} + '/' + ${order.id}">
                        <input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}">
                        <input type="hidden" data-th-name="pageNumber" th:value="${pageNumber}">
                        <button type="submit"  class="company__card__text__lead-button ">одобрено</button>
                    </form>
                    <form class="company__card__text__lead" th:method="post" th:action="'/ordersCompany/order_to_archive2/' + ${order.companyId} + '/' + ${order.id}">
                        <input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}">
                        <input type="hidden" data-th-name="pageNumber" th:value="${pageNumber}">
                        <button type="submit" class="company__card__text__lead-button ">архив</button>
                    </form>
                    <form class="company__card__text__lead" th:method="post" th:action="'/ordersCompany/status_for_publish_ok2/' + ${order.companyId} + '/' + ${order.id}">
                        <input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}">
                        <input type="hidden" data-th-name="pageNumber" th:value="${pageNumber}">
                        <button type="submit" class="company__card__text__lead-button ">опублик.</button>
                    </form>
                </div> <!-- card__content_button -->
                <!-- КНОПКИ 3 -->
                <div class="company__card__content_button"> <!-- card__content_button -->
                    <form class="company__card__text__lead" th:method="post" th:action="'/ordersCompany/status_to_pay2/' + ${order.companyId} + '/' + ${order.id}">
                        <input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}">
                        <input type="hidden" data-th-name="pageNumber" th:value="${pageNumber}">
                        <button type="submit" class="company__card__text__lead-button ">счет</button>
                    </form>
                    <form class="company__card__text__lead" th:method="post" th:action="'/ordersCompany/remember2/' + ${order.companyId} + '/' + ${order.id}">
                        <input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}">
                        <input type="hidden" data-th-name="pageNumber" th:value="${pageNumber}">
                        <button type="submit" class="company__card__text__lead-button ">напомнить</button>
                    </form>
                    <form class="company__card__text__lead" th:method="post" th:action="'/ordersCompany/status_no_pay2/' + ${order.companyId} + '/' + ${order.id}">
                        <input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}">
                        <input type="hidden" data-th-name="pageNumber" th:value="${pageNumber}">
                        <button type="submit" class="company__card__text__lead-button ">не опл.</button>
                    </form>
                    <form class="company__card__text__lead" th:method="post" th:action="'/ordersCompany/status_pay2/' + ${order.companyId} + '/' + ${order.id}">
                        <input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}">
                        <input type="hidden" data-th-name="pageNumber" th:value="${pageNumber}">
                        <button type="submit"  class="company__card__text__lead-button ">оплатили</button>
                    </form>
                </div> <!-- card__content_button -->
                <div class="company__card__content__product">
                    <a class="company__card__title__worker" th:text="${order.workerUserFio}">ФИО бота</a>
                </div>
                <div class="company__card__content__city"> 
                    <p class="company__card__text__city__lead" th:text="${order.categoryTitle} ?: 'Не установлено'">Категория</p>
                    <p class="company__card__text__city__lead" th:text="${order.subCategoryTitle} ?: 'Не установлено'">Подкатегория</p> 
                </div>

                <!-- НИЖНИИ КНОПКИ -->
                <div >
                    <form  th:method="get" th:action="@{'/ordersDetails/'+ ${order.companyId} + '/' + ${order.id}}">
                        <div class="company__card__content__phone">
                            <button type="submit" class="company__card__text__lead-button" th:text="ПОДРОБНЕЕ">Подробнее</button>
                        </div>
                </form>
            </div>      
            <form class="company__card__content__author" th:method="get" th:action="@{'/ordersCompany/ordersDetails/'+ ${order.companyId} + '/' + ${order.id}}">
                    <div class="company__card__link__order">
                        <span th:utext="'Без изменений: '"></span>
                        <span class="digits" th:text="${order.dayToChangeStatusAgo != null ? order.dayToChangeStatusAgo : 'пусто'}"></span>
                        <span th:utext="' дней'"></span>
                    </div>
                    <button type="submit" class="company__card__link__lead__more company__card__link__lead">Изменить</button>
                </form>
            </div> <!-- card -->
        </div> <!-- tabs__content-item -->
    </div>
    <!-- СПИСОК КАРТОЧЕК 1 КОНЕЦ -->



</section>