<section th:fragment="reviews_to_order" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

    

    <!-- КНОПКИ ВЫБОРА РАЗДЕЛА СТАТУСОВ - КОНЕЦ -->

    <div class="company__tabs__content-lead">

        <!-- КНОПКИ КОПИРОВАНИЯ ТЕКСТА - КОНЕЦ -->
        <div class="mb-3" th:if="${saveSuccess}">
            <div class="alert alert-success">
                Данные успешно изменены и сохранены.
            </div>
        </div>

        <!-- СПИСОК КАРТОЧЕК 1 НОВЫЕ-->
        <div  class="reviews__details">
            <div th:each="review : ${reviews}" class="company__card__review">
                <div class="company__card__content__lead">

                    <div  th:class="${review.isPublish} ? reviewTitleRed :  reviewTitleGreen"  >
                        <a  class="company__card__title__lead" th:text="${review.orderDetails.order.company.title}">Название компании</a>
                    </div>

                    <div class="company__card__content__comments">
                        <div class="company__card__text__review2" th:text="${review.text}">Текст отзыва</div>
                    </div>
                    <div class="company__card__content__comments__tocompany">
                        <div class="company__card__text__lead2" th:text="${review.answer}">Ответ на отзыв</div>
                    </div>
                    <div class="company__card__content__product">
                        <a class="company__card__title__bot" th:text="${review.bot.fio}">ФИО бота</a>
                    </div>
                    <div class="company__card__content_button">
                        <div class="company__card__text__lead"> <!-- Bot Login -->
                            <label>
                                <textarea  class="company__card__remember-text" th:utext="'https://vk.com/'" th:id="myInput5"></textarea>
                            </label>
                            <button type="submit" class="company__card__text__lead-button" th:onclick="myFunctionVk()">вк</button>
                        </div>
                        <div class="company__card__text__lead"> <!-- Bot Login -->
                            <label>
                                <textarea  class="company__card__remember-text" th:utext="${review.bot.login}" th:id="'botLogin_' + ${review.id}"></textarea>
                            </label>
                            <button type="submit" class="company__card__text__lead-button" th:onclick="'myFunctionBotLogin(' + ${review.id} + ')'" >логин</button>
                        </div>
                        <div class="company__card__text__lead"> <!-- Bot Password -->
                            <textarea  class="company__card__remember-text" th:utext="${review.bot.password}" th:id="'botPassword_' + ${review.id}"></textarea>
                            <button type="submit" class="company__card__text__lead-button" th:onclick="'myFunctionBotPassword(' + ${review.id} + ')'" >пароль</button>
                        </div>
                        <form class="company__card__text__lead" target="_blank" th:action="@{${review.filial.url}}">
                            <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                            <button type="submit"  class="company__card__text__lead-button ">ссылка</button> 
                        </form>
                    </div> <!-- card__content_button -->
                    <div class="company__card__content_button">
                        <div class="company__card__text__lead"> <!-- Review Text -->
                            <textarea  class="company__card__remember-text" th:utext="${review.text}" th:id="'ReviewText_' + ${review.id}"></textarea>
                            <button type="submit" class="company__card__text__lead-button" th:onclick="'myFunctionReviewText(' + ${review.id} + ')'" >отзыв</button>
                        </div>
                        <div class="company__card__text__lead"> <!-- Review Text -->
                            <textarea  class="company__card__remember-text" th:utext="${review.answer}" th:id="'ReviewAnswer_' + ${review.id}"></textarea>
                            <button type="submit" class="company__card__text__lead-button" th:onclick="'myFunctionReviewAnswer(' + ${review.id} + ')'" >ответ</button>
                        </div>   
                        <form class="company__card__text__lead" th:method="post" th:action="@{'/ordersDetails/'+ ${review.orderDetails.order.company.id} + '/' + ${review.orderDetails.order.id} + '/change_bot/' + ${review.id}}">
                            <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                            <input style="display: none;" class="company__card_remember-search__text" type="text" value="Заказ_Отзыв" name="pageName" id="pageName">
                            <button type="submit" class="company__card__text__lead-button ">смена</button>
                        </form>
                        <form class="company__card__text__lead" th:method="post" th:action="@{'/ordersDetails/'+ ${review.orderDetails.order.company.id} + '/' + ${review.orderDetails.order.id} + '/deactivate_bot/' + ${review.id} + '/' + ${review.bot.id}}">
                            <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                            <button type="submit"  class="company__card__text__lead-button ">блок</button>
                        </form>
                    </div> <!-- card__content_button -->
                    <div>
                        <form  th:method="post" th:action="@{'/ordersDetails/'+ ${review.orderDetails.order.company.id} + '/' + ${review.orderDetails.order.id} + '/published/' + ${review.id}}">
                            <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                            <div class="company__card__content__phone">
                                <button type="submit" class="company__card__text__lead-button" th:text="ОПУБЛИКОВАНО">в архив</button>
                            </div>
                        </form>
                    </div>
                    <form class="company__card__content__author" th:method="get" th:action="'/review/editReview/' + ${review.id}">
                        <div class="company__card__data" th:text="${review.publishedDate != null ? review.publishedDate : 'пусто'}">Имя Менеджера</div>
                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                        <button type="submit" class="company__card__link__lead__more company__card__link__lead">Изменить</button>
                    </form>
                </div> <!-- card -->
            </div> <!-- tabs__content-item -->
            <!-- СПИСОК КАРТОЧЕК 1 -->

            <th:block th:insert="~{fragments/common :: js_company}"></th:block>
            <!-- <th:block th:insert="~{fragments/common :: js}"></th:block> -->

</section>

