<section th:fragment="order_table" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <!-- Таблица заказов -->
    <div class="recent-orders">
        <h2>Таблица заказов</h2>
        <table>
            <thead>
                <tr>
                    <th>Название компании</th>
                    <th>Номер заказа</th>
                    <th>Сумма</th>
                    <th>Статус</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <a href="#">Показать все</a>
    </div>
    <!-- Таблица заказов конец -->
</section>