/* ============== ОБЩИЕ НАСТРОЙКИ START ============ */

/* подключаем шрифт */
@font-face {
    font-family: 'laptev_brush';
    src:
         url('../font/laptev_brush.otf');
}


/* ширина блока складывается из ширины контента (width), значений отступов (margin), полей (padding) и границ (border). Аналогично обстоит и с высотой блока. Свойство box-sizing позволяет изменить этот алгоритм, чтобы свойства width и height задавали размеры не контента, а размеры блока. устанавливаем наследование как у родителя */
html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
    /* убираем отступы все отступы и стили */
    margin: 0;
    padding: 0;
}

/* задаем высоту страницы в 100% */
html, body {
    height: 100%;
}

ul {
    /* всем спискам убираем точки впереди */
    list-style: none;
}

a {
    /* всем ссылкам убираем нижнее подчеркивание */
    text-decoration: none;
    /* меняем цвет ссылок на цвет родителя */
    color: inherit;
}

/* =========================== */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    /* width: 100vw; */
    height: 100vh;
    font-family: 'laptev_brush';
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
    background-color: var(--color-background);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
}

a{
    color: var(--color-dark);
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
}

h1{
    font-weight: 800;
    font-size: 1.8rem;
}

h2{
    font-weight: 600;
    font-size: 1.4rem;
}

h3{
    font-weight: 500;
    font-size: 0.87rem;
}

small{
    font-size: 0.76rem;
}

p{
    /* color: var(--color-dark-variant); */
}

b{
    color: var(--color-dark);
}

.text-muted{
    color: var(--color-info-dark);
}

.primary{
    color: var(--color-primary);
}

.danger{
    color: var(--color-danger);
}

.success{
    color: var(--color-success);
}

.warning{
    color: var(--color-warning);
}

/* =========================== */




.wrapper {
    /* устанавливаем минимальную высоту обертки в 100% страницы */
    min-height: 100%;
    display: flex;
    /* устанавливаем добавление дивов друг под другом */
    flex-direction: column;
    font-family: 'laptev_brush';
}

.container {
    /* устанавливаем максимальную ширину */
    max-width: 100%;
    /* max-width: 1620px; */
    /* выравниваем по середине. 1 верх и низ, 2 лево право */
    margin: 0 auto;
    /* устанавливаем отступы от краев */
    padding: 0 10px;
    flex: 1 0 auto;
}

/* настройки всеъ заголовков */
.company__section-title {
    margin-top: 2rem;
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

/* настройки всеъ заголовков */
.company__section-title2 {
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.company__section-subtitle {
    margin-bottom: 30px;
    /* margin-top: 1rem; */
    font-size: 48px;
    font-weight: 400;
    text-align: center;
}
/* ============== ОБЩИЕ НАСТРОЙКИ END ============ */


/* ================== FOOTER START ================= */

.footer {
    /* background-color: #151515; */
    /* background-color: #fff; */
    /* отступы сверху и снизу */
    /* padding: 50px 0 32px; */
    /* цвет текста в блоке */
    /* color: #000; */
}

.footer__menu {
    display: flex;
    /* расстояния между соседними элементами одинаковые, между элементами и краями флекс-контейнера есть отступ, равный половине расстояния между соседними элементами */
    justify-content: space-around;
    margin-top: 50px;
    padding-bottom: 50px;
}

.footer__menu-list {
    /* задаем максимальную ширину, чтобы при превышении размера текста, текст переносился на ноую строку */
    max-width: 250px;
}

/* данный селектор находит атрибут и применяет к соседу. Замена first child */
.footer__menu-item + .footer__menu-item {
    padding-top: 20px;

}

.footer__menu-title {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 20px;
}

.app {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 50px;

}

.footer__copy {
    /* задаем макимальный размер блока */
    max-width: 800px;
    /* выравниваем по середине и деллаем отступ снизу 30 */
    margin: 0 auto 30px;
    /* ставим текст по центру */
    text-align: center;
}

.copy__nav-list {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.page__row {
	display: flex;
    justify-content: space-around;
    align-items: center;
}

.page__cell {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 10px;
}

.page__row-footer {
    background-color: var(--color-white);
	margin-top: 4.375rem;
}
.footer__copyright {
	text-align: right;
	margin-right: 1rem;	
}
.footer__link {
	color: inherit;
	text-decoration: none;
}
.footer__link:hover {
	text-decoration: underline;
} 
.footer {
	padding: 1.2rem 0;
	text-align: right;
}
.footer2 {
	width: 100%;
	flex: 0 0 auto;
}

.headline {
	text-align: center;
	font-size: 1.75rem;
	font-weight: 400;
	margin: 2rem;
}

.phone-number, .phone-number2,
.email-address {
	text-decoration: none;	
}
.phone-number {
	font-weight: 700;
	font-size: 2rem;
	/* color: #000; */
	align-items: center;
}

.text {
    text-align: center;
}





/* =================== FOOTER END ================== */





/* =================== MAIN START ================== */
.main {
    /* ставим 1, чтобы контейнер растянулся во всю страницу */
    flex-grow: 1;
}

/* =================== TOP START =================== */

.top {
    color: #fff;
    /* выравниваем текст по середине */
    text-align: center;
    padding-top: 180px;
    padding-bottom: 50px;
    position: absolute;
    z-index: 5;
    /* растягиваем элементыпосле позиционирования */
    left: 0;
    right: 0;
}

.title {
    padding-bottom: 40px;
    font-size: 96px;
    font-weight: 700;
}

.top__link {
    /* задаем фон кнопки */
    background-color: #151515;
    /* задаем отступы кнопки */
    padding: 10px;
    /* задаем максимальную ширину */
    max-width: 430px;
    /* растягиваем на всю ширину указанную выше */
    width: 100%;
    /* означает элемент, который продолжает находиться в строке ( inline ), но при этом может иметь важные свойства блока */
    display: inline-block;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
}

/* ==================== TOP END ==================== */




/* ================= LEADS START =============== */

.leads {
    padding: 100px 0 150px;
}

.contacts__title {
    margin-bottom: 20px;
}

.contact__text {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 50px;
    padding: 0 100px;
}

.form {
    max-width: 580px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form__input {
    width: 270px;
    padding: 18px 20px;
    display: inline-block;
    /* font-family: 'Play', sans-serif; */
    border: 1px solid #000;
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    color: #000;
}

/* обращение к плейсхолдеру */
.form__input::placeholder, 
.form__textarea::placeholder  {
    /* font-family: 'Play', sans-serif; */
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    color: #000;
    opacity: .5;
}

.form__textarea {
    width: 100%;
    resize: none;
    padding: 28px 20px;
    height: 290px;
    border: 1px solid #000;
    /* font-family: 'Play', sans-serif; */
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    color: #000;
    margin-bottom: 50px;
}

.form__btn {
    text-transform: uppercase;
    color: #fff;
    /* font-family: 'Play', sans-serif; */
    background-color: #151515;
    font-size: 16px;
    font-weight: 400;
    padding: 13px 61px;
    /* выравниваем так как это флекс элемент */
    margin: 0 auto;
    border: none;
}

/* ================= LEADS END =============== */




/* ================== CHOOSE START ================ */

.company__choose {
    padding: 100px 0 150px;
}

.company__tabs {
    margin-bottom: 70px;
}



.company__tabs__btn {
    padding: 0 150px 100px;
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

.company__tabs__btn-item {
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
}

.company__tabs__btn-item--active {
    color: #0066FF;
}

.company__tabs__content-item {
    display: none;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px 40px;
}

.orderdetails__tabs__content-item {
    display: none;
    grid-template-columns: repeat(5, 1fr);
    gap: 100px 40px;
}

.orderdetails__tabs__content-item.orderdetails__tabs__content-item--active {
    display: grid;
}

.company__tabs__content-item.company__tabs__content-item--active {
    display: grid;
}

.company__card {
    text-align: center;
    /* box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18); */
    border-radius: 1.2rem;
}

.company__card:hover {
    box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
}

.company__card__content {
    padding: 0 5px;
    /* border: 1px solid #0066FF; */
    border-top: 0;
}

.company__card__title {
    padding-top: 20px;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.company__card__text {
    margin-bottom: 20px;
}

.company__card__price {
    margin-bottom: 20px;
    font-style: 24px;
    font-weight: 700;
}

.company__card__link {
    display: block;
    color: #0066FF;
    /* border: 1px solid #0066FF; */
    border-top: 0;
}

.company__card__img {
    width: 100%;
}

/* =================== CHOOSE END ================= */

/* ================== LEADS EDIT START ================ */

.edit__lead {
    padding: 100px 0 150px;
}

.edit__box {
    /* display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; */
}

/* ================== LEADS EDIT END ================ */

/* ================== LEADS CARD START ================ */

.company__lead__card {
    padding: 0px 0 100px;
    
}



.company__tabs__review{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #5b5a5a38;
    border-radius: 1.2rem;
    padding: 10px;
    background-color: #001aff11;
    height: 400px;
    width: 100%;
}

.company__tabs__review2{
    display: flex;
    align-items: center;
    flex-direction: column;

    height: 100%;
    width: 100%;
}

.company__tabs__lead {
    margin-bottom: 70px;
}

.company__tabs__btn__lead{
    padding: 0 0px 50px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
}

.company__tabs__btn__order{
    padding: 0 0px 50px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}

.company__tabs__btn__worker{
    padding: 0 0px 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.company__tabs__btn-item {
    font-family: 'laptev_brush';
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
    text-align: center;
}

.company__tabs__btn-item--active {
    color: #d45cec;
}

.company__tabs__btn-item--active2 {
    color: #d45cec5d;
}


/* Меняет количество */
.company__tabs__content-item{
    display: none;
    grid-template-columns: repeat(5, 1fr);
    gap: 100px 40px;
    margin-top: 5rem;
}
/* Меняет количество */



.orderdetails__tabs__content-item{
    display: none;
    grid-template-columns: repeat(5, 1fr);
    gap: 100px 40px;
}

.orderdetails__tabs__content__review-item{
    display: none;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px 40px;
}

.btn__cell{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.company__card__remember {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-bottom: 50px;
}

.company__card__remember__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 40px;
    width: 100%;
}



.company__card_remember-content {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #5b5a5a38;
    border-radius: 1.2rem;
    height: 40px;
    width: 30%;
    cursor: pointer;
}

.company__card_remember-content:hover {
    background-color: #d45cec;
}

.company__card_remember-content2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #5b5a5a38;
    border-radius: 1.2rem;
    height: 40px;
    width: 45%;
    cursor: pointer;
}


.company__card_remember-content2:hover {
    background-color: #d45cec;
}

.company__card_remember-content__btn {
    text-decoration: none;
    background: none;
    border: none;
    color: none;
    font-family: 'laptev_brush';
    width: 100%;
    height: 100%;
}
.company__card_remember-content__btn:hover {
    color: #fff;
}

.company__card__remember-text {
    width: 0.1px;
    font-size: 1px;
    text-decoration: none;
    background: none;
    border: none;
    color: none;
    font-family: 'laptev_brush';
}

.company__card__remember__box-serch {
    display: flex;
    justify-content: right;
    width: 100%;
    height: 40px;
 }

.company__card_remember-search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #5b5a5a38;
    border-radius: 1.2rem;
    height: 40px;
    width: 90%;
    cursor: pointer;
}

.company__card_remember-search2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #5b5a5a38;
    border-radius: 1.2rem;
    height: 40px;
    width: 100%;
    cursor: pointer;
}

.company__card_remember-search__text {
    font-size: 18px;
    margin-left: 20px;
    width: 90%;
    border: none;
}

.company__card_remember-search__btn {
    text-decoration: none;
    background: none;
    border: none;
    color: none;
    width: 10%;
    text-align: right;
    margin-right: 20px;
    font-family: 'laptev_brush';
}

.company__tabs__content-item.company__tabs__content-item--active {
    display: grid;
}

.green {
    background-color: #04b68798;
}



.company__card__link__lead__more {
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    color: none;
}



.company__tabs__review:hover{
    box-shadow: 0 0rem 4rem rgba(132, 139, 200, 0.18);
}


.company__card__lead {
    text-align: center;
    /* серый не прозрачный фон */
    /* border: 1px solid #5b5a5afe; */
    /* серый прозрачный фон */
    border: 1px solid #5b5a5a38;
    /* фиолетовый прозрачный фон */
    /* border: 1px solid #e418ff38; */
    /* box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18); */
    border-radius: 1.2rem;
}

.reviews__details{
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 40px;
}

.company__card__review {
    text-align: center;
    border: 1px solid #5b5a5a38;
    border-radius: 1.2rem;
    width: 100%;
    /* width: 18%; */
}

.company__card__lead:hover {
    box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
}

.company__card__content__lead {
    padding: 0 5px;
    /* border: 1px solid #0066FF; */
    border-top: 0;
}

/* ======================================= */
.company__card__content__product {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #5b5a5a38;
    border-radius: 1.2rem;
    height: 40px;
}

.reviewTitleRed {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #5b5a5a38;
    border-radius: 1.2rem;
    height: 40px;
    background-color: rgba(255, 0, 0, 0.078);
}

.reviewTitleGreen {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #5b5a5a38;
    border-radius: 1.2rem;
    height: 40px;
    background-color: rgba(0, 255, 85, 0.085);
}

/* ======================================= */
.company__card__content__phone {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

/* =========================================== */
.company__telephone__button{
    background: none;
    border: none;
    text-decoration: none;
    padding: 0;
    color: none;
    width: 100%;
    height: 100%;
    border: 1px solid #5b5a5a38;
    border-radius: 1.2rem;
    cursor: pointer;
    font-family: 'laptev_brush';
    font-size: 24px;
    color: #218294;
    display: block;
    position: relative;
    transition: .5s;
    overflow: hidden;
}


.company__telephone__button::before,
.company__telephone__button::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background:  #ff9500;
    /* background:  #d45cec; */
    top: 0;
    left: -100%;
    opacity: .5;
    transition: .3s;
    z-index: -1;
}

.company__telephone__button:after {
    opacity: 1;
    transition-delay: .2s;
}

.company__telephone__button:hover{
    color: #000;
}

.company__telephone__button:hover::before, .butt:hover::after {
    left: 0;
}

/* .company__telephone__button:hover  {
    background-color: #ff9500;
    background-color: #f7ce95;
    background-color: #d45cec; 
    text-decoration: none;
    text-decoration-style: none;
    color: #fff; 
} */

/* =========================================== */

.company__card__content__button {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    /* margin-bottom: 100px; */
   
    /* height: 50px; */
}

.company__card__content__button2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
    /* height: 50px; */
}

.company__card__content__button3 {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
   
    /* height: 50px; */
}

.reviews__btn__save {
    margin-top: 1rem;
    height: 70px;
    width: 100%;
}

.company__card__content__button__btn {
    margin-top: 3rem;
    width: 100%; /* Удалите height: 70px; */
}

.company__label {
    text-align: center;
    display: block; /* Измените на display: block; */
    width: 100%;
    margin-bottom: 2rem; 
}

.company__card__content__subtitle {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #5b5a5a38;
    border-radius: 1.2rem; */
    height: 26px;
    font-weight: 700;
    color: #3d3d3d;
}

.company__card__title__lead {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
}

.company__card__title__review {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 24px;
    font-weight: 300;
}

.company__card__title__bot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 22px;
    font-weight: 300;
    /* background-color: #707efb08; */
}

.company__card__title__worker {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 20px;
    font-weight: 300;
    /* background-color: #707efb08; */
}

.company__card__content__city {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 40px;
}

.company__card__content__author {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.company__card__text__city__lead {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #5b5a5a38;
    border-radius: 1.2rem;
    height: 40px;
    width: 45%;
    font-size: 22px;
}

.company__card__content_button {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-bottom: 20px;
}

/* кнопки в рабюоту */
.company__card__text__lead {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 20%;
}

.company__card__text__lead-button{
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    color: none;
    width: 100%;
    height: 100%;
    border: 1px solid #5b5a5a38;
    border-radius: 1.2rem;
    cursor: pointer;
    font-family: 'laptev_brush';
}

.company__card__text__lead-button:hover  {
    background-color: #d45cec;
    text-decoration: none;
    text-decoration-style: none;
    color: #fff;
}
/* кнопки в рабюоту */
/* кнока сохранить отзыв */
.company__card__text__review-button{
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    /* background-color: #00ff4411; */
    width: 100%;
    height: 70px;
    border: 1px solid #5b5a5a38;
    border-radius: 1.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'laptev_brush';
    /* box-shadow: 0 -2rem 3rem rgba(132, 139, 200, 0.18); */
}

.company__card__text__review-button:hover  {
    background-color: #d45cec;
    text-decoration: none;
    text-decoration-style: none;
    color: #fff;
    /* box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18); */
}

.company__card__text__publish-button{
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    background-color: #00ff4411;
    width: 100%;
    height: 70px;
    border: 1px solid #5b5a5a38;
    border-radius: 1.2rem;
    cursor: pointer;
    font-family: 'laptev_brush';
    /* box-shadow: 0 -2rem 3rem rgba(132, 139, 200, 0.18); */
}

.company__card__text__publish-button:hover  {
    background-color: #d45cec;
    text-decoration: none;
    text-decoration-style: none;
    color: #fff;
    /* box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18); */
}
/* кнока сохранить отзыв */

/* кнока сохранить отзыв */
.company__card__text__comment-button{
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    /* background-color: #152cfc00; */
    background-color: #707efb00;
    width: 100%;
    height: 70px;
    border: 1px solid #5b5a5a38;
    border-radius: 1.2rem;
    cursor: pointer;
    font-family: 'laptev_brush';
    /* box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18); */
}

.company__card__text__comment-button:hover  {
    background-color: #d45cec;
    text-decoration: none;
    text-decoration-style: none;
    color: #fff;
    /* box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18); */
}
/* кнока сохранить отзыв */

/* кнока редактировать все отзывы */
.review__btn__review-editAll{
    font-family: 'laptev_brush';
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    /* background-color: #152cfc00; */
    background-color: #707efb08;
    width: 100%;
    height: 70px;
    border: 1px solid #5b5a5a38;
    border-radius: 1.2rem;
    cursor: pointer;
    /* box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18); */
}

.review__btn__review-editAll:hover  {
    background-color: #d45cec;
    text-decoration: none;
    text-decoration-style: none;
    color: #fff;
    /* box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18); */
}
/* кнока редактировать все отзывы */

/* кнока добавить отзыв */
.review__btn__review-add{
    font-family: 'laptev_brush';
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    /* background-color: #152cfc00; */
    background-color: #707efb08;
    width: 100%;
    height: 70px;
    border: 1px solid #5b5a5a38;
    border-radius: 1.2rem;
    cursor: pointer;
    /* box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18); */
}

.review__btn__review-add:hover  {
    background-color: #d45cec;
    text-decoration: none;
    text-decoration-style: none;
    color: #fff;
    /* box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18); */
}
/* кнока добавить отзыв */

/* кнока отправить на проверку */
.review__btn__review-check{
    font-family: 'laptev_brush';
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    /* background-color: #152cfc00; */
    background-color: #707efb08;
    width: 100%;
    height: 70px;
    border: 1px solid #5b5a5a38;
    border-radius: 1.2rem;
    cursor: pointer;
    /* box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18); */
}

.review__btn__review-check:hover  {
    background-color: #d45cec;
    text-decoration: none;
    text-decoration-style: none;
    color: #fff;
    /* box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18); */
}
/* кнока отправить на проверку */

.company__card__content__comments {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #5b5a5a38;
    border-radius: 1.2rem;
    height: 240px;
    width: 100%;
    font-family: 'laptev_brush';
}

.company__card__content__comments__tocompany {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #5b5a5a38;
    border-radius: 1.2rem;
    height: 46px;
    width: 100%;
    font-family: 'laptev_brush';
}

.company__card__text__lead2 {
    height: 40px;
    overflow-x:hidden; 
}

.company__card__text__review2 {
    height: 240px;
    padding: 5px;
    overflow-x:hidden; 
    font-family: 'laptev_brush';
}


.company__card__content__review__text {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #5b5a5a38;
    border-radius: 1.2rem;
    height: 336px;
    width: 100%;
    font-family: 'laptev_brush';
}


.company__card__content__review__answer {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #5b5a5a38;
    border-radius: 1.2rem;
    height: 136px;
    width: 100%;
    text-align: center;
    padding: 5px 5px 8px 10px;
    overflow-x:hidden;
    margin-bottom: 20px;
    font-family: 'laptev_brush';
    font-size: 1rem;
}

.company__card__content__review__comment{
    border: 1px solid #5b5a5a38;
    border-radius: 1.2rem;
    height: 136px;
    width: 100%;
    text-align: center;
    padding: 5px 5px 8px 10px;
    overflow-x:hidden;
    margin-bottom: 20px;
    background-color: #152cfc00;
    font-family: 'laptev_brush';
    font-size: 1rem;
}

.company__card__text__review {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 5px 5px 8px 10px;
    /* word-wrap: break-word; */
    overflow-x:hidden; 
    border: none;
    border-radius: 1.2rem;
    text-align: center;
    font-family: 'laptev_brush';
    font-size: 1rem;
    /* border-radius: 1.2rem; */
}

.company__card__price__lead {
    margin-bottom: 20px;
    font-style: 24px;
    font-weight: 700;
}

.company__card__link__lead {
    display: block;
    color: #000;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 0.75rem;
    font-family: 'laptev_brush';
}

.company__card__data {
    display: block;
    color: #000;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 1.1rem;
    font-family: 'laptev_brush';
}


.company__card__link__order {
    display: block;
    color: #000;
    text-transform: uppercase;
    /* border: 1px solid #0066FF; */
    margin-top: 10px;
}

/* Стиль для цифр внутри .company__card__link__order */
.company__card__link__order .digits {
    font-size: 24px; /* Размер шрифта для цифр */
}

.company__card__img__lead {
    width: 100%;
}

/* =================== LEADS CARD END ================= */

/* ================= PROGRESS BAR START ================ */


.progress {
    height: 15px;
    margin-left: 3px;
    margin-right: 3px;
    border: 1px solid #5b5a5a38;
    background: none;
    margin-top: 20px;
    border: 1px solid #5b5a5a38;
    border-radius: 1.2rem;
}

.progress-bar {
    height: 15px;
    background: #d45cec81;
    border: 1px solid #5b5a5a38;
    text-align: center;
    display: flex;
    align-items: center;
    border: 1px solid #5b5a5a38;
    border-radius: 1.2rem;
    /* Длительность анимации 2 секунды (по желанию) */
}

.progress-bar span {
    display: block;
    text-align: center;
    width: 100%;
    color: #000;
}

/* ================== PROGRESS BAR END ================= */

/* ==================== MAIN END =================== */











/* ==================== ADMIN START =================== */
:root{
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-mode-variables{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

.container_admin{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    /* Создать контейнер сетки из 3 столбцов и указать размер для каждого столбца: */
    grid-template-columns: 12rem auto 23rem;
}


/* Левое меню начало */
aside{
    height: 100vh;
}

aside .toggle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .toggle .logo{
    display: flex;
    gap: 0.5rem;
}

aside .toggle .logo img{
    width: 2rem;
    height: 2rem;
}

aside .toggle .close{
    padding-right: 1rem;
    display: none;
}

aside .sidebar{
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    height: 88vh;
    position: relative;
    top: 1.5rem;
    transition: all 0.3s ease;
}

aside .sidebar:hover{
    box-shadow: none;
}

aside .sidebar a{
    display: flex;
    align-items: center;
    color: var(--color-info-dark);
    height: 4.7rem;
    gap: 1rem;
    position: relative;
    margin-left: 2rem;
    transition: all 0.3s ease;
}

aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 0.3s ease;
}

aside .sidebar a:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active{
    width: 100%;
    color: var(--color-primary);
    background-color: var(--color-light);
    margin-left: 0;
}

aside .sidebar a.active::before{
    content: " ";
    width: 6px;
    height: 18px;
    background-color: var(--color-primary);
}

aside .sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1ren-3rem);
}

aside .sidebar a:hover{
    color: var(--color-primary);
}

aside .sidebar a:hover span{
    margin-left: 0.6rem;
}

aside .sidebar .message-count{
    background-color: var(--color-danger);
    padding: 2px 6px;
    color: var(--color-white);
    font-size: 14px;
    border-radius: var(--border-radius-1);
}
/* Левое меню конец */

/* Основной контент */

/* Анализ */
main{
    margin-top: 1.4rem;
}

main .analyse{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

main .analyse > div{
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
}

main .analyse > div:hover{
    box-shadow: none;
}

main .analyse > div .status{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .analyse h3{
    margin-left: 0.6rem;
    font-size: 1rem;
}

main .analyse .progresss{
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

main .analyse svg{
    width: 7rem;
    height: 7rem;
}

main .analyse svg circle{
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

main .analyse .sales svg circle{
    stroke: var(--color-success);
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

main .analyse .visits svg circle{
    stroke: var(--color-danger);
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

main .analyse .searches svg circle{
    stroke: var(--color-primary);
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

main .analyse .progresss .percentage{
    position: absolute;
    top: -3px;
    left: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
/* Анализ */

/* Юзеры */

main .new-users{
    margin-top: 1.3rem;
}

main .new-users .user-list{
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.4rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

main .new-users .user-list:hover{
    box-shadow: none;
}

main .new-users .user-list .user{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .new-users .user-list .user img{
    width: 5rem;
    height: 5rem;
    margin-bottom: 0.4rem;
    border-radius: 50%;
}

/* Юзеры */


/* Таблица заказов */

main .recent-orders{
    margin-top: 1.3rem;
}

main .recent-orders h2{
    margin-bottom: 0.8rem;
}

main .recent-orders table{
    background-color: var(--color-white);
    width: 100%;
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    border-radius: var(--card-border-radius);
    transition: all 0.3s ease;
}

main .recent-orders table:hover{
    box-shadow: none;
}

main table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

main table tbody tr:last-child td{
    border: none;
}

main .recent-orders a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}
/* Таблица заказов */


/* Правая секция */
.right-section{
    margin-top: 1.4rem;
}

.right-section .nav_right{
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.right-section .nav_right button{
    display: none;
}

.right-section .dark-mode{
    background-color: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.right-section .dark-mode span{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-section .dark-mode span.active{
    background-color: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

.right-section .nav_right .profile{
    display: flex;
    gap: 2rem;
    text-align: right;
}

.right-section .nav_right .profile .profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

/* Профиль конец */

/* Профайл */

.right-section .user-profile{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 0.6rem;
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
}

.right-section .user-profile:hover{
    box-shadow: none;
}

.right-section .user-profile img{
    width: 11rem;
    height: auto;
    margin-bottom: 0.8rem;
    border-radius: 50%;
}

.right-section .user-profile h2{
    margin-bottom: 0.2rem;
}

.right-section .reminders{
    margin-top: 2rem;
}

.right-section .reminders .headers{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.8rem;
}

.right-section .reminders .headers span{
    padding: 10px;
    box-shadow: var(--box-shadow);
    background-color: var(--color-white);
    border-radius: 50%;
}

.right-section .reminders .notification{
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-2);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
}

.right-section .reminders .notification:hover{
    box-shadow: none;
}

.right-section .reminders .notification .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
}

.right-section .reminders .notification .icon{
    padding: 0.6rem;
    color: var(--color-white);
    background-color: var(--color-success);
    border-radius: 20%;
    display: flex;
}

.right-section .reminders .notification.deactive .icon{
    background-color: var(--color-danger);
}

.right-section .reminders .add-reminder{
    background-color: var(--color-white);
    border: 2px dashed var(--color-primary);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.right-section .reminders .add-reminder:hover{
    background-color: var(--color-primary);
    color: white;
}

.right-section .reminders .add-reminder div{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

/* Правая секция */

/* ===================== ADMIN END =================== */










/* ==================== MEDIA START =================== */
    /* ==================== 1770 =================== */
    @media (max-width: 1770px) {
   
        .company__tabs__btn__order{
            grid-template-columns: repeat(6, 1fr);
            padding: 0 0 50px;
            gap: 20px;
        }
    }

@media (max-width: 1500px) {
    /* Меняет количество */
    .company__tabs__content-item{
        grid-template-columns: repeat(4, 1fr);
    }
    /* Меняет количество */
    }

/* ==================== 1420 =================== */
@media (max-width: 1420px) {


    .orderdetails__tabs__content-item {
        grid-template-columns: repeat(4, 1fr);
    }
    
    .company__tabs__btn__lead{
        padding: 0 0 50px;
        gap: 20px;
    } 

    .company__tabs__btn__order{
        padding: 0 0 50px;
        gap: 20px;
    }
}

/* ==================== 1300 =================== */
@media (max-width: 1300px) {

    .reviews__details{
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 40px;
    }

}
/* ==================== 1420 =================== */
@media (max-width: 1250px) {
    
    .company__tabs__btn__lead{
        grid-template-columns: repeat(5, 1fr);
    } 

    .company__tabs__btn__order{
        grid-template-columns: repeat(4, 1fr);
    }
}
/* ==================== 1200 =================== */



@media screen and (max-width: 1200px) {
    .container_admin{
        width: 95%;
        grid-template-columns: 7rem auto 23rem;
    }

    aside .logo h2{
        display: none;
    }

    aside .sidebar h3{
        display: none;
    }

    aside .sidebar a{
        width: 5.6rem;
    }

    aside .sidebar a:last-child{
        position: relative;
        margin-top: 1.8rem;
    }

    main .analyse{
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .new-users .user-list .user{
        flex-basis: 40%;
    }

    main .recent-orders {
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0 0.8rem;
    }

    main .recent-orders table{
        width: 83vw;
    }

    main table thead tr th:last-child,
    main table thead tr th:first-child{
        display: none;
    }

    main table tbody tr td:last-child,
    main table tbody tr td:first-child{
        display: none;
    }

}

/* ==================== 1180 =================== */
@media (max-width: 1180px) {

    .company__important__list {
        gap: 30px 20px;
    }

    .company__important__item-img {
        width: 100%;
    }

    .company__tabs__content-item {
        grid-template-columns: repeat(3, 1fr);
    }
    .orderdetails__tabs__content-item {
        grid-template-columns: repeat(3, 1fr);
    }

    .company__tabs__content__lead-item{
        grid-template-columns: repeat(3, 1fr);
    }

    .company__tabs__btn__lead{
        padding: 0 0 50px;
        gap: 20px;
    }

    .company__tabs__btn__order{
        padding: 0 0 50px;
        gap: 20px;
    }

}
/* ==================== 1040 =================== */


@media (max-width: 1040px) {

    .reviews__details{
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 40px;
    }

    .company__video__content {
        width: 100%;
    }

    .company__tabs__btn {
        padding: 0 0 50px;
        gap: 20px;
    }

    .company__tabs__btn__lead{
        padding: 0 0 50px;
        gap: 20px;
    }


    .company__card__content__button {
        flex-direction: column;
        height: 100px;
        margin-bottom: 100px;
        
    }

    .company__card__content__button__btn{
        
        margin-top: 60px;
    }

    .company__section-subtitle{
        height: 30px;
    }

    /* .company__label{
        padding: 30px;
    } */

}

/* ==================== 860 =================== */


@media (max-width: 860px) {

    /* настраиваем бургер меню */
    .company__menu__btn {
        display: flex;
    }

    .company__menu__btn,
    .company__logo {
        position: relative;
        z-index: 10;
    }

    .company__menu__list {
        position: absolute;
        z-index: 5;
        background-color: #151515;
        flex-direction: column;
        height: 100vh;
        padding-top: 200px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        align-items: center;
        transform: translateY(-100%);
        transition: transform .3s ease;
    }

    .company__menu__list.menu__list--active {
        transform: translateY(0%);
    }

    .company__why-lease-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        /* выравниваем содержимое по середине */
        justify-items: center; 
    }

    .company__important__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .company__tabs__content-item {
        grid-template-columns: repeat(2, 1fr);
    }

    .orderdetails__tabs__content-item {
        grid-template-columns: repeat(2, 1fr);
    }

    .company__tabs__content__lead-item {
        grid-template-columns: repeat(2, 1fr);
    }

    .company__tabs__btn__lead{
        margin-bottom: 20px;
    }

    .company__tabs__btn__order{
        margin-bottom: 20px;
    }

    /* .company__tabs__btn__lead{
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 20px;
    }  */
}

/* ==================== 768 =================== */

@media (max-width: 768px) {

    .reviews__details{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .company__title {
        font-size: 70px;
    }

    .top__link {
        padding: 16px;
        max-width: 360px;
        font-style: 28px;
    }

    .swiper-pagination-bullet {
        width: 60px;
    }

    .swiper-pagination-bullet--active {
        height: 400px;
    }

    .footer__menu {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 40px;
        margin-bottom: 50px;
    }

    .video__content {
        height: 400px;
    }
    .company__tabs__btn__lead{
        flex-direction: column;
    }

    .company__tabs__btn__order{
        flex-direction: column;
    }

    .btn__cell{
        grid-template-columns: repeat(1, 1fr);
        gap: 0px;
    }

    .container_admin{
        width: 100%;
        grid-template-columns: 1fr;
        padding: 0 var(--padding-1);
    }

    aside{
        position: fixed;
        background-color: var(--color-white);
        width: 15rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        left: -100%;
        display: none;
        animation: showMenu 0.4s ease forwards;
    }

    @keyframes showMenu {
       to{
        left: 0;
       } 
    }

    aside .logo{
        margin-left: 1rem;
    }

    aside .logo h2{
        display: inline;
    }

    aside .sidebar h3{
        display: inline;
    }

    aside .sidebar a{
        width: 100%;
        height: 3.4rem;
    }

    aside .sidebar a:last-child{
        position: absolute;
        bottom: 5rem;
    }

    aside .toggle .close{
        display: inline-block;
        cursor: pointer;
    }

    main{
        margin-top: 8rem;
        padding: 0 1rem;
    }

    main .new-users .user-list .user{
        flex-basis: 35%;
    }

    main .recent-orders{
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }

    main .recent-orders table{
        width: 100%;
        margin: 0;
    }

    .right-section{
        width: 94%;
        margin: 0 auto 4rem;
    }

    .right-section .nav_right{
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        background-color: var(--color-white);
        padding: 0 var(--padding-1);
        height: 4.6rem;
        width: 100%;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
        margin: 0;
    }

    .right-section .nav_right .dark-mode{
        width: 4.4rem;
        position: absolute;
        left: 66%;
    }

    .right-section .profile .info{
        display: none;
    }

    .right-section .nav_right button{
        display: inline-block;
        background-color: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }

    .right-section .nav_right button span{
        font-size: 2rem;
    }
}

    /* ==================== 650 =================== */

    @media (max-width: 650px) {

        

        .company__tabs__btn__lead{
            grid-template-columns: repeat(4, 1fr);
        } 

        .company__tabs__btn__order{
            grid-template-columns: repeat(4, 1fr);
        }

        .company__tabs__content-item {
            grid-template-columns: repeat(1, 1fr);
        }

        .orderdetails__tabs__content-item {
            grid-template-columns: repeat(1, 1fr);
        }

        .company__tabs__btn-item {
            tab-size: 18px;
        }

        .company__blog__items {
            grid-template-columns: repeat(1, 1fr);
        }

        .company__contacts {
            padding: 50px 0;
        }

        .company__form__input {
            width: 100%;
            margin-bottom: 30px;
        }

        .company__contact__text {
            padding: 0;
        }

        .company__tabs__content__lead-item {
            grid-template-columns: repeat(1, 1fr);
        }

        .orderdetails__tabs__content__lead-item {
            grid-template-columns: repeat(1, 1fr);
        }

        .company__tabs__btn__lead-item{
            tab-size: 18px;
        }
        

        .company__card__remember {
            margin-top: 20px;
            margin-bottom: 70px;
            flex-direction: column;
        }

        .company__card__remember__box-serch {
            margin-top: 20px;
            
        }

        .company__card_remember-search {
            width: 100%;
            
        }

        .company__card__content__button__btn{
            /* width: 500px; */
        }

        .company__section-title{
            margin-top: 0;
        }
}


    /* ==================== 540 =================== */

@media (max-width: 540px) {

    .reviews__details{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }


    .company__title {
        font-size: 60px;
    }

    .top__link {
        max-width: 310px;
        font-style: 24px;
    }

    .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullet {
        margin: 0 10px;
    }

    .swiper-pagination-bullet {
        width: 35px;
    }

    .company__why-lease-list {
        grid-template-columns: repeat(1, 1fr);
    }

    .company__why-lease {
        margin: 30px 0;
    }

    .company__section-title {
        font-size: 34px;
    }

    .company__section-subtitle {
        font-size: 34px;
    }

    .how__does {
        padding-bottom: 50px;
    }

    .how__does-list {
        padding: 30px 0 40px;
    }

    .how__does-item {
        padding: 65px 0 19px 0;
        margin-right: auto
    }

    .how__does-item::before {
        right: 0;
        margin: 0 auto;
        width: 50px;
        height: 50px;
        font-size: 32px;
    }

    .video {
        padding-bottom: 50px;
    }

    .video__content {
        height: 250px;
    }

    .important__list {
        grid-template-columns: repeat(1, 1fr);
    }

    .company__app, .copy__nav-list {
        flex-direction: column;
        align-items: center;
    }

    .company__copy__nav-list {
        gap: 20px;
    }

    .company__blog__item-title {
        margin-bottom: 10px;
    }

    .company__blog__item-link {
        margin-left: auto;
    }

    .company__tabs__btn {
        flex-direction: column;
    }

    .company__choose {
        padding: 50px 0;
    }

    .company__tabs__content-item {
        gap: 40px;
    }

    .orderdetails__tabs__content-item {
        gap: 40px;
    }

    .company__blog {
        padding-bottom: 50px;
    }

    .company__tabs__btn__lead{
        flex-direction: column;
    }

    .company__lead__card {
        padding: 0px 0;
    }

    .company__tabs__content__lead-item {
        gap: 40px;
    }

    .company__card__content__button__btn{
        width: 100%;
    }

}

    /* ==================== 470 =================== */
    @media (max-width: 470px) {
   
        .company__tabs__btn__lead{
            grid-template-columns: repeat(3, 1fr);
            margin-bottom: 20px;
        } 

        .company__tabs__btn__order{
            grid-template-columns: repeat(3, 1fr);
            margin-bottom: 20px;
        }
    }

    /* ==================== 300 =================== */
@media (max-width: 300px) {

    .company__section-title {
        font-size: 28px;
    }

    .company__section-subtitle {
        font-size: 28px;
    }
    
}

/* ===================== MEDIA END ==================== */