/* ============== ОБЩИЕ НАСТРОЙКИ START ============ */

/* подключаем шрифт */
@font-face {
    font-family: 'laptev_brush';
    src:
         url('../font/laptev_brush.otf');
}


/* ширина блока складывается из ширины контента (width), значений отступов (margin), полей (padding) и границ (border). Аналогично обстоит и с высотой блока. Свойство box-sizing позволяет изменить этот алгоритм, чтобы свойства width и height задавали размеры не контента, а размеры блока. устанавливаем наследование как у родителя */
html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
    /* убираем отступы все отступы и стили */
    margin: 0;
    padding: 0;
}

/* задаем высоту страницы в 100% */
html, body {
    height: 100%;
}

ul {
    /* всем спискам убираем точки впереди */
    list-style: none;
}

a {
    /* всем ссылкам убираем нижнее подчеркивание */
    text-decoration: none;
    /* меняем цвет ссылок на цвет родителя */
    color: inherit;
}

body {
    font-family: 'laptev_brush';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
}

.wrapper {
    /* устанавливаем минимальную высоту обертки в 100% страницы */
    min-height: 100%;
    display: flex;
    /* устанавливаем добавление дивов друг под другом */
    flex-direction: column;
}

.container {
    /* устанавливаем максимальную ширину */
    max-width: 1620px;
    /* выравниваем по середине. 1 верх и низ, 2 лево право */
    margin: 0 auto;
    /* устанавливаем отступы от краев */
    padding: 0 10px;
}

/* настройки всеъ заголовков */
.company__section-title {
    margin-top: 2rem;
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

/* настройки всеъ заголовков */
.company__section-title2 {
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.company__section-subtitle {
    margin-bottom: 30px;
    margin-top: 1rem;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
}
/* ============== ОБЩИЕ НАСТРОЙКИ END ============ */


/* ================== HEADER START ================= */
.header {
    /* background-color: #151515; */
    background-color: #fff;
    /* background-color: #f6f6f9; */
    /* margin-top: 10px; */
    /* box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
    border-radius: 1.2rem; */
}

.header-main {
    background-color: transparent;
    position: absolute;
    z-index: 10;
    /* растягиваем обратно после позиционирования */
    left: 0;
    right: 0;
}

.header__inner {
    /* делаем отступ для меню сверху */
    padding-top: 40px;
    /* делаем отступ для меню снизу */
    padding-bottom: 45px;
    /* разделяем меню на две части */
    display: flex;
    /* разводим эти части по разные стороны/ расстояния между соседними элементами одинаковые, между элементами и краями флекс-контейнера отступов нет. */
    justify-content: space-between;
    /* выравниваем по нижнему краю дива */
    align-items: flex-end;
}

.menu__list {
    display: flex;
    /* задаем расстрояние между элементами */
    gap: 35px;
}

.menu__list-link {
    color: #fff;
    /* переводим все буквы в верхний регистр */
    text-transform: uppercase;
    font-weight: 700;
}

/* указываем настройки для нажатой ссылки */
.menu__list-link--active {
    color: #0066FF;
}

/* настраиваем кнопку меню */
.menu__btn {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* убираем все декорации кнопки */
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    /* по умолчанию скрыт */
    display: none;
}

/* делаем полосочки в спанах*/
.menu__btn span {
    height: 2px;
    background-color: #fff;
    width: 100%;
}

/* ================== HEADER START ================= */




/* ================== FOOTER START ================= */

.footer {
    /* background-color: #151515; */
    background-color: #fff;
    /* отступы сверху и снизу */
    padding: 50px 0 32px;
    /* цвет текста в блоке */
    color: #000;
}

.footer__menu {
    display: flex;
    /* расстояния между соседними элементами одинаковые, между элементами и краями флекс-контейнера есть отступ, равный половине расстояния между соседними элементами */
    justify-content: space-around;
    margin-top: 50px;
    padding-bottom: 50px;
}

.footer__menu-list {
    /* задаем максимальную ширину, чтобы при превышении размера текста, текст переносился на ноую строку */
    max-width: 250px;
}

/* данный селектор находит атрибут и применяет к соседу. Замена first child */
.footer__menu-item + .footer__menu-item {
    padding-top: 20px;

}

.footer__menu-title {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 20px;
}

.app {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 50px;

}

.footer__copy {
    /* задаем макимальный размер блока */
    max-width: 800px;
    /* выравниваем по середине и деллаем отступ снизу 30 */
    margin: 0 auto 30px;
    /* ставим текст по центру */
    text-align: center;
}

.copy__nav-list {
    display: flex;
    justify-content: center;
    gap: 50px;
}

/* =================== FOOTER END ================== */





/* =================== MAIN START ================== */
.main {
    /* ставим 1, чтобы контейнер растянулся во всю страницу */
    flex-grow: 1;
}

/* =================== TOP START =================== */

.top {
    color: #fff;
    /* выравниваем текст по середине */
    text-align: center;
    padding-top: 180px;
    padding-bottom: 50px;
    position: absolute;
    z-index: 5;
    /* растягиваем элементыпосле позиционирования */
    left: 0;
    right: 0;
}

.title {
    padding-bottom: 40px;
    font-size: 96px;
    font-weight: 700;
}

.top__link {
    /* задаем фон кнопки */
    background-color: #151515;
    /* задаем отступы кнопки */
    padding: 10px;
    /* задаем максимальную ширину */
    max-width: 430px;
    /* растягиваем на всю ширину указанную выше */
    width: 100%;
    /* означает элемент, который продолжает находиться в строке ( inline ), но при этом может иметь важные свойства блока */
    display: inline-block;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
}

/* ==================== TOP END ==================== */




/* ================= LEADS START =============== */

.leads {
    padding: 100px 0 150px;
}

.contacts__title {
    margin-bottom: 20px;
}

.contact__text {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 50px;
    padding: 0 100px;
}

.form {
    max-width: 580px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form__input {
    width: 270px;
    padding: 18px 20px;
    display: inline-block;
    /* font-family: 'Play', sans-serif; */
    border: 1px solid #000;
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    color: #000;
}

/* обращение к плейсхолдеру */
.form__input::placeholder, 
.form__textarea::placeholder  {
    /* font-family: 'Play', sans-serif; */
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    color: #000;
    opacity: .5;
}

.form__textarea {
    width: 100%;
    resize: none;
    padding: 28px 20px;
    height: 290px;
    border: 1px solid #000;
    /* font-family: 'Play', sans-serif; */
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    color: #000;
    margin-bottom: 50px;
}

.form__btn {
    text-transform: uppercase;
    color: #fff;
    /* font-family: 'Play', sans-serif; */
    background-color: #151515;
    font-size: 16px;
    font-weight: 400;
    padding: 13px 61px;
    /* выравниваем так как это флекс элемент */
    margin: 0 auto;
    border: none;
}

/* ================= LEADS END =============== */




/* ================== CHOOSE START ================ */

.company__choose {
    padding: 100px 0 150px;
}

.company__tabs {
    margin-bottom: 70px;
}

.company__tabs__btn {
    padding: 0 150px 100px;
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

.company__tabs__btn-item {
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
}

.company__tabs__btn-item--active {
    color: #0066FF;
}

.company__tabs__content-item {
    display: none;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px 40px;
}

.orderdetails__tabs__content-item {
    display: none;
    grid-template-columns: repeat(5, 1fr);
    gap: 100px 40px;
}

.orderdetails__tabs__content-item.orderdetails__tabs__content-item--active {
    display: grid;
}

.company__tabs__content-item.company__tabs__content-item--active {
    display: grid;
}

.company__card {
    text-align: center;
    /* box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18); */
    border-radius: 1.2rem;
}

.company__card:hover {
    box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
}

.company__card__content {
    padding: 0 5px;
    /* border: 1px solid #0066FF; */
    border-top: 0;
}

.company__card__title {
    padding-top: 20px;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.company__card__text {
    margin-bottom: 20px;
}

.company__card__price {
    margin-bottom: 20px;
    font-style: 24px;
    font-weight: 700;
}

.company__card__link {
    display: block;
    color: #0066FF;
    /* border: 1px solid #0066FF; */
    border-top: 0;
}

.company__card__img {
    width: 100%;
}

/* =================== CHOOSE END ================= */

/* ================== LEADS EDIT START ================ */

.edit__lead {
    padding: 100px 0 150px;
}

.edit__box {
    /* display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; */
}

/* ================== LEADS EDIT END ================ */

/* ================== LEADS CARD START ================ */

.company__lead__card {
    padding: 0px 0 100px;
    
}

.company__tabs__lead {
    margin-bottom: 70px;
}

.company__tabs__btn__lead{
    padding: 0 150px 50px;
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

.company__tabs__btn-item {
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
}

.company__tabs__btn-item--active {
    color: #d45cec;
}

.company__tabs__content-item{
    display: none;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px 40px;
}

.orderdetails__tabs__content-item{
    display: none;
    grid-template-columns: repeat(5, 1fr);
    gap: 100px 40px;
}

.orderdetails__tabs__content__review-item{
    display: none;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px 40px;
}

.btn__cell{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.company__card__remember {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #5b5a5a38;
    border-radius: 1.2rem;
    height: 40px; */
    width: 100%;
    height: 40px;
    margin-bottom: 50px;
}

.company__card__remember__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 40px;
    width: 100%;
}



.company__card_remember-content {
    /* justify-content: space-between; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #5b5a5a38;
    border-radius: 1.2rem;
    height: 40px;
    width: 23%;
    cursor: pointer;
}

.company__card_remember-content__btn {
    text-decoration: none;
    background: none;
    border: none;
    color: none;

    /* margin-right: 5px; */
}

.company__card__remember-text {
    width: 0.1px;
    font-size: 1px;
    text-decoration: none;
    background: none;
    border: none;
    color: none;
    font-family: 'laptev_brush';
    /* margin-right: 20px; */
    
}

.company__card__remember__box-serch {
    display: flex;
    justify-content: right;
    width: 100%;
    height: 40px;
    /* align-items: center; */
    /* margin-bottom: 50px; */
    /* gap: 100px;*/
 }

.company__card_remember-search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #5b5a5a38;
    border-radius: 1.2rem;
    height: 40px;
    width: 90%;
    cursor: pointer;
}

.company__card_remember-search__text {
    font-size: 18px;
    margin-left: 20px;
    width: 90%;
    border: none;
}

.company__card_remember-search__btn {
    text-decoration: none;
    background: none;
    border: none;
    color: none;
    width: 10%;
    text-align: right;
    margin-right: 20px;
}

.company__tabs__content-item.company__tabs__content-item--active {
    display: grid;
}

.green {
    background-color: #04b68798;
}



.company__card__link__lead__more {
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    color: none;
}

.company__tabs__review{
    border: 1px solid #5b5a5a38;
    border-radius: 1.2rem;
    padding: 10px;
    background-color: #001aff11;
}

.company__tabs__review:hover{
    box-shadow: 0 0rem 4rem rgba(132, 139, 200, 0.18);
}


.company__card__lead {
    text-align: center;
    /* серый не прозрачный фон */
    /* border: 1px solid #5b5a5afe; */
    /* серый прозрачный фон */
    border: 1px solid #5b5a5a38;
    /* фиолетовый прозрачный фон */
    /* border: 1px solid #e418ff38; */
    /* box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18); */
    border-radius: 1.2rem;
}

.company__card__lead:hover {
    box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
}

.company__card__content__lead {
    padding: 0 5px;
    /* border: 1px solid #0066FF; */
    border-top: 0;
}

/* ======================================= */
.company__card__content__product {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #5b5a5a38;
    border-radius: 1.2rem;
    height: 40px;
}

.reviewTitleRed {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #5b5a5a38;
    border-radius: 1.2rem;
    height: 40px;
    background-color: rgba(255, 0, 0, 0.078);
}

.reviewTitleGreen {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #5b5a5a38;
    border-radius: 1.2rem;
    height: 40px;
    background-color: rgba(0, 255, 85, 0.085);
}

/* ======================================= */
.company__card__content__phone {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.company__card__content__button {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    /* margin-bottom: 100px; */
   
    /* height: 50px; */
}

.company__card__content__button2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
    /* height: 50px; */
}

.company__card__content__button3 {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
   
    /* height: 50px; */
}

.company__card__content__button__btn {
    margin-top: 3rem;
    height: 70px;
    width: 100%;
}

.company__label {
    text-align: center;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
}

.company__card__content__subtitle {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #5b5a5a38;
    border-radius: 1.2rem; */
    height: 26px;
    font-weight: 700;
    color: #3d3d3d;
}

.company__card__title__lead {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
}

.company__card__title__review {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 24px;
    font-weight: 300;
}

.company__card__content__city {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 40px;
}

.company__card__content__author {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.company__card__text__city__lead {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #5b5a5a38;
    border-radius: 1.2rem;
    height: 40px;
    width: 45%;
    font-size: 24px;
}

.company__card__content_button {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-bottom: 20px;
}

/* кнопки в рабюоту */
.company__card__text__lead {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 20%;
}

.company__card__text__lead-button{
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    color: none;
    width: 100%;
    height: 100%;
    border: 1px solid #5b5a5a38;
    border-radius: 1.2rem;
    cursor: pointer;
}

.company__card__text__lead-button:hover  {
    background-color: #d45cec;
    text-decoration: none;
    text-decoration-style: none;
    color: #fff;
}
/* кнопки в рабюоту */
/* кнока сохранить отзыв */
.company__card__text__review-button{
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    /* background-color: #00ff4411; */
    width: 100%;
    height: 100%;
    border: 1px solid #5b5a5a38;
    border-radius: 1.2rem;
    cursor: pointer;
    /* box-shadow: 0 -2rem 3rem rgba(132, 139, 200, 0.18); */
}

.company__card__text__review-button:hover  {
    background-color: #d45cec;
    text-decoration: none;
    text-decoration-style: none;
    color: #fff;
    /* box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18); */
}

.company__card__text__publish-button{
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    background-color: #00ff4411;
    width: 100%;
    height: 100%;
    border: 1px solid #5b5a5a38;
    border-radius: 1.2rem;
    cursor: pointer;
    /* box-shadow: 0 -2rem 3rem rgba(132, 139, 200, 0.18); */
}

.company__card__text__publish-button:hover  {
    background-color: #d45cec;
    text-decoration: none;
    text-decoration-style: none;
    color: #fff;
    /* box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18); */
}
/* кнока сохранить отзыв */

/* кнока сохранить отзыв */
.company__card__text__comment-button{
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    /* background-color: #152cfc00; */
    background-color: #707efb00;
    width: 100%;
    height: 100%;
    border: 1px solid #5b5a5a38;
    border-radius: 1.2rem;
    cursor: pointer;
    /* box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18); */
}

.company__card__text__comment-button:hover  {
    background-color: #d45cec;
    text-decoration: none;
    text-decoration-style: none;
    color: #fff;
    /* box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18); */
}
/* кнока сохранить отзыв */

.company__card__content__comments {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #5b5a5a38;
    border-radius: 1.2rem;
    height: 186px;
}

.company__card__content__comments__tocompany {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #5b5a5a38;
    border-radius: 1.2rem;
    height: 100px;
}

.company__card__content__review__text {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #5b5a5a38;
    border-radius: 1.2rem;
    height: 336px;
    width: 100%;
}

/* .company__card__content__review__comment {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #5b5a5a38;
    border-radius: 1.2rem;
    height: 386px;
    width: 100%;
} */

/* .company__card__content__review__comment:hover{
    box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
}  */

.company__card__content__review__answer {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #5b5a5a38;
    border-radius: 1.2rem;
    height: 136px;
    width: 100%;
    text-align: center;
    padding: 5px 5px 8px 10px;
    overflow-x:hidden;
    margin-bottom: 20px;
}

.company__card__content__review__comment{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #5b5a5a38;
    border-radius: 1.2rem;
    height: 136px;
    width: 100%;
    text-align: center;
    padding: 5px 5px 8px 10px;
    overflow-x:hidden;
    margin-bottom: 20px;
    background-color: #152cfc00;
}
/* .company__card__content__review__comment:hover{
    box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
} */

.company__card__text__review {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 5px 5px 8px 10px;
    /* word-wrap: break-word; */
    overflow-x:hidden; 
    border: none;
    border-radius: 1.2rem;
    text-align: center;
    /* border-radius: 1.2rem; */

}

.company__card__text__lead2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 75px;
    /* word-wrap: break-word; */
    overflow-x:hidden; 
    /* border-radius: 1.2rem; */
}


.company__card__price__lead {
    margin-bottom: 20px;
    font-style: 24px;
    font-weight: 700;
}

.company__card__link__lead {
    display: block;
    color: #000;
    text-transform: uppercase;
    /* border: 1px solid #0066FF; */
    margin-top: 10px;
}

.company__card__img__lead {
    width: 100%;
}

/* =================== LEADS CARD END ================= */

/* ==================== MAIN END =================== */







/* ==================== MEDIA START =================== */

/* ==================== 1180 =================== */
@media (max-width: 1420px) {


    .orderdetails__tabs__content-item {
        grid-template-columns: repeat(4, 1fr);
    }
    
    .company__tabs__btn__lead{
        padding: 0 0 50px;
        gap: 20px;
    }

}
/* ==================== 1040 =================== */


/* ==================== 1180 =================== */
@media (max-width: 1180px) {

    .company__important__list {
        gap: 30px 20px;
    }

    .company__important__item-img {
        width: 100%;
    }

    .company__tabs__content-item {
        grid-template-columns: repeat(3, 1fr);
    }
    .orderdetails__tabs__content-item {
        grid-template-columns: repeat(3, 1fr);
    }

    .company__tabs__content__lead-item{
        grid-template-columns: repeat(3, 1fr);
    }

    .company__tabs__btn__lead{
        padding: 0 0 50px;
        gap: 20px;
    }

}
/* ==================== 1040 =================== */


@media (max-width: 1040px) {

    .company__video__content {
        width: 100%;
    }

    .company__tabs__btn {
        padding: 0 0 50px;
        gap: 20px;
    }

    .company__tabs__btn__lead{
        padding: 0 0 50px;
        gap: 20px;
    }

    .company__card__content__button {
        flex-direction: column;
        height: 100px;
        margin-bottom: 100px;
    }

    .company__card__content__button__btn{
        
        margin-top: 60px;
    }

    .company__section-subtitle{
        height: 30px;
    }

    /* .company__label{
        padding: 30px;
    } */

}

/* ==================== 860 =================== */


@media (max-width: 860px) {

    /* настраиваем бургер меню */
    .company__menu__btn {
        display: flex;
    }

    .company__menu__btn,
    .company__logo {
        position: relative;
        z-index: 10;
    }

    .company__menu__list {
        position: absolute;
        z-index: 5;
        background-color: #151515;
        flex-direction: column;
        height: 100vh;
        padding-top: 200px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        align-items: center;
        transform: translateY(-100%);
        transition: transform .3s ease;
    }

    .company__menu__list.menu__list--active {
        transform: translateY(0%);
    }

    .company__why-lease-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        /* выравниваем содержимое по середине */
        justify-items: center; 
    }

    .company__important__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .company__tabs__content-item {
        grid-template-columns: repeat(2, 1fr);
    }

    .orderdetails__tabs__content-item {
        grid-template-columns: repeat(2, 1fr);
    }

    .company__tabs__content__lead-item {
        grid-template-columns: repeat(2, 1fr);
    }

    .company__tabs__btn__lead{
        padding: 0 0 50px;
        gap: 10px;
    }
}

/* ==================== 768 =================== */

@media (max-width: 768px) {

    .company__title {
        font-size: 70px;
    }

    .top__link {
        padding: 16px;
        max-width: 360px;
        font-style: 28px;
    }

    .swiper-pagination-bullet {
        width: 60px;
    }

    .swiper-pagination-bullet--active {
        height: 400px;
    }

    .footer__menu {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 40px;
        margin-bottom: 50px;
    }

    .video__content {
        height: 400px;
    }
    .company__tabs__btn__lead{
        flex-direction: column;
    }

    .btn__cell{
        grid-template-columns: repeat(1, 1fr);
        gap: 0px;
    }

}

    /* ==================== 650 =================== */

    @media (max-width: 650px) {

        .company__tabs__content-item {
            grid-template-columns: repeat(1, 1fr);
        }

        .orderdetails__tabs__content-item {
            grid-template-columns: repeat(1, 1fr);
        }

        .company__tabs__btn-item {
            tab-size: 18px;
        }

        .company__blog__items {
            grid-template-columns: repeat(1, 1fr);
        }

        .company__contacts {
            padding: 50px 0;
        }

        .company__form__input {
            width: 100%;
            margin-bottom: 30px;
        }

        .company__contact__text {
            padding: 0;
        }

        .company__tabs__content__lead-item {
            grid-template-columns: repeat(1, 1fr);
        }

        .orderdetails__tabs__content__lead-item {
            grid-template-columns: repeat(1, 1fr);
        }

        .company__tabs__btn__lead-item{
            tab-size: 18px;
        }

        .company__card__remember {
            margin-top: 20px;
            margin-bottom: 70px;
            flex-direction: column;
        }

        .company__card__remember__box-serch {
            margin-top: 20px;
            
        }

        .company__card_remember-search {
            width: 100%;
            
        }

        .company__card__content__button__btn{
            width: 500px;
        }
}


    /* ==================== 540 =================== */

@media (max-width: 540px) {

    .company__title {
        font-size: 60px;
    }

    .top__link {
        max-width: 310px;
        font-style: 24px;
    }

    .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullet {
        margin: 0 10px;
    }

    .swiper-pagination-bullet {
        width: 35px;
    }

    .company__why-lease-list {
        grid-template-columns: repeat(1, 1fr);
    }

    .company__why-lease {
        margin: 30px 0;
    }

    .company__section-title {
        font-size: 34px;
    }

    .company__section-subtitle {
        font-size: 34px;
    }

    .how__does {
        padding-bottom: 50px;
    }

    .how__does-list {
        padding: 30px 0 40px;
    }

    .how__does-item {
        padding: 65px 0 19px 0;
        margin-right: auto
    }

    .how__does-item::before {
        right: 0;
        margin: 0 auto;
        width: 50px;
        height: 50px;
        font-size: 32px;
    }

    .video {
        padding-bottom: 50px;
    }

    .video__content {
        height: 250px;
    }

    .important__list {
        grid-template-columns: repeat(1, 1fr);
    }

    .company__app, .copy__nav-list {
        flex-direction: column;
        align-items: center;
    }

    .company__copy__nav-list {
        gap: 20px;
    }

    .company__blog__item-title {
        margin-bottom: 10px;
    }

    .company__blog__item-link {
        margin-left: auto;
    }

    .company__tabs__btn {
        flex-direction: column;
    }

    .company__choose {
        padding: 50px 0;
    }

    .company__tabs__content-item {
        gap: 40px;
    }

    .orderdetails__tabs__content-item {
        gap: 40px;
    }

    .company__blog {
        padding-bottom: 50px;
    }

    .company__tabs__btn__lead{
        flex-direction: column;
    }

    .company__lead__card {
        padding: 50px 0;
    }

    .company__tabs__content__lead-item {
        gap: 40px;
    }

    .company__card__content__button__btn{
        width: 100%;
    }

}

    /* ==================== 300 =================== */
@media (max-width: 300px) {

    .company__section-title {
        font-size: 28px;
    }

    .company__section-subtitle {
        font-size: 28px;
    }
    
}

/* ===================== MEDIA END ==================== */