/* @import url("/css/normalize.css"); */

@font-face {
    font-family: 'laptev_brush';
    src:
         url('../font/laptev_brush.otf');
}

*,
*::after,
*::before {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.clearfix::after,
.header::after,
.grid:after {
	content: "";
	display: table;
	clear: both;
}
html {
	box-sizing: border-box;
	font-size: 100%;
	height: 100%;
}
body {
	/* width: 100vw; */
    height: 100vh;
	font-family: 'laptev_brush';
	font-weight:300;
	color: #000;
	font-size: 1rem;
	line-height: 1.375;
	margin: 0;
	font-display: swap;
	/* background-color: #f6f6f9; */
	background-color: #fff;

    display: flex;
    flex-direction: column;
	
}

button {
	padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
}

.wrapper {
    /* устанавливаем минимальную высоту обертки в 100% страницы */
	position: relative;
    height: 100%;
	max-width: 100%;
    display: flex;
    /* устанавливаем добавление дивов друг под другом */
    flex-direction: column;
}

.container {
	/* устанавливаем максимальную ширину */
	max-width: 100%;
	flex: 1 0 auto;
	/* выравниваем по середине. 1 верх и низ, 2 лево право */
	/* margin: 0 auto; */
	/* устанавливаем отступы от краев */
	/* padding: 0 10px; */
}

.header-main {
    background-color: transparent;
    position: absolute;
    z-index: 10;
    /* растягиваем обратно после позиционирования */
    left: 0;
    right: 0;
}

.avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
	object-fit: cover;
 }

.page__row {
	display: flex;
    justify-content: space-around;
    align-items: center;
}

.app__item-img{
	max-width: 100%;
  	height: auto; 
}

.page__cell {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 10px;
}

.page__cell2 {
	max-width: 100%;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}
.header {
	max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
/* 	border-bottom: 1px solid #ccc; */
	padding: 1.6rem 0;

}

.phone-number, .phone-number2,
.email-address {
	text-decoration: none;	
}
.phone-number {
	font-weight: 700;
	font-size: 2rem;
	color: #000;
	align-items: center;
}
.phone-number2 {
    /* padding-left: 50px; */
	font-weight: 700;
	font-size: 2rem;
	color: #000;
	align-items: center;
}

.logo{
		align-items: baseline;
	}

.email-address {
	color: #3e3e3e
}
.header__logo {
	float: left;
	font-size: 1rem;
}
.logo__picture {
	max-width: 100%;
}
.zagolovok {
	text-align: center;
	border-bottom: 1px solid #ccc;
}

.header__contact {
	float: right;
	display: flex;
    text-align: left;
    align-items: center;
}
.nav {
    margin-left: auto;
    text-align: right;
    /* padding-right: 50px; */
	font-size: 1.1875rem;
}
.nav2 {
    margin-left: auto;
    text-align: right;
    padding-right: 30px;
	font-size: 1.1875rem;
}

.nav__list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack:justify;
	justify-content: space-between;
}
.nav__list2 {
	list-style: none;
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-grow: 1;
	-webkit-box-pack: justify;
	-ms-flex-pack:justify;
	justify-content: space-between;
}
.link {
	color: #000;
	text-decoration: underline;
}
.link:hover {
	color: #f44336
}
.nav__link {
	text-decoration: none;
	padding: 1.3rem;
	display: block;
}

.start{
    max-width: 1200px;
}

.image__start {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
	height: auto;
    }

.alert {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2fff0020;
	color: #000;
	font-size: 1rem;
	margin-bottom: 10px;
}

.dws {
    	display: flex;
    	justify-content: center;
    	margin: 0 auto;
    	flex-wrap: wrap;
    }

.info__item{
    	margin: 0px;
    }

    .butt {
    	border: 3px solid #696969;
    	font-size: 2rem;
    	color: #218294;
		font-family: 'laptev_brush';
		/* color: #ff8400; */
    	text-decoration: none;
    	text-transform: uppercase;
    	width: 180px;
    	height: 40px;
    	display: block;
    	text-align: center;
    	line-height: 40px;
    	position: relative;
    	transition: .5s;
    	overflow: hidden;
		border-radius: 2rem;
    }

    .butt::before,
    .butt::after {
    	position: absolute;
    	content: '';
    	width: 100%;
    	height: 100%;
    	background:  #ffae00;
    	top: 0;
    	left: -100%;
    	opacity: .5;
    	transition: .3s;
    	z-index: -1;

    }

    .butt:after {
    	opacity: 1;
    	transition-delay: .2s;
    }

    .butt:hover{
    	color: #fff;
    }

    .butt:hover::before, .butt:hover::after {
    	left: 0;
    }



	.page__row2 {
		display: flex;
		justify-content: center;
		align-items: center;
		/* position: relative;  */

		margin-top: 100px; 
		/* width: 100%; */
	}
	
	.pagination { 
		display: flex;
		list-style: none;
		padding: 0;
		justify-content: flex-start;
		align-items: center;
		/* width: 50%;  */
		overflow-x: scroll;
	}
	
	.pagination .page-item {
		margin: 0 5px;
	}
	
	.pagination .page-link {
		display: block;
		padding: 0.5rem 0.75rem;
		/* color: #ffae00; */
		/* color: #d45cec81; */
		color: #000;
		background-color: #fff;
		border: 1px solid #dee2e6;
		border-radius: 0.25rem;
	}
	
	.pagination .page-link:hover {
		color: #0056b3;
		text-decoration: none;
		background-color: #e9ecef;
		border-color: #dee2e6;
	}
	
	.pagination .active .page-link {
		z-index: 3;
		color: #000;
		/* background-color: #1e1e1e; */
		/* background-color: #d45cec81; */
		/* background-color: #007bff; */
		border-color: #000;
	}
	
	.pagination .disabled .page-link {
		color: #b2bdc8;
		pointer-events: none;
		cursor: not-allowed;
		background-color: #fff;
		border-color: #dee2e6;
	}
	
	
	





























.page__image{
	max-width: 100%;
	display: block;
	
}

.slider__item {
	padding-top: 42%;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size:cover;
	background-size: cover;
}
.owl-lazy{
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size:cover;
	background-size: cover;
	min-height: 45vh;
}

.slider .owl-dot span {
	background: #fff;
	border: 1px solid #ccc;
	width: 1rem;
	height: 1rem;
	display: block;
}
.slider .owl-dot.active span,
.slider .owl-dot:hover span {
	background: #000;
	border-color: #000;
}
.slider .owl-dot {
	display: inline-block;
	margin: 0 0.40625rem;
}
.slider .owl-dots {
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
} 

.headline {
	text-align: center;
	font-size: 1.75rem;
	font-weight: 400;
	margin: 2rem;
}
.text {
	text-align: center;
}

.grid__item {
	float: left;
	margin-bottom: 1.7%;
	margin-left: 1.7%;
	width: 31.5%;
	position: relative;
	
}
.grid__overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0);
	-webkit-transition: .5s;
	-moz-transition: .5s;
	transition: .5s;
}
.grid__overlay:hover {
	background: rgba(0,0,0,.7);
}
.grid__picture {
	max-width: 100%;
	display: block;
}
.grid__link {
	color: #fff;
	text-align: center;
	font-size: 1.825rem;
}
.grid__text {
	text-shadow: 1px 1px 1px black, 0 0 1em black;
}
.grid__text,
 .icon-circle_picture {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);

}
.icon-circle {
	display: inline-block;
	width: 6.25rem;
	height: 6.25rem;
	background: #ffc600;
	text-align: center;
	border-radius: 50%;
	padding: 1.1rem;
}
.icon-circle_picture {
	max-width: 100%;
}

.advantage {
	display: flex;
	
	display: -webkit-box;
	display: -ms-flexbox;
	flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
}
.advantage__item {
	width: 28%;
	text-align: center;
	margin-right: 8%
}
.grid__item:nth-of-type(2n), 
.advantage__item:last-child {
	margin-right: 0;
}
.advantage__headline {
	font-size: 1.25rem;
	margin: 0.0.0.8rem;
}
.advantage__icon {
	margin-bottom: 1.2rem;
}
.page__row-footer {
	background: #ffc600;

	margin-top: 4.375rem;
}
.footer__copyright {
	text-align: right;
	margin-right: 1rem;	
}
.footer__link {
	color: inherit;
	text-decoration: none;
}
.footer__link:hover {
	text-decoration: underline;
} 
.footer {
	padding: 1.2rem 0;
	text-align: right;
}
.footer2 {
	width: 100%;
	flex: 0 0 auto;
}
.btn-nav {
	border: 0;
	background: none;
	padding: 0.7rem;
	cursor: pointer;
	border-radius: 0.2rem;
}
.btn-nav:hover {
	background: #dadada
}

.btn-nav__line {
	display: block;
	width: 20px;
	height: 2px;
	border-radius: 1px;
	background: #000;
	margin-bottom: 3px;
}
.btn-nav__line:last-child {
	margin-bottom: 0;
}
.nav__btn {
	text-align: right;
	margin: 0.7rem 0;
	display: none;
}

.section-title{
	margin-top: 2rem;
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}


@media (max-width: 650px) {
	.header {
		padding: 0px;
	}

	.footer {
		position: sticky;
		top: 100vh;
		background-color: #ffffff;
		text-align: center;
		padding: 10px;
	}

	/* .footer {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background-color: #f1c40f;
		text-align: center;
	} */

	/* .footer {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		background-color: #ffffff;
		text-align: center;

	} */



	.page__row-footer{
		margin-top: 1rem;
	}

	.headline {
		display: block;
		margin-bottom: 70px;
	}

	.text {
		display: none;
	}
}

