@import url("/normalize.css");

@font-face {
    font-family: 'laptev_brush';
    src:
         url('../font/laptev_brush.otf');
}

*,
*::after,
*::before {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.clearfix::after,
.header::after,
.grid:after {
	content: "";
	display: table;
	clear: both;
}
html {
	font-size: 100%;
}
body {
	font-family: 'laptev_brush';
	font-weight:300;
	color: #000;
	font-size: 1rem;
	line-height: 1.375;
	margin: 0;
	font-display: swap;
	/* background-color: #f6f6f9; */
	background-color: #fff;
}

.container {
	max-width: 1600px;
	margin: 0 auto;
	padding: 0 10px;
}



/* .page__row {
	max-width: 1910px;
	    border: 1px solid #218294;
} */
.page__cell {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 10px;
}

.page__cell2 {
	max-width: 1800px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}
.header {
	/* max-width: 1800px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
/* 	border-bottom: 1px solid #ccc; */
	padding: 1.6rem 0;

}

.phone-number, .phone-number2,
.email-address {
	text-decoration: none;	
}
.phone-number {
	font-weight: 700;
	font-size: 2rem;
	color: #000;
	align-items: center;
}
.phone-number2 {
    padding-left: 50px;
	font-weight: 700;
	font-size: 2rem;
	color: #000;
	align-items: center;
}

.email-address {
	color: #3e3e3e
}
.header__logo {
	float: left;
	font-size: 1rem;
}
.logo__picture {
	max-width: 100%;
}
.zagolovok {
	text-align: center;
	border-bottom: 1px solid #ccc;
}

.header__contact {
	float: right;
	display: flex;
    text-align: right;
    align-items: center;
}
.nav {
    margin-left: auto;
    text-align: right;
    padding-right: 50px;
	font-size: 1.1875rem;
}
.nav2 {
    margin-left: auto;
    text-align: right;
    padding-right: 30px;
	font-size: 1.1875rem;
}

.nav__list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack:justify;
	justify-content: space-between;
}
.nav__list2 {
	list-style: none;
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-grow: 1;
	-webkit-box-pack: justify;
	-ms-flex-pack:justify;
	justify-content: space-between;
}
.link {
	color: #000;
	text-decoration: underline;
}
.link:hover {
	color: #f44336
}
.nav__link {
	text-decoration: none;
	padding: 1.3rem;
	display: block;
}

.start{
    max-width: 1200px;
}

.image__start {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
	height: auto;
    }

.dws {
    	display: flex;
    	justify-content: center;
    	margin: 0 auto;
    	flex-wrap: wrap;
    }

.info__item{
    	margin: 0px;
    }



    .butt {
    	border: 3px solid #696969;
    	font-size: 30px;
    	color: #218294;
    	text-decoration: none;
    	text-transform: uppercase;
    	width: 180px;
    	height: 40px;
    	display: block;
    	text-align: center;
    	line-height: 40px;
    	position: relative;
    	transition: .5s;
    	overflow: hidden;
    }

    .butt::before,
    .butt::after {
    	position: absolute;
    	content: '';
    	width: 100%;
    	height: 100%;
    	background: #218294;
    	top: 0;
    	left: -100%;
    	opacity: .5;
    	transition: .3s;
    	z-index: -1;

    }

    .butt:after {
    	opacity: 1;
    	transition-delay: .2s;
    }

    .butt:hover{
    	color: #fff;
    }

    .butt:hover::before, .butt:hover::after {
    	left: 0;
    }































.page__image{
	max-width: 100%;
	display: block;
	
}

.slider__item {
	padding-top: 42%;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size:cover;
	background-size: cover;
}
.owl-lazy{
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size:cover;
	background-size: cover;
	min-height: 45vh;
}

.slider .owl-dot span {
	background: #fff;
	border: 1px solid #ccc;
	width: 1rem;
	height: 1rem;
	display: block;
}
.slider .owl-dot.active span,
.slider .owl-dot:hover span {
	background: #000;
	border-color: #000;
}
.slider .owl-dot {
	display: inline-block;
	margin: 0 0.40625rem;
}
.slider .owl-dots {
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
} 

.headline {
	text-align: center;
	font-size: 1.75rem;
	font-weight: 400;
	margin: 2rem;
}
.text {
	text-align: center;
}

.grid__item {
	float: left;
	margin-bottom: 1.7%;
	margin-left: 1.7%;
	width: 31.5%;
	position: relative;
	
}
.grid__overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0);
	-webkit-transition: .5s;
	-moz-transition: .5s;
	transition: .5s;
}
.grid__overlay:hover {
	background: rgba(0,0,0,.7);
}
.grid__picture {
	max-width: 100%;
	display: block;
}
.grid__link {
	color: #fff;
	text-align: center;
	font-size: 1.825rem;
}
.grid__text {
	text-shadow: 1px 1px 1px black, 0 0 1em black;
}
.grid__text,
 .icon-circle_picture {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);

}
.icon-circle {
	display: inline-block;
	width: 6.25rem;
	height: 6.25rem;
	background: #ffc600;
	text-align: center;
	border-radius: 50%;
	padding: 1.1rem;
}
.icon-circle_picture {
	max-width: 100%;
}

/*
.dws {
	display: flex;
	justify-content: center;
	margin: 0 auto;	
	flex-wrap: wrap;
}

.info__item{
	margin: 20px;
}



.butt {
	border: 3px solid #218294;
	font-size: 30px;
	color: #218294;
	text-decoration: none;
	text-transform: uppercase;
	width: 340px;
	height: 60px;
	display: block;
	text-align: center;
	line-height: 60px;
	position: relative;
	transition: .5s;
	overflow: hidden;
}

.butt::before, 
.butt::after {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	background: #218294;
	top: 0;
	left: -100%;
	opacity: .5;
	transition: .3s;
	z-index: -1;

}

.butt:after {
	opacity: 1;
	transition-delay: .2s;
}

.butt:hover{
	color: #fff;
}

.butt:hover::before, .butt:hover::after {
	left: 0;
}
*/
.advantage {
	display: flex;
	
	display: -webkit-box;
	display: -ms-flexbox;
	flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
}
.advantage__item {
	width: 28%;
	text-align: center;
	margin-right: 8%
}
.grid__item:nth-of-type(2n), 
.advantage__item:last-child {
	margin-right: 0;
}
.advantage__headline {
	font-size: 1.25rem;
	margin: 0.0.0.8rem;
}
.advantage__icon {
	margin-bottom: 1.2rem;
}
.page__row-footer {
background: #ffc600;

margin-top: 4.375rem;
}
.footer__copyright {
	text-align: right;
	margin-right: 1rem;	
}
.footer__link {
	color: inherit;
	text-decoration: none;
}
.footer__link:hover {
	text-decoration: underline;
}
.footer {
	padding: 1.2rem 0;
}
.btn-nav {
	border: 0;
	background: none;
	padding: 0.7rem;
	cursor: pointer;
	border-radius: 0.2rem;
}
.btn-nav:hover {
	background: #dadada
}

.btn-nav__line {
	display: block;
	width: 20px;
	height: 2px;
	border-radius: 1px;
	background: #000;
	margin-bottom: 3px;
}
.btn-nav__line:last-child {
	margin-bottom: 0;
}
.nav__btn {
	text-align: right;
	margin: 0.7rem 0;
	display: none;
}
