<!doctype html>
    <html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <!-- ==================== META ======================== -->
        <th:block th:insert="~{fragments/common :: meta}"></th:block>
        <!-- ==================== STYLE ======================== -->
        <th:block th:insert="~{fragments/common :: styles}"></th:block>
        <!-- ==================== TITLE ======================== -->
        <!-- <th:block th:insert="~{fragments/common :: title(${route})}"></th:block> -->
        <title>Заказы в напоминании O! Company!</title>
    </head>
    <body>
        <div class="wrapper">
            <!-- ===================== CHOOSE START ========================== -->
            <header th:replace="~{fragments/header :: header}"></header>


            <!-- КНОПКИ ВЫБОРА РАЗДЕЛА СТАТУСОВ - НАЧАЛО -->
            <section class="company__lead__card">
                <div class="container">
                    <h2 class="company__section-title" th:text="${TitleName}"></h2>
                    <div class="company__tabs__lead">
                        <!-- КНОПКИ ВЫБОРА РАЗДЕЛА СТАТУСОВ - НАЧАЛО -->
                        <div class="company__tabs__btn__order">
                    <a class="company__tabs__btn-item" th:href="@{'/companies/allCompany'}" data-button="content-10">К компаниям</a>
                    <a class="company__tabs__btn-item" data-button="content-11" th:href="@{'/orders/new_orders'}">Новые</a>
                    <a class="company__tabs__btn-item" data-button="content-12" th:href="@{'/orders/to_check'}">В проверку</a>
                    <a class="company__tabs__btn-item" data-button="content-13" th:href="@{'/orders/on_check'}">На проверке</a>
                    <a class="company__tabs__btn-item" data-button="content-14" th:href="@{'/orders/correct'}">Коррекция</a>
                    <a class="company__tabs__btn-item" data-button="content-15" th:href="@{'/orders/to_published'}">Публикация</a>
                    <a class="company__tabs__btn-item" data-button="content-16" th:href="@{'/orders/published'}">Опубликовано</a>
                    <a class="company__tabs__btn-item" data-button="content-17" th:href="@{'/orders/payment_check'}">Выставлен счет</a>
                    <a class="company__tabs__btn-item  company__tabs__btn-item--active" data-button="content-18" th:href="@{'/orders/remember'}">Напоминание</a>
                    <a class="company__tabs__btn-item" data-button="content-19" th:href="@{'/orders/no_pay'}">Не опл.</a>
                    <a class="company__tabs__btn-item " data-button="content-20" th:href="@{'/orders/pay'}">Оплачено </a>
                    <a class="company__tabs__btn-item" data-button="content-21" th:href="@{'/orders/all_orders'}">Все </a>
                </div>

            <th:block th:insert="~{fragments/order_list_from_company :: order_list_from_company}" id="content-10"></th:block>
            <th:block th:insert="~{fragments/common :: ordersPagination}"></th:block>
        </section> <!-- section -->

        <!-- ====================== CHOOSE END =========================== -->
        <header th:replace="~{fragments/footer :: footer}"></header>
        <th:block th:insert="~{fragments/common :: js}"></th:block>
    </div><!-- wrapper -->
</body>
</html>