
<th:block th:fragment="content(${route})" xmlns:th="http://www.w3.org/1999/xhtml">

<!-- ==================== LEADS STRAT ======================== -->

    <section class="leads">
        <div class="container">
            <h2 class="section-title contacts__title">Новый Лид</h2>
            <p class="contact__text">Введите данные об новом отклике в форму ниже</p>

            <div class="mb-3" th:if="${saveSuccess}">
                <div class="alert alert-success">
                    Данные успешно изменены и сохранены.
                </div>
            </div>
            
            <form th:action="@{/lead/new_lead}" method="post" class="form" th:object="${newLead}">
                
                <!--        ввод номера телефона        -->
                <input type="text" class="form__input" th:field="*{telephoneLead}" placeholder="Номер телефона">
                <!--        ввод названия города       -->
                <input type="text" class="form__input" th:field="*{cityLead}" placeholder="Ваш Город">
                <small class="form-text text-danger" th:each="err : ${#fields.errors('cityLead')}" th:text="${err}">Validation error</small>
                <small class="form-text text-danger" th:each="err : ${#fields.errors('telephoneLead')}" th:text="${err}">Validation error</small>
                <!--        ввод дополнительных данных        -->
                <textarea class="form__textarea" th:field="*{commentsLead}" placeholder="Ваш Текст"></textarea>
                <input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}">
                <button class="form__btn" type="submit">ОТПРАВИТЬ</button>
            </form>
        </div> <!-- container -->
    </section> <!-- section -->

<!-- ===================== LEADS END ======================== -->

<!-- <th:block th:insert="~{fragments/common :: js}"></th:block> -->

</th:block>
