<!doctype html>
    <html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <!-- ==================== META ======================== -->
        <th:block th:insert="~{fragments/common :: meta}"></th:block>
        <!-- ==================== STYLE ======================== -->
        <th:block th:insert="~{fragments/common :: styles}"></th:block>
        <!-- ==================== TITLE ======================== -->
        <th:block th:insert="~{fragments/common :: title(${route})}"></th:block>
    </head>
    <body>

    <!-- ===================== CHOOSE START ========================== -->
    <header th:replace="~{fragments/header :: header}"></header>


    <!-- КНОПКИ ВЫБОРА РАЗДЕЛА СТАТУСОВ - НАЧАЛО -->
    <section class="company__lead__card">
        <div class="container">
            <h2 class="company__section-title">РАБОТА С КОМПАНИЯМИ</h2>
            <div class="company__tabs__lead">
                <!-- КНОПКИ ВЫБОРА РАЗДЕЛА СТАТУСОВ - НАЧАЛО -->
                <div class="company__tabs__btn__lead">
                    <button class="company__tabs__btn-item company__tabs__btn-item--active" data-button="content-10">Новые</button>
                    <button class="company__tabs__btn-item" data-button="content-12">Пишем отзывы</button>
                    <button class="company__tabs__btn-item" data-button="content-13">На проверке</button>
                    <button class="company__tabs__btn-item" data-button="content-14">Коррекция</button>
                    <button class="company__tabs__btn-item" data-button="content-15">Публикация</button>
                    <button class="company__tabs__btn-item" data-button="content-16">Опубликовано</button>
                    <button class="company__tabs__btn-item" data-button="content-17">Выставлен счет</button>
                    <button class="company__tabs__btn-item" data-button="content-18">Оплачено </button>
                </div>
                <!-- КНОПКИ ВЫБОРА РАЗДЕЛА СТАТУСОВ - КОНЕЦ -->

                <div class="company__tabs__content-lead">
                    <!-- КНОПКИ КОПИРОВАНИЯ ТЕКСТА - НАЧАЛО -->
                    <div class="company__card__remember">
<!--                        <div class="company__card__remember__box">-->
<!--                            <div class="company__card_remember-content">-->
<!--                                &lt;!&ndash; The text field &ndash;&gt;-->
<!--                                <textarea class="company__card__remember-text" th:utext="${promoTexts[0]}" id="myInput1"></textarea>-->

<!--                                &lt;!&ndash; The button used to copy the text &ndash;&gt;-->
<!--                                <button class="company__card_remember-content__btn" onclick="myFunction1()">предложение</button>-->
<!--                            </div>-->
<!--                            <div class="company__card_remember-content">-->
<!--                                &lt;!&ndash; The text field &ndash;&gt;-->
<!--                                <textarea class="company__card__remember-text"th:utext="${promoTexts[1]}" id="myInput2"></textarea>-->

<!--                                &lt;!&ndash; The button used to copy the text &ndash;&gt;-->
<!--                                <button class="company__card_remember-content__btn" onclick="myFunction2()">напоминание</button>-->
<!--                            </div>-->
<!--                            <div class="company__card_remember-content">-->
<!--                                &lt;!&ndash; The text field &ndash;&gt;-->
<!--                                <textarea class="card__remember-text" th:utext="${promoTexts[2]}" id="myInput3"></textarea>-->

<!--                                &lt;!&ndash; The button used to copy the text &ndash;&gt;-->
<!--                                <button class="card_remember-content__btn" onclick="myFunction3()">данные</button>-->
<!--                            </div>-->
<!--                            <div class="company__card_remember-content">-->
<!--                                &lt;!&ndash; The text field &ndash;&gt;-->
<!--                                <textarea class="company__card__remember-text" th:utext="${promoTexts[3]}" id="myInput4"></textarea>-->

<!--                                &lt;!&ndash; The button used to copy the text &ndash;&gt;-->
<!--                                <button class="company__card_remember-content__btn" onclick="myFunction4()">оплата</button>-->
<!--                            </div>-->
<!--                        </div>-->
                        <div class="company__card__remember__box-serch">

                            <form class="company__card_remember-search" th:method="get" th:action="@{/lead}">
                                <!-- The text field -->
                                <input class="company__card_remember-search__text" type="text" value="" name="keyword" id="keyword">
                                <!-- The button used to copy the text -->
                                <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                <button type="submit" class="company__card_remember-search__btn">Найти</button>
                            </form>

                        </div>
                    </div>
                    <!-- КНОПКИ КОПИРОВАНИЯ ТЕКСТА - КОНЕЦ -->



                    <!-- СПИСОК КАРТОЧЕК 1 НОВЫЕ-->
                    <div class="company__tabs__content-item company__tabs__content-item--active" id="content-10">


                        <div th:each="company : ${allCompanyNew}" class="company__card__lead">
                            <div class="company__card__content__lead">

                                <!-- элементы карточки - начало -->
                                <div class="company__card__content__phone">
                                    <a class="company__card__title__lead" th:text="${company.title}" target="_blank"  th:href="@{${company.filials[0].url}}">Текущий статус Лида</a>
                                </div>
                                <div class="company__card__content__phone">
                                    <!-- <div class="card__title__lead" th:text="${lead.telephoneLead}">Номер Лида</div> -->
                                    <form class="company__card__title__lead" th:method="get" target="_blank" th:action="'https://wa.me/' + ${company.telephone}">
                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                        <button type="submit" class="company__card__text__lead-button " th:text="${company.telephone}">в архив</button>
                                    </form>
                                </div>
                                <div class="card__content__city">
                                    <a class="company__card__text__city__lead" th:text="Заказ"  th:href="@{'/ordersCompany/'+ ${company.id}}">Дата создания Лида</a>
                                    <a class="company__card__text__city__lead" th:text="Подробности"  th:href="@{'/ordersCompany/ordersDetails/'+ ${company.id}}">Дата создания Лида</a>
                                    <!-- <div class="company__card__text__city__lead" th:text="${company.subCategory.subCategoryTitle}">Город Лида</div> -->
                                </div>
                                <!-- <div class="card__content__city">
                                    <div class="company__card__text__city__lead" th:text="${company.createDate}">Дата создания Лида</div>
                                    <div class="company__card__text__city__lead" th:text="${company.subCategory.subCategoryTitle}">Город Лида</div>
                                </div> -->
                                <div class="company__card__content__comments">
                                    <div class="company__card__text__lead2" th:text="${company.title}">Комментарий для лида</div>
                                </div>
                                <div class="company__card__content_button">
                                    <form class="company__card__text__lead" th:method="post" th:action="'company/status_send/' + ${company.id}">
                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                        <button type="submit" class="company__card__text__lead-button ">отправил</button>
                                    </form>
                                    <form class="company__card__text__lead" th:method="post" th:action="'company/status_resend/' + ${company.id}">
                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                        <button type="submit" class="company__card__text__lead-button ">напомнил</button>
                                    </form>
                                    <form class="company__card__text__lead" th:method="post" th:action="'company/status_archive/' + ${company.id}">
                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                        <button type="submit" class="company__card__text__lead-button ">в архив</button>
                                    </form>
                                    <form class="company__card__text__lead" th:method="post" th:action="'company/status_archive/' + ${company.id}">
                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                        <button type="submit"  class="company__card__text__lead-button ">в работу</button>
                                    </form>
                                    <!--                                    <form class="card__text__lead" th:method="post" th:action="'lead/status_in_work/' + ${lead.id}">-->
                                    <!--                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>-->
                                    <!--                                        <button type="submit" class="card__text__lead-button ">в работу</button>-->
                                    <!--                                    </form>-->
                                    <!-- элементы карточки - конец -->
                                </div> <!-- card__content_button -->
                            </div> <!-- card__content__lead -->
                            <form class="company__card__content__author" th:method="get" th:action="'company/edit/' + ${company.id}">
                                <div class="company__card__link__lead" th:text="${company.manager.user.fio != null ? company.manager.user.fio : 'пусто'}">Имя Менеджера</div>
                                <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                <button type="submit" class="company__card__link__lead__more company__card__link__lead">Изменить</button>
                            </form>
                        </div> <!-- card -->
                    </div> <!-- tabs__content-item -->
                    <!-- СПИСОК КАРТОЧЕК 1 -->


<!--                    -->
<!--                    &lt;!&ndash; СПИСОК КАРТОЧЕК 2  ОТПРАВЛЕННЫЕ&ndash;&gt;-->
<!--                    <div class="tabs__content__lead-item" id="content-2">-->
<!--                        <div th:each="lead : ${leadListSend}" class="card__lead">-->
<!--                            <div class="card__content__lead">-->

<!--                                &lt;!&ndash; элементы карточки - начало &ndash;&gt;-->
<!--                                <div class="card__content__phone">-->
<!--                                    <div class="card__title__lead" th:text="${lead.lidStatus}">Текущий статус Лида</div>-->
<!--                                </div>-->
<!--                                <div class="card__content__phone">-->
<!--                                    &lt;!&ndash; <div class="card__title__lead" th:text="${lead.telephoneLead}">Номер Лида</div> &ndash;&gt;-->
<!--                                    <form class="card__title__lead" th:method="get" target="_blank" th:action="'https://wa.me/' + ${lead.telephoneLead}">-->
<!--                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>-->
<!--                                        <button type="submit" class="card__text__lead-button card__title__lead" th:text="${lead.telephoneLead}">в архив</button>-->
<!--                                    </form>-->
<!--                                </div>-->
<!--                                <div class="card__content__city">-->
<!--                                    <div class="card__text__city__lead" th:text="${lead.dateNewTry}">Дата смены статуса Лида</div>-->
<!--                                    <div class="card__text__city__lead" th:text="${lead.cityLead}">Город Лида</div>-->
<!--                                </div>-->
<!--                                <div class="card__content__comments">-->
<!--                                    <div class="card__text__lead2" th:text="${lead.commentsLead}">Комментарий для лида</div>-->
<!--                                </div>-->
<!--                                <div class="card__content_button">-->
<!--                                    <form class="card__text__lead" th:method="post" th:action="'lead/status_send/' + ${lead.id}">-->
<!--                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>-->
<!--                                        <button type="submit" class="card__text__lead-button ">отправил</button>-->
<!--                                    </form>-->
<!--                                    <form class="card__text__lead" th:method="post" th:action="'lead/status_resend/' + ${lead.id}">-->
<!--                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>-->
<!--                                        <button type="submit" class="card__text__lead-button ">напомнил</button>-->
<!--                                    </form>-->
<!--                                    <form class="card__text__lead" th:method="post" th:action="'lead/status_archive/' + ${lead.id}">-->
<!--                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>-->
<!--                                        <button type="submit" class="card__text__lead-button ">в архив</button>-->
<!--                                    </form>-->
<!--                                    <form class="card__text__lead" th:method="post" th:action="'companies/new_company_to_manager/' + ${lead.id}">-->
<!--                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>-->
<!--                                        <button type="submit" class="card__text__lead-button ">в работу</button>-->
<!--                                    </form>-->
<!--                                    &lt;!&ndash; элементы карточки - конец &ndash;&gt;-->
<!--                                </div> &lt;!&ndash; card__content_button &ndash;&gt;-->
<!--                            </div> &lt;!&ndash; card__content__lead &ndash;&gt;-->
<!--                            <form class="card__content__author" th:method="get" th:action="'lead/edit/' + ${lead.id}">-->
<!--                                <div class="card__link__lead" th:text="${lead.operator.user.fio != null ? lead.operator.user.fio : 'пусто'}">Имя Оператора</div>-->
<!--                                <input type="hidden" name="_csrf" value="${_csrf.token}"/>-->
<!--                                <button type="submit" class="card__link__lead__more card__link__lead">Подробнее</button>-->
<!--                            </form>-->
<!--                        </div> &lt;!&ndash; card &ndash;&gt;-->
<!--                    </div> &lt;!&ndash; tabs__content-item &ndash;&gt;-->
<!--                    &lt;!&ndash; СПИСОК КАРТОЧЕК 2 &ndash;&gt;-->

<!--                    &lt;!&ndash; СПИСОК КАРТОЧЕК 3 С НАПОМИНАНИЕМ&ndash;&gt;-->
<!--                    <div class="tabs__content__lead-item" id="content-3">-->
<!--                        <div th:each="lead : ${leadListReSend}" class="card__lead">-->
<!--                            <div class="card__content__lead">-->

<!--                                &lt;!&ndash; элементы карточки - начало &ndash;&gt;-->
<!--                                <div class="card__content__phone">-->
<!--                                    <div class="card__title__lead" th:text="${lead.lidStatus}">Текущий статус Лида</div>-->
<!--                                </div>-->
<!--                                <div class="card__content__phone">-->
<!--                                    &lt;!&ndash; <div class="card__title__lead" th:text="${lead.telephoneLead}">Номер Лида</div> &ndash;&gt;-->
<!--                                    <form class="card__title__lead" th:method="get" target="_blank" th:action="'https://wa.me/' + ${lead.telephoneLead}">-->
<!--                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>-->
<!--                                        <button type="submit" class="card__text__lead-button card__title__lead" th:text="${lead.telephoneLead}">в архив</button>-->
<!--                                    </form>-->
<!--                                </div>-->
<!--                                <div class="card__content__city">-->
<!--                                    <div class="card__text__city__lead" th:text="${lead.dateNewTry}">Дата смены статуса Лида</div>-->
<!--                                    <div class="card__text__city__lead" th:text="${lead.cityLead}">Город Лида</div>-->
<!--                                </div>-->
<!--                                <div class="card__content__comments">-->
<!--                                    <div class="card__text__lead2" th:text="${lead.commentsLead}">Комментарий для лида</div>-->
<!--                                </div>-->
<!--                                <div class="card__content_button">-->
<!--                                    <form class="card__text__lead" th:method="post" th:action="'lead/status_send/' + ${lead.id}">-->
<!--                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>-->
<!--                                        <button type="submit" class="card__text__lead-button ">отправил</button>-->
<!--                                    </form>-->
<!--                                    <form class="card__text__lead" th:method="post" th:action="'lead/status_resend/' + ${lead.id}">-->
<!--                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>-->
<!--                                        <button type="submit" class="card__text__lead-button ">напомнил</button>-->
<!--                                    </form>-->
<!--                                    <form class="card__text__lead" th:method="post" th:action="'lead/status_archive/' + ${lead.id}">-->
<!--                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>-->
<!--                                        <button type="submit" class="card__text__lead-button ">в архив</button>-->
<!--                                    </form>-->
<!--                                    <form class="card__text__lead" th:method="post" th:action="'companies/new_company_to_manager/' + ${lead.id}">-->
<!--                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>-->
<!--                                        <button type="submit" class="card__text__lead-button ">в работу</button>-->
<!--                                    </form>-->
<!--                                    &lt;!&ndash; элементы карточки - конец &ndash;&gt;-->
<!--                                </div> &lt;!&ndash; card__content_button &ndash;&gt;-->
<!--                            </div> &lt;!&ndash; card__content__lead &ndash;&gt;-->
<!--                            <form class="card__content__author" th:method="get" th:action="'lead/edit/' + ${lead.id}">-->
<!--                                <div class="card__link__lead" th:text="${lead.operator.user.fio != null ? lead.operator.user.fio : 'пусто'}">Имя Оператора</div>-->
<!--                                <input type="hidden" name="_csrf" value="${_csrf.token}"/>-->
<!--                                <button type="submit" class="card__link__lead__more card__link__lead">Подробнее</button>-->
<!--                            </form>-->
<!--                        </div> &lt;!&ndash; card &ndash;&gt;-->
<!--                    </div> &lt;!&ndash; tabs__content-item &ndash;&gt;-->
<!--                    &lt;!&ndash; СПИСОК КАРТОЧЕК 3 &ndash;&gt;-->

<!--                    &lt;!&ndash; СПИСОК КАРТОЧЕК 4 В АРХИВ&ndash;&gt;-->
<!--                    <div class="tabs__content__lead-item" id="content-4">-->
<!--                        <div th:each="lead : ${leadListArchive}" class="card__lead">-->
<!--                            <div class="card__content__lead">-->

<!--                                &lt;!&ndash; элементы карточки - начало &ndash;&gt;-->
<!--                                <div class="card__content__phone">-->
<!--                                    <div class="card__title__lead" th:text="${lead.lidStatus}">Текущий статус Лида</div>-->
<!--                                </div>-->
<!--                                <div class="card__content__phone">-->
<!--                                    &lt;!&ndash; <div class="card__title__lead" th:text="${lead.telephoneLead}">Номер Лида</div> &ndash;&gt;-->
<!--                                    <form class="card__title__lead" th:method="get" target="_blank" th:action="'https://wa.me/' + ${lead.telephoneLead}">-->
<!--                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>-->
<!--                                        <button type="submit" class="card__text__lead-button card__title__lead" th:text="${lead.telephoneLead}">в архив</button>-->
<!--                                    </form>-->
<!--                                </div>-->
<!--                                <div class="card__content__city">-->
<!--                                    <div class="card__text__city__lead" th:text="${lead.dateNewTry}">Дата смены статуса Лида</div>-->
<!--                                    <div class="card__text__city__lead" th:text="${lead.cityLead}">Город Лида</div>-->
<!--                                </div>-->
<!--                                <div class="card__content__comments">-->
<!--                                    <div class="card__text__lead2" th:text="${lead.commentsLead}">Комментарий для лида</div>-->
<!--                                </div>-->
<!--                                <div class="card__content_button">-->
<!--                                    <form class="card__text__lead" th:method="post" th:action="'lead/status_send/' + ${lead.id}">-->
<!--                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>-->
<!--                                        <button type="submit" class="card__text__lead-button ">отправил</button>-->
<!--                                    </form>-->
<!--                                    <form class="card__text__lead" th:method="post" th:action="'lead/status_resend/' + ${lead.id}">-->
<!--                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>-->
<!--                                        <button type="submit" class="card__text__lead-button ">напомнил</button>-->
<!--                                    </form>-->
<!--                                    <form class="card__text__lead" th:method="post" th:action="'lead/status_archive/' + ${lead.id}">-->
<!--                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>-->
<!--                                        <button type="submit" class="card__text__lead-button ">в архив</button>-->
<!--                                    </form>-->
<!--                                    <form class="card__text__lead" th:method="get" th:action="'companies/new_company_to_manager/' + ${lead.id}">-->
<!--                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>-->
<!--                                        <button type="submit" class="card__text__lead-button ">в работу</button>-->
<!--                                    </form>-->

<!--                                    &lt;!&ndash;                                    <form class="card__text__lead" th:method="post" th:action="'lead/status_in_work/' + ${lead.id}">&ndash;&gt;-->
<!--                                    &lt;!&ndash;                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>&ndash;&gt;-->
<!--                                    &lt;!&ndash;                                        <button type="submit" class="card__text__lead-button ">в работу</button>&ndash;&gt;-->
<!--                                    &lt;!&ndash;                                    </form>&ndash;&gt;-->


<!--                                    &lt;!&ndash; элементы карточки - конец &ndash;&gt;-->
<!--                                </div> &lt;!&ndash; card__content_button &ndash;&gt;-->
<!--                            </div> &lt;!&ndash; card__content__lead &ndash;&gt;-->
<!--                            <form class="card__content__author" th:method="get" th:action="'lead/edit/' + ${lead.id}">-->
<!--                                <div class="card__link__lead" th:text="${lead.operator.user.fio != null ? lead.operator.user.fio : 'пусто'}">Имя Оператора</div>-->
<!--                                <input type="hidden" name="_csrf" value="${_csrf.token}"/>-->
<!--                                <button type="submit" class="card__link__lead__more card__link__lead">Подробнее</button>-->
<!--                            </form>-->
<!--                        </div> &lt;!&ndash; card &ndash;&gt;-->
<!--                    </div> &lt;!&ndash; tabs__content-item &ndash;&gt;-->
<!--                    &lt;!&ndash; СПИСОК КАРТОЧЕК 4 &ndash;&gt;-->

<!--                    &lt;!&ndash; СПИСОК КАРТОЧЕК 5 &ndash;&gt;-->
<!--                    <div class="tabs__content__lead-item" id="content-5">-->
<!--                        <div th:each="lead : ${leadListInWork}" class="card__lead">-->
<!--                            <div class="card__content__lead">-->

<!--                                &lt;!&ndash; элементы карточки - начало &ndash;&gt;-->
<!--                                <div class="card__content__phone">-->
<!--                                    <div class="card__title__lead" th:text="${lead.lidStatus}">Текущий статус Лида</div>-->
<!--                                </div>-->
<!--                                <div class="card__content__phone">-->
<!--                                    &lt;!&ndash; <div class="card__title__lead" th:text="${lead.telephoneLead}">Номер Лида</div> &ndash;&gt;-->
<!--                                    <form class="card__title__lead" th:method="get" target="_blank" th:action="'https://wa.me/' + ${lead.telephoneLead}">-->
<!--                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>-->
<!--                                        <button type="submit" class="card__text__lead-button card__title__lead" th:text="${lead.telephoneLead}">в архив</button>-->
<!--                                    </form>-->
<!--                                </div>-->
<!--                                <div class="card__content__city">-->
<!--                                    <div class="card__text__city__lead" th:text="${lead.createDate}">Дата создания Лида</div>-->
<!--                                    <div class="card__text__city__lead" th:text="${lead.cityLead}">Город Лида</div>-->
<!--                                </div>-->
<!--                                <div class="card__content__comments">-->
<!--                                    <div class="card__text__lead2" th:text="${lead.commentsLead}">Комментарий для лида</div>-->
<!--                                </div>-->
<!--                                <div class="card__content_button">-->
<!--                                    <form class="card__text__lead" th:method="post" th:action="'lead/status_send/' + ${lead.id}">-->
<!--                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>-->
<!--                                        <button type="submit" class="card__text__lead-button ">отправил</button>-->
<!--                                    </form>-->
<!--                                    <form class="card__text__lead" th:method="post" th:action="'lead/status_resend/' + ${lead.id}">-->
<!--                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>-->
<!--                                        <button type="submit" class="card__text__lead-button ">напомнил</button>-->
<!--                                    </form>-->
<!--                                    <form class="card__text__lead" th:method="post" th:action="'lead/status_archive/' + ${lead.id}">-->
<!--                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>-->
<!--                                        <button type="submit" class="card__text__lead-button ">в архив</button>-->
<!--                                    </form>-->
<!--                                    <form class="card__text__lead" th:method="post" th:action="'lead/status_lead_new/' + ${lead.id}">-->
<!--                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>-->
<!--                                        <button type="submit" class="card__text__lead-button ">Новыe</button>-->
<!--                                    </form>-->
<!--                                    &lt;!&ndash; элементы карточки - конец &ndash;&gt;-->
<!--                                </div> &lt;!&ndash; card__content_button &ndash;&gt;-->
<!--                            </div> &lt;!&ndash; card__content__lead &ndash;&gt;-->
<!--                            <form class="card__content__author" th:method="get" th:action="'lead/edit/' + ${lead.id}">-->
<!--                                <div class="card__link__lead" th:text="${lead.operator.user.fio != null ? lead.operator.user.fio : 'пусто'}">Имя Оператора</div>-->
<!--                                <input type="hidden" name="_csrf" value="${_csrf.token}"/>-->
<!--                                <button type="submit" class="card__link__lead__more card__link__lead">Подробнее</button>-->
<!--                            </form>-->
<!--                        </div> &lt;!&ndash; card &ndash;&gt;-->
<!--                    </div> &lt;!&ndash; tabs__content-item &ndash;&gt;-->
<!--                    &lt;!&ndash; СПИСОК КАРТОЧЕК 5 &ndash;&gt;-->



                </div> <!-- tabs__content -->
            </div> <!-- tabs -->
            <!--            <a href="#" class="showmore__link">Смотреть Еще</a>-->
        </div> <!-- container -->
    </section> <!-- section -->

        <!-- ====================== CHOOSE END =========================== -->
        <header th:replace="~{fragments/footer2 :: footer}"></header>
        </th:block> <!-- wrapper -->
        <th:block th:insert="~{fragments/common :: js_company}"></th:block>

    </body>
</html>