<th:block th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- ==================== FOOTER STRAT ====================== -->
    <div class="footer">
        <div class="container">
            <nav class="footer__menu">
                <ul class="footer_menu-list">
                    <!-- li.footer__menu-item*4>a.footer__menu-link[href="#"] -->
                    <li class="footer__menu-item"><p class="footer__menu-title">Продукты</p></li>
                    <li class="footer__menu-item"><a href="#" class="footer__menu-link">Поддержанные</a></li>
                    <li class="footer__menu-item"><a href="#" class="footer__menu-link">Новые</a></li>
                    <li class="footer__menu-item"><a href="#" class="footer__menu-link">Продать вашу машину</a></li></ul>
                <ul class="footer_menu-list">
                    <li class="footer__menu-item"><p class="footer__menu-title">Ресурсы</p></li>
                    <li class="footer__menu-item"><a href="#" class="footer__menu-link">Блог</a></li>
                    <li class="footer__menu-item"><a href="#" class="footer__menu-link">Инфо</a></li>
                    <li class="footer__menu-item"><a href="#" class="footer__menu-link">Контакты</a></li></ul>
                <ul class="footer_menu-list">
                    <li class="footer__menu-item"><p class="footer__menu-title">Работа с нами</p></li>
                    <li class="footer__menu-item"><a href="#" class="footer__menu-link">Доставка</a></li>
                    <li class="footer__menu-item"><a href="#" class="footer__menu-link">Партнеры</a></li></ul>
                <ul class="footer_menu-list">
                    <li class="footer__menu-item"><p class="footer__menu-title">О компании</p></li>
                    <li class="footer__menu-item"><a href="#" class="footer__menu-link">О нас</a></li>
                    <li class="footer__menu-item"><a href="#" class="footer__menu-link">Команда</a></li>
                    <li class="footer__menu-item"><a href="#" class="footer__menu-link">Вакансии</a></li></ul>
            </nav> <!-- footer__menu -->
            <ul class="app">
                <li class="app__item">
                    <a href="#" class="app__item-link">
                        <img class="app__item-img" th:src="@{/images/image/appStore.svg}" src= "../../static/images/image/appStore.svg" alt="">
                    </a>
                </li>
                <li class="app__item">
                    <a href="#" class="app__item-link">
                        <img class="app__item-img" th:src="@{/images/image/googlePlay.svg}" src="../../static/images/image/googlePlay.svg" alt="">
                    </a>
                </li>
            </ul> <!-- app -->
            <div class="footer__copy">
                <p class="footer__copy-text">
                    Немного не понял; я имел в виду, что оглавление можно вставлять в начало каждой статьи, как это давно успешно практикуют в цикле статей по OpenGL.
                </p>
                <p class="footer__copy-text">
                    «Право на ремонт» продолжает шагать по планете: батареи для телефонов в ЕС будут делать съёмными. И это далеко не все.
                </p>
            </div> <!-- footer__copy -->
            <nav class="copy__nav">
                <ul class="copy__nav-list">
                    <li class="copy__nav-item"><a href="#" class="copy__nav-link">Сервис</a></li>
                    <li class="copy__nav-item"><a href="#" class="copy__nav-link">Безопасность</a></li>
                    <li class="copy__nav-item"><a href="#" class="copy__nav-link">Не для продажи. Персональная информация</a></li>
                </ul>
            </nav> <!-- copy__nav -->
        </div> <!-- container -->
    </div> <!-- footer -->
    <!-- ==================== FOOTER END ======================== -->
</th:block>