<th:block th:fragment="content" xmlns:th="http://www.w3.org/1999/xhtml">

    <!-- ===================== CHOOSE START ========================== -->

    <!-- КНОПКИ ВЫБОРА РАЗДЕЛА СТАТУСОВ - НАЧАЛО -->
    <section class="company__lead__card">
        <div class="container">
            <h2 class="company__section-title">Лид кабинет</h2>
            <div class="company__tabs__lead">
                <!-- КНОПКИ ВЫБОРА РАЗДЕЛА СТАТУСОВ - НАЧАЛО -->
                <div class="tabs__btn__lead">
                    <button class="tabs__btn__lead-item tabs__btn__lead-item--active" data-button="content-1">Новые</button>
                    <button class="tabs__btn__lead-item" data-button="content-2">Отправленные</button>
                    <button class="tabs__btn__lead-item" data-button="content-3">Напоминание</button>
                    <button class="tabs__btn__lead-item" data-button="content-4">К расслыке</button>
                    <button class="tabs__btn__lead-item" data-button="content-5">В работе</button>
                    <button class="tabs__btn__lead-item" data-button="content-6">Все</button>
                    <a class="tabs__btn__lead__a-item" th:href="@{'/categories'}" data-button="content-7">Категории</a>
                    <a class="tabs__btn__lead__a-item" th:href="@{'/companies/new_company'}" data-button="content-8">Компании</a>
                </div>
                <!-- КНОПКИ ВЫБОРА РАЗДЕЛА СТАТУСОВ - КОНЕЦ -->

                <div class="tabs__content-lead">
                    <!-- КНОПКИ КОПИРОВАНИЯ ТЕКСТА - НАЧАЛО -->
                    <div class="card__remember">
                        <div class="card__remember__box">
                            <div class="card_remember-content">
                                <!-- The text field -->
                                <textarea class="card__remember-text" th:utext="${promoTexts[0]}" id="myInput1"></textarea>

                                <!-- The button used to copy the text -->
                                <button class="card_remember-content__btn" onclick="myFunction1()">предложение</button>
                            </div>
                            <div class="card_remember-content">
                                <!-- The text field -->
                                <textarea class="card__remember-text"th:utext="${promoTexts[1]}" id="myInput2"></textarea>

                                <!-- The button used to copy the text -->
                                <button class="card_remember-content__btn" onclick="myFunction2()">напоминание</button>
                            </div>
                            <div class="card_remember-content">
                                <!-- The text field -->
                                <textarea class="card__remember-text" th:utext="${promoTexts[2]}" id="myInput3"></textarea>

                                <!-- The button used to copy the text -->
                                <button class="card_remember-content__btn" onclick="myFunction3()">данные</button>
                            </div>
                            <div class="card_remember-content">
                                <!-- The text field -->
                                <textarea class="card__remember-text" th:utext="${promoTexts[3]}" id="myInput4"></textarea>

                                <!-- The button used to copy the text -->
                                <button class="card_remember-content__btn" onclick="myFunction4()">ответы</button>
                            </div>
                        </div>
                        <div class="card__remember__box-serch">
                            
                                <form class="card_remember-search" th:method="get" th:action="@{/lead}">
                                    <!-- The text field -->
                                    <input class="card_remember-search__text" type="text" value="" name="keyword" id="keyword">
                                    <!-- The button used to copy the text -->
                                    <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                    <button type="submit" class="card_remember-search__btn">Найти</button>
                                </form>
                        </div>
                        
                    </div>
                    <!-- КНОПКИ КОПИРОВАНИЯ ТЕКСТА - КОНЕЦ -->
                    
                    
    
                    <!-- СПИСОК КАРТОЧЕК 1 НОВЫЕ-->
                    <div class="tabs__content__lead-item tabs__content__lead-item--active" id="content-1">
                        
                        
                        <div th:each="lead : ${leadListNew}" class="card__lead">
                            <div class="card__content__lead">

                                <!-- элементы карточки - начало -->
                                <div class="card__content__phone">
                                    <div class="card__title__lead" th:text="${lead.lidStatus}">Текущий статус Лида</div>
                                </div>
                                <div class="company__card__content__phone">
                                    <form class="company__card__title__lead" th:method="get" target="_blank" th:action="'https://wa.me/' + ${lead.telephoneLead}">
                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                        <button type="submit" class="company__card__text__lead-button" th:text="${lead.telephoneLead}">телефон лида</button>
                                    </form>
                                </div>
                                <div class="card__content__city">
                                         <div class="card__text__city__lead" th:text="${lead.createDate}">Дата создания Лида</div>
                                        <div class="card__text__city__lead" th:text="${lead.cityLead}">Город Лида</div>
                                </div>
                                <div class="card__content__comments">
                                    <div class="card__text__lead2" th:text="${lead.commentsLead}">Комментарий для лида</div>
                                </div>
                                <div class="card__content_button">
                                    <form class="card__text__lead" th:method="post" th:action="'lead/status_send/' + ${lead.id}">
                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                        <button type="submit" class="card__text__lead-button ">отправил</button>
                                    </form>
                                    <form class="card__text__lead" th:method="post" th:action="'lead/status_resend/' + ${lead.id}">
                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                        <button type="submit" class="card__text__lead-button ">напомнил</button>
                                    </form>
                                    <form class="card__text__lead" th:method="post" th:action="'lead/status_archive/' + ${lead.id}">
                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                        <button type="submit" class="card__text__lead-button ">в архив</button>
                                    </form>
                                    <form class="card__text__lead" th:method="get" th:action="'companies/new_company_to_manager/' + ${lead.id}">
                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                        <button type="submit" class="card__text__lead-button ">в работу</button>
                                    </form>

                                    <!-- элементы карточки - конец -->
                                </div> <!-- card__content_button -->
                            </div> <!-- card__content__lead -->
                            <form class="card__content__author" th:method="get" th:action="'lead/edit/' + ${lead.id}">
                                <div class="card__link__lead" th:text="${lead.operator.user.fio != null ? lead.operator.user.fio : 'пусто'}">Имя Оператора</div>
                                <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                <button type="submit" class="card__link__lead__more card__link__lead">Подробнее</button>
                            </form>
                        </div> <!-- card -->
                        <!-- Добавление блока пагинации -->
                        
                    </div> <!-- tabs__content-item -->
                    <!-- СПИСОК КАРТОЧЕК 1 -->
                    
                        <div class="tabs__content__lead-item2 tabs__content__lead-item--active" id="pagination-1">
                            <ul class="pagination">
                                <li th:class="${leadListNew.first ? 'disabled' : ''}" class="page-item">
                                    <a th:href="@{/lead(pageNumber=${leadListNew.number - 1})}" class="page-link">Предыдущая</a>
                                </li>
                                <li th:if="${leadListNew.totalPages != null && leadListNew.totalPages > 0}" th:each="i : ${#numbers.sequence(0, leadListNew.totalPages - 1)}"
                                    th:class="${leadListNew.number == i ? 'active' : ''}" class="page-item">
                                    <a th:href="@{/lead(pageNumber=${i})}" class="page-link" th:text="${i}">1</a>
                                </li>
                                <li th:class="${leadListNew.last ? 'disabled' : ''}" class="page-item">
                                    <a th:href="@{/lead(pageNumber=${leadListNew.number + 1})}" class="page-link">Следующая</a>
                                </li>
                            </ul>
                        </div>
                    

                    <!-- СПИСОК КАРТОЧЕК 2  ОТПРАВЛЕННЫЕ-->
                    <div class="tabs__content__lead-item" id="content-2">
                        <div th:each="lead : ${leadListSend}" class="card__lead">
                            <div class="card__content__lead">

                                <!-- элементы карточки - начало -->
                                <div class="card__content__phone">
                                    <div class="card__title__lead" th:text="${lead.lidStatus}">Текущий статус Лида</div>
                                </div>
                                <div class="company__card__content__phone">
                                    <form class="company__card__title__lead" th:method="get" target="_blank" th:action="'https://wa.me/' + ${lead.telephoneLead}">
                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                        <button type="submit" class="company__card__text__lead-button " th:text="${lead.telephoneLead}">телефон лида</button>
                                    </form>
                                </div>
                                <div class="card__content__city">
                                         <div class="card__text__city__lead" th:text="${lead.dateNewTry}">Дата смены статуса Лида</div>
                                        <div class="card__text__city__lead" th:text="${lead.cityLead}">Город Лида</div>
                                </div>
                                <div class="card__content__comments">
                                    <div class="card__text__lead2" th:text="${lead.commentsLead}">Комментарий для лида</div>
                                </div>
                                <div class="card__content_button">
                                    <form class="card__text__lead" th:method="post" th:action="'lead/status_send/' + ${lead.id}">
                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                        <button type="submit" class="card__text__lead-button ">отправил</button>
                                    </form>
                                    <form class="card__text__lead" th:method="post" th:action="'lead/status_resend/' + ${lead.id}">
                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                        <button type="submit" class="card__text__lead-button ">напомнил</button>
                                    </form>
                                    <form class="card__text__lead" th:method="post" th:action="'lead/status_archive/' + ${lead.id}">
                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                        <button type="submit" class="card__text__lead-button ">в архив</button>
                                    </form>
                                    <form class="card__text__lead" th:method="post" th:action="'companies/new_company_to_manager/' + ${lead.id}">
                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                        <button type="submit" class="card__text__lead-button ">в работу</button>
                                    </form>
                                    <!-- элементы карточки - конец -->
                                </div> <!-- card__content_button -->
                            </div> <!-- card__content__lead -->
                            <form class="card__content__author" th:method="get" th:action="'lead/edit/' + ${lead.id}">
                                <div class="card__link__lead" th:text="${lead.operator.user.fio != null ? lead.operator.user.fio : 'пусто'}">Имя Оператора</div>
                                <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                <button type="submit" class="card__link__lead__more card__link__lead">Подробнее</button>
                            </form>
                        </div> <!-- card -->
                        
                    </div> <!-- tabs__content-item -->
                    <div class="tabs__content__lead-item2 tabs__content__lead-item--active" id="pagination-2">
                        <ul class="pagination">
                            <li th:class="${leadListSend.first ? 'disabled' : ''}" class="page-item">
                                <a th:href="@{/lead(pageNumber=${leadListSend.number - 1})}" class="page-link">Предыдущая</a>
                            </li>
                            <li th:if="${leadListSend.totalPages != null && leadListSend.totalPages > 0}" th:each="i : ${#numbers.sequence(0, leadListSend.totalPages - 1)}"
                                th:class="${leadListSend.number == i ? 'active' : ''}" class="page-item">
                                <a th:href="@{/lead(pageNumber=${i})}" class="page-link" th:text="${i}">1</a>
                            </li>
                            <li th:class="${leadListSend.last ? 'disabled' : ''}" class="page-item">
                                <a th:href="@{/lead(pageNumber=${leadListSend.number + 1})}" class="page-link">Следующая</a>
                            </li>
                        </ul>
                    </div>
                    <!-- СПИСОК КАРТОЧЕК 2 -->

                    <!-- СПИСОК КАРТОЧЕК 3 С НАПОМИНАНИЕМ-->
                    <div class="tabs__content__lead-item" id="content-3">
                        <div th:each="lead : ${leadListReSend}" class="card__lead">
                            <div class="card__content__lead">

                                <!-- элементы карточки - начало -->
                                <div class="card__content__phone">
                                    <div class="card__title__lead" th:text="${lead.lidStatus}">Текущий статус Лида</div>
                                </div>
                                <div class="company__card__content__phone">
                                    <form class="company__card__title__lead" th:method="get" target="_blank" th:action="'https://wa.me/' + ${lead.telephoneLead}">
                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                        <button type="submit" class="company__card__text__lead-button " th:text="${lead.telephoneLead}">телефон лида</button>
                                    </form>
                                </div>
                                <div class="card__content__city">
                                         <div class="card__text__city__lead" th:text="${lead.dateNewTry}">Дата смены статуса Лида</div>
                                        <div class="card__text__city__lead" th:text="${lead.cityLead}">Город Лида</div>
                                </div>
                                <div class="card__content__comments">
                                    <div class="card__text__lead2" th:text="${lead.commentsLead}">Комментарий для лида</div>
                                </div>
                                <div class="card__content_button">
                                    <form class="card__text__lead" th:method="post" th:action="'lead/status_send/' + ${lead.id}">
                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                        <button type="submit" class="card__text__lead-button ">отправил</button>
                                    </form>
                                    <form class="card__text__lead" th:method="post" th:action="'lead/status_resend/' + ${lead.id}">
                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                        <button type="submit" class="card__text__lead-button ">напомнил</button>
                                    </form>
                                    <form class="card__text__lead" th:method="post" th:action="'lead/status_archive/' + ${lead.id}">
                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                        <button type="submit" class="card__text__lead-button ">в архив</button>
                                    </form>
                                    <form class="card__text__lead" th:method="post" th:action="'companies/new_company_to_manager/' + ${lead.id}">
                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                        <button type="submit" class="card__text__lead-button ">в работу</button>
                                    </form>
                                    <!-- элементы карточки - конец -->
                                </div> <!-- card__content_button -->
                            </div> <!-- card__content__lead -->
                            <form class="card__content__author" th:method="get" th:action="'lead/edit/' + ${lead.id}">
                                <div class="card__link__lead" th:text="${lead.operator.user.fio != null ? lead.operator.user.fio : 'пусто'}">Имя Оператора</div>
                                <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                <button type="submit" class="card__link__lead__more card__link__lead">Подробнее</button>
                            </form>
                        </div> <!-- card -->
                        
                    </div> <!-- tabs__content-item -->
                    <!-- СПИСОК КАРТОЧЕК 3 -->
                    <div class="tabs__content__lead-item2 tabs__content__lead-item--active" id="pagination-3">
                        <ul class="pagination">
                            <li th:class="${leadListReSend.first ? 'disabled' : ''}" class="page-item">
                                <a th:href="@{/lead(pageNumber=${leadListReSend.number - 1})}" class="page-link">Предыдущая</a>
                            </li>
                            <li th:if="${leadListReSend.totalPages != null && leadListReSend.totalPages > 0}" th:each="i : ${#numbers.sequence(0, leadListReSend.totalPages - 1)}"
                                th:class="${leadListReSend.number == i ? 'active' : ''}" class="page-item">
                                <a th:href="@{/lead(pageNumber=${i})}" class="page-link" th:text="${i}">1</a>
                            </li>
                            <li th:class="${leadListReSend.last ? 'disabled' : ''}" class="page-item">
                                <a th:href="@{/lead(pageNumber=${leadListReSend.number + 1})}" class="page-link">Следующая</a>
                            </li>
                        </ul>
                    </div>

                    <!-- СПИСОК КАРТОЧЕК 4 В АРХИВ-->
                    <div class="tabs__content__lead-item" id="content-4">
                        <div th:each="lead : ${leadListArchive}" class="card__lead">
                            <div class="card__content__lead">

                                <!-- элементы карточки - начало -->
                                <div class="card__content__phone">
                                    <div class="card__title__lead" th:text="${lead.lidStatus}">Текущий статус Лида</div>
                                </div>
                                <div class="company__card__content__phone">
                                    <form class="company__card__title__lead" th:method="get" target="_blank" th:action="'https://wa.me/' + ${lead.telephoneLead}">
                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                        <button type="submit" class="company__card__text__lead-button " th:text="${lead.telephoneLead}">телефон лида</button>
                                    </form>
                                </div>
                                <div class="card__content__city">
                                         <div class="card__text__city__lead" th:text="${lead.dateNewTry}">Дата смены статуса Лида</div>
                                        <div class="card__text__city__lead" th:text="${lead.cityLead}">Город Лида</div>
                                </div>
                                <div class="card__content__comments">
                                    <div class="card__text__lead2" th:text="${lead.commentsLead}">Комментарий для лида</div>
                                </div>
                                <div class="card__content_button">
                                    <form class="card__text__lead" th:method="post" th:action="'lead/status_send/' + ${lead.id}">
                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                        <button type="submit" class="card__text__lead-button ">отправил</button>
                                    </form>
                                    <form class="card__text__lead" th:method="post" th:action="'lead/status_resend/' + ${lead.id}">
                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                        <button type="submit" class="card__text__lead-button ">напомнил</button>
                                    </form>
                                    <form class="card__text__lead" th:method="post" th:action="'lead/status_archive/' + ${lead.id}">
                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                        <button type="submit" class="card__text__lead-button ">в архив</button>
                                    </form>
                                    <form class="card__text__lead" th:method="get" th:action="'companies/new_company_to_manager/' + ${lead.id}">
                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                        <button type="submit" class="card__text__lead-button ">в работу</button>
                                    </form>

<!--                                    <form class="card__text__lead" th:method="post" th:action="'lead/status_in_work/' + ${lead.id}">-->
<!--                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>-->
<!--                                        <button type="submit" class="card__text__lead-button ">в работу</button>-->
<!--                                    </form>-->


                                    <!-- элементы карточки - конец -->
                                </div> <!-- card__content_button -->
                            </div> <!-- card__content__lead -->
                            <form class="card__content__author" th:method="get" th:action="'lead/edit/' + ${lead.id}">
                                <div class="card__link__lead" th:text="${lead.operator.user.fio != null ? lead.operator.user.fio : 'пусто'}">Имя Оператора</div>
                                <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                <button type="submit" class="card__link__lead__more card__link__lead">Подробнее</button>
                            </form>
                        </div> <!-- card -->
                    </div> <!-- tabs__content-item -->
                    <div class="tabs__content__lead-item2 tabs__content__lead-item--active" id="pagination-4">
                        <ul class="pagination">
                            <li th:class="${leadListArchive.first ? 'disabled' : ''}" class="page-item">
                                <a th:href="@{/lead(pageNumber=${leadListArchive.number - 1})}" class="page-link">Предыдущая</a>
                            </li>
                            <li th:if="${leadListArchive.totalPages != null && leadListArchive.totalPages > 0}" th:each="i : ${#numbers.sequence(0, leadListArchive.totalPages - 1)}"
                                th:class="${leadListArchive.number == i ? 'active' : ''}" class="page-item">
                                <a th:href="@{/lead(pageNumber=${i})}" class="page-link" th:text="${i}">1</a>
                            </li>
                            <li th:class="${leadListArchive.last ? 'disabled' : ''}" class="page-item">
                                <a th:href="@{/lead(pageNumber=${leadListArchive.number + 1})}" class="page-link">Следующая</a>
                            </li>
                        </ul>
                    </div>
                    <!-- СПИСОК КАРТОЧЕК 4 -->

                    <!-- СПИСОК КАРТОЧЕК 5 -->
                    <div class="tabs__content__lead-item" id="content-5">
                        <div th:each="lead : ${leadListInWork}" class="card__lead">
                            <div class="card__content__lead">

                                <!-- элементы карточки - начало -->
                                <div class="card__content__phone">
                                    <div class="card__title__lead" th:text="${lead.lidStatus}">Текущий статус Лида</div>
                                </div>
                                <div class="company__card__content__phone">
                                    <form class="company__card__title__lead" th:method="get" target="_blank" th:action="'https://wa.me/' + ${lead.telephoneLead}">
                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                        <button type="submit" class="company__card__text__lead-button " th:text="${lead.telephoneLead}">телефон лида</button>
                                    </form>
                                </div>
                                <div class="card__content__city">
                                         <div class="card__text__city__lead" th:text="${lead.createDate}">Дата создания Лида</div>
                                        <div class="card__text__city__lead" th:text="${lead.cityLead}">Город Лида</div>
                                </div>
                                <div class="card__content__comments">
                                    <div class="card__text__lead2" th:text="${lead.commentsLead}">Комментарий для лида</div>
                                </div>
                                <div class="card__content_button">
                                    <form class="card__text__lead" th:method="post" th:action="'lead/status_send/' + ${lead.id}">
                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                        <button type="submit" class="card__text__lead-button ">отправил</button>
                                    </form>
                                    <form class="card__text__lead" th:method="post" th:action="'lead/status_resend/' + ${lead.id}">
                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                        <button type="submit" class="card__text__lead-button ">напомнил</button>
                                    </form>
                                    <form class="card__text__lead" th:method="post" th:action="'lead/status_archive/' + ${lead.id}">
                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                        <button type="submit" class="card__text__lead-button ">в архив</button>
                                    </form>
                                    <form class="card__text__lead" th:method="post" th:action="'lead/status_lead_new/' + ${lead.id}">
                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                        <button type="submit" class="card__text__lead-button ">Новыe</button>
                                    </form>
                                    <!-- элементы карточки - конец -->
                                </div> <!-- card__content_button -->
                            </div> <!-- card__content__lead -->
                            <form class="card__content__author" th:method="get" th:action="'lead/edit/' + ${lead.id}">
                                <div class="card__link__lead" th:text="${lead.operator.user.fio != null ? lead.operator.user.fio : 'пусто'}">Имя Оператора</div>
                                <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                <button type="submit" class="card__link__lead__more card__link__lead">Подробнее</button>
                            </form>
                        </div> <!-- card -->
                    </div> <!-- tabs__content-item -->
                    <div class="tabs__content__lead-item2 tabs__content__lead-item--active" id="pagination-5">
                        <ul class="pagination">
                            <li th:class="${leadListInWork.first ? 'disabled' : ''}" class="page-item">
                                <a th:href="@{/lead(pageNumber=${leadListInWork.number - 1})}" class="page-link">Предыдущая</a>
                            </li>
                            <li th:if="${leadListInWork.totalPages != null && leadListInWork.totalPages > 0}" th:each="i : ${#numbers.sequence(0, leadListInWork.totalPages - 1)}"
                                th:class="${leadListInWork.number == i ? 'active' : ''}" class="page-item">
                                <a th:href="@{/lead(pageNumber=${i})}" class="page-link" th:text="${i}">1</a>
                            </li>
                            <li th:class="${leadListInWork.last ? 'disabled' : ''}" class="page-item">
                                <a th:href="@{/lead(pageNumber=${leadListInWork.number + 1})}" class="page-link">Следующая</a>
                            </li>
                        </ul>
                    </div>
                    <!-- СПИСОК КАРТОЧЕК 5 -->

                    <!-- СПИСОК КАРТОЧЕК 6 -->
                    <div class="tabs__content__lead-item" id="content-6">
                        <div th:each="lead : ${leadListALL}" class="card__lead">
                            <div class="card__content__lead">

                                <!-- элементы карточки - начало -->
                                <div class="card__content__phone">
                                    <div class="card__title__lead" th:text="${lead.lidStatus}">Текущий статус Лида</div>
                                </div>
                                <div class="company__card__content__phone">
                                    <form class="company__card__title__lead" th:method="get" target="_blank" th:action="'https://wa.me/' + ${lead.telephoneLead}">
                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                        <button type="submit" class="company__card__text__lead-button" th:text="${lead.telephoneLead}">телефон лида</button>
                                    </form>
                                </div>
                                <div class="card__content__city">
                                         <div class="card__text__city__lead" th:text="${lead.createDate}">Дата создания Лида</div>
                                        <div class="card__text__city__lead" th:text="${lead.cityLead}">Город Лида</div>
                                </div>
                                <div class="card__content__comments">
                                    <div class="card__text__lead2" th:text="${lead.commentsLead}">Комментарий для лида</div>
                                </div>
                                <div class="card__content_button">
                                    <form class="card__text__lead" th:method="post" th:action="'lead/status_send/' + ${lead.id}">
                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                        <button type="submit" class="card__text__lead-button ">отправил</button>
                                    </form>
                                    <form class="card__text__lead" th:method="post" th:action="'lead/status_resend/' + ${lead.id}">
                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                        <button type="submit" class="card__text__lead-button ">напомнил</button>
                                    </form>
                                    <form class="card__text__lead" th:method="post" th:action="'lead/status_archive/' + ${lead.id}">
                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                        <button type="submit" class="card__text__lead-button ">в архив</button>
                                    </form>
                                    <form class="card__text__lead" th:method="post" th:action="'lead/status_lead_new/' + ${lead.id}">
                                        <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                        <button type="submit" class="card__text__lead-button ">Новыe</button>
                                    </form>
                                    <!-- элементы карточки - конец -->
                                </div> <!-- card__content_button -->
                            </div> <!-- card__content__lead -->
                            <form class="card__content__author" th:method="get" th:action="'lead/edit/' + ${lead.id}">
                                <div class="card__link__lead" th:text="${lead.operator.user.fio != null ? lead.operator.user.fio : 'пусто'}">Имя Оператора</div>
                                <input type="hidden" name="_csrf" value="${_csrf.token}"/>
                                <button type="submit" class="card__link__lead__more card__link__lead">Подробнее</button>
                            </form>
                        </div> <!-- card -->
                    </div> <!-- tabs__content-item -->
                    <div class="tabs__content__lead-item2 tabs__content__lead-item--active" id="pagination-6">
                        <ul class="pagination">
                            <li th:class="${leadListALL.first ? 'disabled' : ''}" class="page-item">
                                <a th:href="@{/lead(pageNumber=${leadListALL.number - 1})}" class="page-link">Предыдущая</a>
                            </li>
                            <li th:if="${leadListALL.totalPages != null && leadListALL.totalPages > 0}" th:each="i : ${#numbers.sequence(0, leadListALL.totalPages - 1)}"
                                th:class="${leadListALL.number == i ? 'active' : ''}" class="page-item">
                                <a th:href="@{/lead(pageNumber=${i})}" class="page-link" th:text="${i}">1</a>
                            </li>
                            <li th:class="${leadListALL.last ? 'disabled' : ''}" class="page-item">
                                <a th:href="@{/lead(pageNumber=${leadListALL.number + 1})}" class="page-link">Следующая</a>
                            </li>
                        </ul>
                    </div>
                    <!-- СПИСОК КАРТОЧЕК 6 -->
                    


                </div> <!-- tabs__content -->
            </div> <!-- tabs -->
<!--            <a href="#" class="showmore__link">Смотреть Еще</a>-->
                        
        </div> <!-- container -->
    </section> <!-- section -->

    <!-- ====================== CHOOSE END =========================== -->
    
</th:block>
