<th:block th:fragment="content" xmlns:th="http://www.w3.org/1999/xhtml">

    <!-- ===================== CHOOSE START ========================== -->


    <!-- КНОПКИ ВЫБОРА РАЗДЕЛА СТАТУСОВ - НАЧАЛО -->
    <section class="company__lead__card">
        <div class="container">
            <h2 class="company__section-title">Оператор</h2>

            <div class="menu-container">
                <button class="menu-toggle" onclick="toggleMenu()">Меню</button>
                <div class="menu-content" id="menu">


                    <div class="company__tabs__lead">
                        <!-- КНОПКИ ВЫБОРА РАЗДЕЛА СТАТУСОВ - НАЧАЛО -->
                        <div class="tabs__btn__lead">
                            <button class="tabs__btn__lead-item tabs__btn__lead-item--active" data-button="content-1">Отправить</button>
                        </div>
                        <!-- КНОПКИ ВЫБОРА РАЗДЕЛА СТАТУСОВ - КОНЕЦ -->

                        <div class="tabs__content-lead">
                            <!-- КНОПКИ КОПИРОВАНИЯ ТЕКСТА - НАЧАЛО -->
                            <div class="card__remember">
                                <div class="card__remember__box">
                                    <div class="card_remember-content">
                                        <!-- The text field -->
                                        <textarea class="card__remember-text" th:utext="${promoTexts[0]}" id="myInput1"></textarea>

                                        <!-- The button used to copy the text -->
                                        <button class="card_remember-content__btn" onclick="myFunction1()">предложение</button>
                                    </div>
                                    <div class="card_remember-content">
                                        <!-- The text field -->
                                        <textarea class="card__remember-text"th:utext="${promoTexts[1]}" id="myInput2"></textarea>

                                        <!-- The button used to copy the text -->
                                        <button class="card_remember-content__btn" onclick="myFunction2()">напоминание</button>
                                    </div>
                                    <div class="card_remember-content">
                                        <!-- The text field -->
                                        <textarea class="card__remember-text" th:utext="${promoTexts[2]}" id="myInput3"></textarea>

                                        <!-- The button used to copy the text -->
                                        <button class="card_remember-content__btn" onclick="myFunction3()">данные</button>
                                    </div>
                                    <div class="card_remember-content">
                                        <!-- The text field -->
                                        <textarea class="card__remember-text" th:utext="${promoTexts[3]}" id="myInput4"></textarea>

                                        <!-- The button used to copy the text -->
                                        <button class="card_remember-content__btn" onclick="myFunction4()">ответы</button>
                                    </div>
                                </div>
                                <div class="card__remember__box-serch">

                                        <form class="card_remember-search" th:method="get" th:action="@{/lead}">
                                            <!-- The text field -->
                                            <input class="card_remember-search__text" type="text" value="" name="keyword" id="keyword">
                                            <!-- The button used to copy the text -->
                                            <button type="submit" class="card_remember-search__btn">Найти</button>
                                        </form>
                                </div>

                            </div>
                            <!-- КНОПКИ КОПИРОВАНИЯ ТЕКСТА - КОНЕЦ -->
                        </div>
                    </div>
                </div>



                    <!-- СПИСОК КАРТОЧЕК 1 НОВЫЕ-->
                    <div class="tabs__content__lead-item tabs__content__lead-item--active" id="content-1">
                        <div th:each="lead : ${leadListNew}" class="card__lead">
                            <div class="card__content__lead">

                                <!-- элементы карточки - начало -->
                                <div class="card__content__phone">
                                    <div class="card__title__lead" th:text="${lead.lidStatus}">Текущий статус Лида</div>
                                </div>
                                <div class="company__card__content__phone">
                                    <form class="company__card__title__lead" th:method="get" target="_blank" th:action="'https://wa.me/' + ${lead.telephoneLead}">
                                        <input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}">
                                        <button type="submit" class="company__card__text__lead-button" th:text="${lead.telephoneLead}">телефон лида</button>
                                    </form>
                                    <button type="submit" class="company__telephone__button__tel" th:text="T" th:attr="data-ordertel=${lead.telephoneLead}" onclick="copyTelephone(this)">Телефон</button>
                                </div>
                                <div class="card__content__city">
                                         <div class="card__text__city__lead" th:text="${lead.createDate}">Дата создания Лида</div>
                                        <div class="card__text__city__lead" th:text="${lead.cityLead}">Город Лида</div>
                                </div>
                                <div class="card__content__comments">
                                    <div class="card__text__lead2" th:text="${lead.commentsLead}">Комментарий для лида</div>
                                </div>
                                <div class="card__content_button">
                                    <form class="card__text__lead" th:method="post" th:action="'lead/status_send/' + ${lead.id}">
                                        <input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}">
                                        <button type="submit" class="card__text__lead-button ">отправил</button>
                                    </form>

                                    <form class="card__text__lead" th:method="get" th:action="'companies/new_company_to_manager/' + ${lead.id}">
                                        <input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}">
                                        <button type="submit" class="card__text__lead-button ">в работу</button>
                                    </form>
                                    <!-- элементы карточки - конец -->
                                </div> <!-- card__content_button -->
                            </div> <!-- card__content__lead -->

                            <form class="card__content__author" th:method="get" th:action="'lead/edit/' + ${lead.id}">
                                <div class="card__link__lead" th:text="${lead.operator.user.fio != null ? lead.operator.user.fio : 'пусто'}">Имя Оператора</div>
                                <button type="submit" class="card__link__lead__more card__link__lead">Подробнее</button>
                            </form>
                        </div> <!-- card -->
                        <!-- Добавление блока пагинации -->

                    </div> <!-- tabs__content-item -->
                    <!-- СПИСОК КАРТОЧЕК 1 -->

                        <div class="tabs__content__lead-item1" id="pagination-1">
                            <ul class="pagination">
                                <li th:class="'page-item' + (${leadListNew.first} ? ' disabled' : '')">
                                    <a th:href="@{/operators(pageNumber=${leadListNew.number - 1})}" class="page-link">Предыдущая</a>
                                </li>
                                <li th:if="${leadListNew.totalPages != null and leadListNew.totalPages > 0}"
                                    th:each="i : ${#numbers.sequence(0, leadListNew.totalPages - 1)}"
                                    th:class="'page-item' + (${leadListNew.number == i} ? ' active' : '')">
                                    <a th:href="@{/operators(pageNumber=${i})}" class="page-link" th:text="${i}">1</a>
                                </li>
                                <li th:class="'page-item' + (${leadListNew.last} ? ' disabled' : '')">
                                    <a th:href="@{/operators(pageNumber=${leadListNew.number + 1})}" class="page-link">Следующая</a>
                                </li>
                            </ul>
                        </div>

                </div> <!-- tabs__content -->
        </div> <!-- container -->
    </section> <!-- section -->

    <!-- Модалка для ID телефона -->
    <div id="phoneModal" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.5); z-index:9999;">
        <div style="background:white; width:300px; padding:20px; margin:150px auto; border-radius:8px; text-align:center;">
            <h3>Введите ID телефона</h3>
            <input type="number" id="telephoneId" placeholder="например, 123" style="width: 90%; padding: 5px;" />
            <br><br>
            <button onclick="submitTelephoneId()">Продолжить</button>
            <p id="error" style="color:red;"></p>
        </div>
    </div>



    <script th:inline="javascript">
        let requireDeviceId = [[${requireDeviceId}]];
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            if (requireDeviceId) {
                showModal();
            }

        });

        function showModal() {
            document.getElementById("phoneModal").style.display = "block";
        }

        function hideModal() {
            document.getElementById("phoneModal").style.display = "none";
        }

        function submitTelephoneId() {
            const id = document.getElementById("telephoneId").value;
            const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute("content");
            const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute("content");

            fetch(`/telephone/device-token?telephoneId=${id}`, {
                method: "POST",
                headers: {
                    [csrfHeader]: csrfToken
                }
            }).then(res => {
                if (res.ok) {
                    hideModal();
                    location.reload(); // после reload сервер уже видит куку
                } else {
                    document.getElementById("error").innerText = "Ошибка: неверный ID";
                }
            });
        }
    </script>




    <!-- ====================== CHOOSE END =========================== -->

</th:block>
