<section th:fragment="analyse" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <h1>Аналитика</h1>
        <!-- Аналитика -->
        <div class="analyse">
            <div class="sales">
                <div class="status">
                    <div class="info" th:object="${worker1}">
                        <h3>Сумма продаж</h3>
                        <h1 th:text="'$ ' + ${worker1.sum1Day}">$ 550,024</h1>
                    </div>
                    <div class="progresss">
                        <svg>
                            <circle cx="38" cy="38" r="36"></circle>
                        </svg>
                        <div class="percentage">
                            <p>+81%</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="visits">
                <div class="status">
                    <div class="info">
                        <h3>Просмотр страниц</h3>
                        <h1 th:text="'$ ' + ${worker1.sum1Week}">24,981</h1>
                    </div>
                    <div class="progresss">
                        <svg>
                            <circle cx="38" cy="38" r="36"></circle>
                        </svg>
                        <div class="percentage">
                            <p>-48%</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="searches">
                <div class="status">
                    <div class="info">
                        <h3>Количество поисков</h3>
                        <h1 th:text="'$ ' + ${worker1.sum1Month}">$ 3,115</h1>
                    </div>
                    <div class="progresss">
                        <svg>
                            <circle cx="38" cy="38" r="36"></circle>
                        </svg>
                        <div class="percentage">
                            <p>+21%</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sales">
                <div class="status">
                    <div class="info">
                        <h3>Сумма продаж</h3>
                        <h1 th:text="'$ ' + ${worker1.sum1Year}">$ 550,024</h1>
                    </div>
                    <div class="progresss">
                        <svg>
                            <circle cx="38" cy="38" r="36"></circle>
                        </svg>
                        <div class="percentage">
                            <p>+81%</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Аналитика -->
</section>