<section th:fragment="right-section" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <!-- Правая секция -->
    <div class="right-section">
        <!-- Профиль -->
        <div class="nav_right">
            <button id="menu-btn">
                <span class="material-icons-sharp">
                    menu
                </span>
            </button>
            <div class="dark-mode">
                <span class="material-icons-sharp active">
                    light_mode
                </span>
                <span class="material-icons-sharp">
                    dark_mode
                </span>
            </div>

            <div class="profile">
                <div class="info">
                    <p>Привет, <b th:text="${user.username}">Работник</b></p>
                    <small class="text-muted" th:text="${user.role}">Admin</small>
                </div>
                <div class="profile-photo">
                    <img th:src="@{/images/{id}(id=${user.image})}"  alt="">
                </div>
            </div>
        </div>
        <!-- Профиль -->
        <div class="user-profile">
            <div class="logo">
                <!-- <img th:src="@{/images/{id}(id=${manager.imageId})}" > -->
                <img th:src="@{/images/{id}(id=${user.image})}"  alt="">
                <h2>Компания О!</h2>
                <p>Повышение репутации</p>
            </div>
        </div>
        <!-- Профиль -->

        <!-- Напоминания -->
        <div class="reminders">
            <div class="headers">
                <h2>Напоминания</h2>
                <span class="material-icons-sharp">
                    notifications_none
                </span>
            </div>

            <div class="notification">
                <div class="icon">
                    <span class="material-icons-sharp">volume_up</span>
                </div>
                <div class="content">
                    <div class="info">
                        <h3>Магазин</h3>
                        <small class="text_muted">08:00 AM - 12:00 PM</small>
                    </div>
                    <span class="material-icons-sharp">more_vert</span>
                </div>
            </div>

            <div class="notification deactive">
                <div class="icon">
                    <span class="material-icons-sharp">edit</span>
                </div>
                <div class="content">
                    <div class="info">
                        <h3>Выберите месяц</h3>
                        <!-- <small class="text_muted">08:00 AM - 12:00 PM</small> -->
                        <form id="myForm" method="post">
                            <input class="data" type="date" name="date" id="dataToday">
                            <input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}">
                            <button  type="submit" class="data2">выбрать</button>
                        </form>
                    </div>
                    <span class="material-icons-sharp">more_vert</span>
                </div>
            </div>
            <a href="/" class="notification add-reminder">
                <div>
                    <span class="material-icons-sharp">logout</span>
                    <h3>На главную</h3>
                </div>
            </a>

            
        </div><!-- Напоминания -->
    </div><!-- Правая секция -->
</section>