<section th:fragment="side_bar" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <!-- Слайдер бар - Начало -->
    <aside>
        <a th:href="@{/}" class="toggle">
            <div class="logo">
            <img th:src="@{/images/image/logo.png}"  alt="">


            <h2>Компания<span class="danger">О!</span></h2>
            </div>
            <div class="close" id="close-btn">
                <span class="material-icons-sharp">close</span>
            </div>
        </a>

        <div class="sidebar">
            <a  href="#" onclick="changeActive(event)">
                <span class="material-icons-sharp">dashboard</span>
                <h3>Панель управления</h3>
            </a>
            <a href="#" onclick="changeActive(event)" class="active">
                <span class="material-icons-sharp">person_outline</span>
                <h3>Юзеры</h3>
            </a>
            <a href="#" onclick="changeActive(event)">
                <span class="material-icons-sharp">receipt_long</span>
                <h3>История</h3>
            </a>
            <a href="#" onclick="changeActive(event)">
                <span class="material-icons-sharp">insights</span>
                <h3>Аналитика</h3>
            </a>
            <a href="#" onclick="changeActive(event)">
                <span class="material-icons-sharp">mail_outline</span>
                <h3>Билеты</h3>
                <span class="message-count">27</span>
            </a>
            <a href="#" onclick="changeActive(event)">
                <span class="material-icons-sharp">inventory</span>
                <h3>Продажи</h3>
            </a>
            <a href="#" onclick="changeActive(event)">
                <span class="material-icons-sharp">report_gmailerrorred</span>
                <h3>Отчеты</h3>
            </a>
            <a href="#" onclick="changeActive(event)">
                <span class="material-icons-sharp">settings</span>
                <h3>Настройки</h3>
            </a>
            <a href="#" onclick="changeActive(event)">
                <span class="material-icons-sharp">add</span>
                <h3>Добавить</h3>
            </a>
            <a href="#" onclick="changeActive(event)">
                <span class="material-icons-sharp">logout</span>
                <h3>Выйти</h3>
            </a>
        </div>
    </aside>
    <!-- Слайдер бар - Конец -->
</section>