<section th:fragment="user-zp" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <h1>Аналитика</h1>
        <!-- Аналитика -->
        <div class="analyse">
            <div th:class="${workerZp.percent1Day > 25} ? 'green' : (${workerZp.percent1Day >= 0} ?  'blue' : (${workerZp.percent1Day > -25} ? 'yellow' : 'red'))">
                <div class="status">
                    <div class="info" th:object="${workerZp}">
                        <h3>За вчера</h3>
                        <h1 th:text="'$ ' + ${workerZp.sum1Day}">$ 550,024</h1>
                    </div>
                    <div class="progresss">
                        <svg>
                            <circle class="progress-bar" th:data-percent="${workerZp.percent1Day}" th:append="${workerZp.percent1Day > 25} ? 'green' : (${workerZp.percent1Day >= 0} ?  'blue' : (${workerZp.percent1Day > -25} ? 'yellow' : 'red'))"  cx="38" cy="38" r="36"></circle>
                        </svg>
                        <div class="percentage">
                            <p th:text="${workerZp.percent1Day} + ' %'">+81%</p>
                        </div>
                    </div>
                </div>
            </div>
            <div th:class="${workerZp.percent1Week > 25} ? 'green' : (${workerZp.percent1Week >= 0} ?  'blue' : (${workerZp.percent1Week > -25} ? 'yellow' : 'red'))">
                <div class="status">
                    <div class="info">
                        <h3>За неделю</h3>
                        <h1 th:text="'$ ' + ${workerZp.sum1Week}">24,981</h1>
                    </div>
                    <div class="progresss">
                        <svg>
                            <circle class="progress-bar" th:data-percent="${workerZp.percent1Week}" th:append="${workerZp.percent1Week > 25} ? 'green' : (${workerZp.percent1Week >= 0} ?  'blue' : (${workerZp.percent1Week > -25} ? 'yellow' : 'red'))"  cx="38" cy="38" r="36"></circle>
                        </svg>
                        <div class="percentage">
                            <p th:text="${workerZp.percent1Week} + ' %'">-48%</p>
                        </div>
                    </div>
                </div>
            </div>
            <div th:class="${workerZp.percent1Month > 25} ? 'green' : (${workerZp.percent1Month >= 0} ?  'blue' : (${workerZp.percent1Month > -25} ? 'yellow' : 'red'))">
                <div class="status">
                    <div class="info">
                        <h3>За месяц</h3>
                        <h1 th:text="'$ ' + ${workerZp.sum1Month}">$ 3,115</h1>
                    </div>
                    <div class="progresss">
                        <svg>
                            <circle class="progress-bar" th:data-percent="${workerZp.percent1Month}" th:append="${workerZp.percent1Month > 25} ? 'green' : (${workerZp.percent1Month >= 0} ?  'blue' : (${workerZp.percent1Month > -25} ? 'yellow' : 'red'))"  cx="38" cy="38" r="36"></circle>
                        </svg>
                        <div class="percentage">
                            <p th:text="${workerZp.percent1Month} + ' %'">+21%</p>
                        </div>
                    </div>
                </div>
            </div>
            <div th:class="${workerZp.percent1Year > 25} ? 'green' : (${workerZp.percent1Year >= 0} ?  'blue' : (${workerZp.percent1Year > -25} ? 'yellow' : 'red'))">
                <div class="status">
                    <div class="info">
                        <h3>За год</h3>
                        <h1 th:text="'$ ' + ${workerZp.sum1Year}">$ 550,024</h1>
                    </div>
                    <div class="progresss">
                    
                        <svg>
                            <circle class="progress-bar" th:data-percent="${workerZp.percent1Year}" th:append="${workerZp.percent1Year > 25} ? 'green' : (${workerZp.percent1Year >= 0} ?  'blue' : (${workerZp.percent1Year > -25} ? 'yellow' : 'red'))"  cx="38" cy="38" r="36"></circle>
                        </svg>
                        
                        <div class="percentage">
                            <p th:text="${workerZp.percent1Year} + ' %'">+81%</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sales">
                <div class="status">
                    <div class="info">
                        <h3>Заказов за месяц</h3>
                        <h1 th:text=" ${workerZp.sumOrders1Month}">1 шт.</h1>
                    </div>
                    <div class="progresss">
                        <svg>
                            <circle cx="38" cy="38" r="36"></circle>
                        </svg>
                        <div class="percentage">
                            <p>+81%</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sales">
                <div class="status">
                    <div class="info">
                        <h3>Заказов за год</h3>
                        <h1 th:text="${workerZp.sumOrders1Year}">10 шт./h1>
                    </div>
                    <div class="progresss">
                        <svg>
                            <circle cx="38" cy="38" r="36"></circle>
                        </svg>
                        <div class="percentage">
                            <p>+81%</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Аналитика -->
</section>