<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Квесты Иркутск Ангарск</title>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="lib/owlcarousel/owl.carousel.min.css">
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" href="css/responsive.css">
		<link rel="canonical" href="https://naigru.ru/kvesty.html">

		<!-- favicon -->
		<link rel="apple-touch-icon" sizes="180x180" href="favicon_io/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="favicon_io/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="favicon_io/favicon-16x16.png">
		<link rel="manifest" href="favicon_io/site.webmanifest">
		<!-- favicon -->

				<!-- keywords-->
<meta name="keywords" content="Детские квесты в иркутске и ангарске ">
<!-- keywords-->

<!-- description-->
<meta name="description" content="Детские квесты на любой возраст, смешные и добрые квесты для самых маленьких ребятишек и таинственные, пугающие квесты для ребят постарше">
<!-- description-->

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
	(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
	m[i].l=1*new Date();
	for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
	k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
	(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
 
	ym(74893675, "init", {
		 clickmap:true,
		 trackLinks:true,
		 accurateTrackBounce:true
	});
 </script>
 <noscript><div><img src="https://mc.yandex.ru/watch/74893675" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
 <!-- /Yandex.Metrika counter -->

 	<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LZPSBKQS5M"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LZPSBKQS5M');
</script>

	</head>
		
	<body class="page">
		<div class="page__row">
			<div class="page__cell">
				<header class="header">
					<div class="header__logo">
						<a href="index.html" class="logo">
						<img class="logo__picture" src="images/logo.png" width="350" height="50" alt="">
						</a>
					</div>

					<div class="header__contact">
						<div class="header__phone-number">
						<a href="tel:+79016668881" class="phone-number">8 (901) 666-888-1</a>
						</div>
					<div class="header__email-adress">
						<a href="mailto:iquest@mail.ru" class="email-address">iquest@mail.ru</a>
					</div>
				</header>
					<div class="zagolovok">	
						<h1> ЦЕНТР ДЕТСКИХ РАЗВЛЕЧЕНИЙ </h1>
					</div>
			</div>
		</div>
		<div class="page__row">
			<div class="page__cell">
				<nav class="nav">	
					<div class="nav__btn">
						<button data-target="#nav-main" type="button" class="btn-nav">
							<span class="btn-nav__line"></span>
							<span class="btn-nav__line"></span>
							<span class="btn-nav__line"></span>
						</button>
					</div>
					<ul class="nav__list" id="nav-main">
						<li class="mev__item">
							<a href="index.html" class="nav__link link">
								Главная
							</a>
						</li>
						<li class="mev__item">
							<a href="dr-pod-kluch.html" class="nav__link link">
								День рождения под ключ
							</a>
						</li>
						<li class="mev__item">
							<a href="#" class="nav__link  link">
								Квесты
							</a>
						</li>
						<li class="mev__item">
							<a href="lasertag.html" class="nav__link  link">
								Лазертаг
							</a>
						</li>
						<li class="mev__item">
							<a href="nerf.html" class="nav__link  link">
								Нерф
							</a>
						</li>
						<li class="mev__item">
							<a href="among.html" class="nav__link  link">
								Амонг Ас
							</a>
						</li>
						<li class="mev__item">
							<a href="karting.html" class="nav__link  link">
								Картинг
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>


  			<div class="slider__item" style="background-image: url(images/Kvest.webp)" alt="Квесты Иркутска и Ангарска"></div>
  						

  		<div class="page__row">

  			<section class="section">
  					<h2 class="headline">КВЕСТЫ</h2>
  				
  					<p class="text"><b>БЕСПЛАТНАЯ ЧАЙНАЯ ЗОНА ДО 30 ЧЕЛ.  ИМЕНИННИКУ</b> 

<br><br> ♻ ВИДЫ ПРОГРАММ. ИРКУТСК:<br><br>

Совсем юным авантюристам подойдёт квест <b>"ПИРАТЫ"</b>! ⛵Их ждёт ряд интересных испытаний, пройдя которые победитель получит долгожданную свободу... или останется в заточении на целый век! 🚪
<br><br>

Любителям настоящего волшебства, мы предлагаем сказочный и увлекательный квест <b>"ГАРРИ ПОТТЕР"!</b>🎃 Коридоры полные тайн и магических приключений ждут своего смелого героя! 😎<br><br>

Тем, кто уже готов к более отважным приключениям подойдет <b>ЗАМОК ДРАКУЛЫ!</b>🔥 Квест в  таинственном и мрачном замке наших гостей ждёт мир мистики и фантастики, со своими загадочными тайнами и неожиданными поворотами! ⚡<br><br>

Квест <b>КОСМИЧЕСКИЙ КОРАБЛЬ</b> - первый квест с несколькими концовками. Побывайте на настоящем космическом корабле терпящем бедствие. Найдите способ восстановить управление и не забывайте о тайном грузе в трюме, ведь возможно вы уже не одни на этом корабле.
<br><br>

Хотите не много юмора и дисциплины? Вам в квест <b>ТЮРЬМА!</b> В квесте настоящая тюремная камера с системой охраны и актерами наблюдателями. Предстоит хорошо попотеть, чтобы их обойти и выбраться на свободу.
<br><br>

Для ребят по старше (12+) подойдет страшный квест начального уровня с Актером квест <b>"ОНО"</b> с Актером! Это квест по одноименному произведению короля ужасов Стивену Кингу, в котором вас ждут не только потрясающие декорации, но и настоящее сражение с самым страшным существом 20-го века.
<br><br>

Для опытный игроков, страшный квест <b>ЛОБОТОМИЯ</b>. Место в котором нужно не сойти с ума от страха и продержаться 1 час в проклятом замке, где обитают ожившие мифы, призраки и чудовища!
<br><br>

И, наконец, самый страшный и самый большой квест в области - квест <b>"ЦИТАДЕЛЬ"</b> - это научная станция, где в ходе провалившихся экспериментов наплодилась целая армия зомби. Ваш отряд спустится в самое пекло этого зла и постарается выжить, ну или хотя бы не умереть слишком быстро.))
<br><br>




  				</section>

<section class="section">
  					<h2 class="headline">ОБЩИЕ УСЛОВИЯ
  					</h2>
  					<div class="advantage">
  						<div class="advantage__item">
  							<span class="icon-circle advantage__icon">
  								<img src="images/icon 1.png" alt="почта" class="icon-circle_picture">
  							</span>
  							<h3 class="advantage__headline">Стоимость</h3>
  							<div class="advantage__description">
  								1000 руб./чел.<br> за 1 час игры с аниматором
  							</div>
  						</div>
  					
  						<div class="advantage__item">
  							<span class="icon-circle advantage__icon">
  								<img src="images/icon 2.png" alt="почта" class="icon-circle_picture">
  							</span>
  							<h3 class="advantage__headline">Возраст и количество игроков</h3>
  							<div class="advantage__description">
  								С 7+ лет.<br> От 4-х до 20-ти человек.
  							</div>
  						</div>
  						<div class="advantage__item">
  							<span class="icon-circle advantage__icon">
  								<img src="images/icon 3.png" alt="почта" class="icon-circle_picture">
  							</span>
  							<h3 class="advantage__headline">Адрес</h3>
  							<div class="advantage__description">
								г. Иркутск, мк-н, Юбилейный, 17.<br>
								г. Иркутск, ул. Баррикад, 33.<br>
  								г. Иркутск, ул. Дорожная, 1/1.<br>
  								г. Ангарск, ул. Восточная, 10А.<br>
  							</div>
  						</div>
  					</div>	
  					</div>
  					
  	</section>
  			
  				

  				<section class="section">
  					<h2 class="headline">Популярные развлечения</h2>
  					<div class="grid">
  						<div class="grid__item">
  							<a href="dr-pod-kluch.html" class="grid__link">
  								<img src="images/pod kluch irkutsk.webp" alt="праздник под ключ иркутск" class="grid__picture">
  								<div class="grid__overlay">
  									<div class="grid__text">
  										День рождения под ключ
  									</div>
  								</div>
  							</a>
  						</div>
  						<div class="grid__item">
  							<a href="vipusknoy.html" class="grid__link">
  								<img src="images/noviy god irkutsk.webp" alt="новый год и выпускной иркутск" class="grid__picture">
  								<div class="grid__overlay">
  									<div class="grid__text">
  										Новый год и Школьный выпускной
  									</div>
  								</div>
  							</a>
  						</div>
  						<div class="grid__item">
  							<a href="kvesty.html" class="grid__link">
  								<img src="images/kvesty irkutsk.webp" alt="Квесты иркутск" class="grid__picture">
  								<div class="grid__overlay">
  									<div class="grid__text">
  										Квесты
  									</div>
  								</div>
  							</a>
  						</div>
  						<div class="grid__item">
  							<a href="lasertag.html" class="grid__link">
  								<img src="images/lasertag irkutsk.webp" alt="Лазертаг Иркутск" class="grid__picture">
  								<div class="grid__overlay">
  									<div class="grid__text">
  										Лазертаг
  									</div>
  								</div>
  							</a>
  						</div>
  						<div class="grid__item">
  							<a href="nerf.html" class="grid__link">
  								<img src="images/nerf irkutsk.webp" alt="нерф иркутск" class="grid__picture">
  								<div class="grid__overlay">
  									<div class="grid__text">
  										Нерф Арена
  									</div>
  								</div>
  							</a>
  						</div>
  						<div class="grid__item">
  							<a href="among.html" class="grid__link">
  								<img src="images/pryatky irkutsk.webp" alt="прятки в темноте" class="grid__picture">
  								<div class="grid__overlay">
  									<div class="grid__text">
  										Амонг Ас
  									</div>
  								</div>
  							</a>
  						</div>
  					</div>
  				</section>
  				




		<div class="page__row">
  			<div class="page__cell">
  				<section class="section">
  					<h2 class="headline"><a href="tel:+79016668881" class="phone-number">8 (901) 666-888-1</a></h2>
					
  					<p class="text"><b>Кликайте по номеру и звоните в любое время с 11-00 до 22-00</b> 

<br><br> И помните, не тратьтесь на аренду кафе и весело отпразднуйте день рождения в наших помещениях на 20 чел. Пока дети играют, мы предложим вам фильмы, чай и настольные игры.<br><br>
  				</section>
		<div class="page__row- page__row-footer">
			<footer class="footer">
				<div class="footer__copyright">
					IQuest &copy 2015 <br>
					<a class="footer__link" href="http:iq-iquest.com">iq-iquest.com</a>
				</div>
			</footer>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="lib/owlcarousel/owl.carousel.min.js"></script>
		<script src="js/script.js"></script>
	</body>
</html>

	